/*======= Input field =======*/
a:focus,
.slick-initialized .slick-slide:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

input:focus {
    box-shadow: none;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input,
select,
textarea,
.nice-select {
    width: 100%;
    height: 65px;
    padding: 0 30px;
    background-color: $color-soft-grey;
    border: none;
    color: $color-body;
    border-radius: 0;
    font-size: 16px;
}

textarea {
    padding-top: 20px;
    height: 200px;
    display: inherit;
}

.nice-select {
    display: flex;
    align-items: center;

    .list {
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid $color-soft-grey-2;

        .option {
            padding: 5px 30px;
            font-size: 16px;
            height: auto;

            &:hover,
            &.selected {
                background-color: $color-soft-grey-2;
            }

            &:hover,
            &.focus,
            &.selected.focus {
                background-color: $color-soft-grey-2;
            }

            &.selected {
                font-weight: normal;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $color-soft-grey-2;
            }
        }
    }

    &::after {
        content: "\f107";
        border: none;
        position: absolute;
        line-height: 1;
        right: 30px;
        top: 0;
        transform: rotate(0);
        height: 100%;
        display: flex;
        align-items: center;
        transform-origin: unset;
        width: auto;
        margin: 0;
        font: {
            size: 15px;
            weight: 800;
            family: "Font Awesome 5 Pro";
        }
    }

    &.open::after {
        transform: rotate(180deg);
    }
}
