- var theme_customizer      = true;
- var tooltip               = true;
- var calendar              = true;
- var calendar_init         = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Calender Weekly
                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Apps
                                      li.breadcrumb-item.active Calender Weekly
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card.box-shadow-title
                            .card-header
                              h5 Calender Monthly                           
                            .card-body
                              .code-html
                                #menu
                                  span#menu-navi
                                    button.btn.btn-default.btn-sm.move-today(type='button', data-action='move-today') Today
                                    button.btn.btn-default.btn-sm.move-day(type='button', data-action='move-prev')
                                      i.calendar-icon.ic-arrow-line-left(data-action='move-prev')
                                    button.btn.btn-default.btn-sm.move-day(type='button', data-action='move-next')
                                      i.calendar-icon.ic-arrow-line-right(data-action='move-next')
                                  span#renderRange.render-range
                                #calendar



                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
