- var theme_customizer      = true;
- var tooltip               = true;
- var theme_customizer      = true;
- var touchspin             = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Cart
                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Ecommerce
                                      li.breadcrumb-item.active Cart
                                  
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Cart
                            .card-body
                              .row
                                  .order-history.table-responsive.wishlist
                                      table.table.table-bordered
                                        thead
                                          tr
                                            th Prdouct
                                            th Prdouct Name
                                            th Price
                                            th Quantity
                                            th Action
                                            th Total
                                        tbody
                                          tr
                                            td
                                              img.img-fluid.img-40(src='../assets/images/product/1.png' alt='#')
                                            td
                                              .product-name
                                                a(href='#') Long Top
                                            td $21
                                            td
                                              fieldset.qty-box
                                                .input-group
                                                  input.touchspin.text-center(type='text' value='5')
                                            td
                                              i(data-feather='x-circle')
                                            td $12456
                                          tr
                                            td
                                              img.img-fluid.img-40(src='../assets/images/product/13.png' alt='#')
                                            td
                                              .product-name
                                                a(href='#') Fancy watch
                                            td $50
                                            td
                                              fieldset.qty-box
                                                .input-group
                                                  input.touchspin.text-center(type='text' value='5')
                                            td
                                              i(data-feather='x-circle')
                                            td $12456
                                          tr
                                            td
                                              img.img-fluid.img-40(src='../assets/images/product/4.png' alt='#')
                                            td
                                              .product-name
                                                a(href='#') Man shoes
                                            td $11
                                            td
                                              fieldset.qty-box
                                                .input-group
                                                  input.touchspin.text-center(type='text' value='5')
                                            td
                                              i(data-feather='x-circle')
                                            td $12456
                                          tr
                                            td(colspan='4')                                            
                                              .input-group
                                                input.form-control.mr-2(type='text' placeholder='Enter coupan code')
                                                a.btn.btn-primary(href='#') Apply
                                            td.total-amount
                                              h6.m-0.text-right
                                                span.f-w-600 Total Price :
                                            td
                                              span $6935.00  
                                          tr
                                            td.text-right(colspan='5')
                                              a.btn.btn-secondary.cart-btn-transform(href='#') continue shopping
                                            td
                                              a.btn.btn-success(href="").cart-btn-transform check out

                            // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
