- var theme_customizer      = true;
- var tooltip               = true;
- var ckeditor              = true;
- var page_ckeditor         = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Ck Editor

                                .col-6
                                      ol.breadcrumb
                                        li.breadcrumb-item
                                          a(href='index.html')                                        
                                            i(data-feather="home")
                                        li.breadcrumb-item Editors
                                        li.breadcrumb-item.active Ck Editor
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Ck Editor
                            .card-body
                              textarea#editor1(name='editor1', cols='30', rows='10')
                                | <h2>Technical details <a id="tech-details" name="tech-details"></a></h2>
                                | <table align="right" border="1" cellpadding="5" cellspacing="0">
                                | <caption><strong>Mission crew</strong></caption>
                                | <thead>
                                | <tr>
                                | <th scope="col">Position</th>
                                | <th scope="col">Astronaut</th>
                                | </tr>
                                | </thead>
                                | <tbody>
                                | <tr>
                                | <td>Commander</td>
                                | <td>Neil A. Armstrong</td>
                                | </tr>
                                | <tr>
                                | <td>Command Module Pilot</td>
                                | <td>Michael Collins</td>
                                | </tr>
                                | <tr>
                                | <td>Lunar Module Pilot</td>
                                | <td>Edwin "Buzz" E. Aldrin, Jr.</td>
                                | </tr>
                                | </tbody>
                                | </table>
                                | <p>Launched by a <strong>Saturn V</strong> rocket from <a href="#">Kennedy Space Center</a> in Merritt Island, Florida on July 16, Apollo 11 was the fifth manned mission of <a href="#">NASA</a>'s Apollo program. The Apollo spacecraft had three parts:</p>
                                | <ol>
                                | <li><strong>Command Module</strong> with a cabin for the three astronauts which was the only part which landed back on Earth</li>
                                | <li><strong>Service Module</strong> which supported the Command Module with propulsion, electrical power, oxygen and water</li>
                                | <li><strong>Lunar Module</strong> for landing on the Moon.</li>
                                | </ol>
                                | <p>After being sent to the Moon by the Saturn V's upper stage, the astronauts separated the spacecraft from it and travelled for three days until they entered into lunar orbit. Armstrong and Aldrin then moved into the Lunar Module and landed in the <a href="#">Sea of Tranquility</a>. They stayed a total of about 21 and a half hours on the lunar surface. After lifting off in the upper part of the Lunar Module and rejoining Collins in the Command Module, they returned to Earth and landed in the <a href="#">Pacific Ocean</a> on July 24.</p>
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Inline Editor
                            .card-body
                              #area1(contenteditable='true')
                                h1 Your title
                                p
                                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at vulputate urna, sed dignissim arcu. Aliquam at ligula imperdiet, faucibus ante a, interdum enim. Sed in mauris a lectus lobortis condimentum. Sed in nunc magna. Quisque massa urna, cursus vitae commodo eget, rhoncus nec erat. Sed sapien turpis, elementum sit amet elit vitae, elementum gravida eros. In ornare tempus nibh ut lobortis. Nam venenatis justo ex, vitae vulputate neque laoreet a.
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
