- var theme_customizer      = true;
- var tooltip               = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Creative Card

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item  Bonus Ui
                                      li.breadcrumb-item.active Creative Card
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-primary
                              h5 Border left
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-r-secondary
                              h5 Border right
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-t-success
                              h5 Border top
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-b-info
                              h5 Border bottom
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-warning
                              h5 Border color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-danger
                              h5 Border color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-light
                              h5 Border color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-primary
                              h5 Border color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-secondary.border-2
                              h5 Border color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card
                            .card-header.b-l-primary.border-3
                              h5 Border color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card.card-absolute
                            .card-header.bg-primary
                              h5.text-white Absolute Style
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        .col-sm-12.col-xl-6
                          .card.card-absolute
                            .card-header.bg-secondary
                              h5.text-white Color state
                            .card-body
                              p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
