- var theme_customizer      = true;
- var tooltip               = true;
- var page_feather_icon     = true;
- var notify                = true;
- var icon_notify           = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Feather Icons

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active Feather Icons
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Feather Icons
                            .card-body
                              .row.icon-lists.feather-icons
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='activity')
                                    .media-body.align-self-center
                                      h6.mt-0 activity
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='airplay')
                                    .media-body.align-self-center
                                      h6.mt-0 airplay
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='alert-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 alert-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='alert-octagon')
                                    .media-body.align-self-center
                                      h6.mt-0 alert-octagon
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='alert-triangle')
                                    .media-body.align-self-center
                                      h6.mt-0 alert-triangle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='align-center')
                                    .media-body.align-self-center
                                      h6.mt-0 align-center
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='align-justify')
                                    .media-body.align-self-center
                                      h6.mt-0 align-justify
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='align-left')
                                    .media-body.align-self-center
                                      h6.mt-0 align-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='align-right')
                                    .media-body.align-self-center
                                      h6.mt-0 align-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='anchor')
                                    .media-body.align-self-center
                                      h6.mt-0 anchor
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='aperture')
                                    .media-body.align-self-center
                                      h6.mt-0 aperture
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='archive')
                                    .media-body.align-self-center
                                      h6.mt-0 archive
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-down-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-down-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-down-left')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-down-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-down-right')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-down-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-down')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-left-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-left-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-left')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-right-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-right-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-right')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-up-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-up-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-up-left')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-up-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-up-right')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-up-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='arrow-up')
                                    .media-body.align-self-center
                                      h6.mt-0 arrow-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='at-sign')
                                    .media-body.align-self-center
                                      h6.mt-0 at-sign
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='award')
                                    .media-body.align-self-center
                                      h6.mt-0 award
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bar-chart-2')
                                    .media-body.align-self-center
                                      h6.mt-0 bar-chart-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bar-chart')
                                    .media-body.align-self-center
                                      h6.mt-0 bar-chart
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='battery-charging')
                                    .media-body.align-self-center
                                      h6.mt-0 battery-charging
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='battery')
                                    .media-body.align-self-center
                                      h6.mt-0 battery
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bell-off')
                                    .media-body.align-self-center
                                      h6.mt-0 bell-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bell')
                                    .media-body.align-self-center
                                      h6.mt-0 bell
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bluetooth')
                                    .media-body.align-self-center
                                      h6.mt-0 bluetooth
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bold')
                                    .media-body.align-self-center
                                      h6.mt-0 bold
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='book-open')
                                    .media-body.align-self-center
                                      h6.mt-0 book-open
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='book')
                                    .media-body.align-self-center
                                      h6.mt-0 book
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='bookmark')
                                    .media-body.align-self-center
                                      h6.mt-0 bookmark
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='box')
                                    .media-body.align-self-center
                                      h6.mt-0 box
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='briefcase')
                                    .media-body.align-self-center
                                      h6.mt-0 briefcase
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='calendar')
                                    .media-body.align-self-center
                                      h6.mt-0 calendar
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='camera-off')
                                    .media-body.align-self-center
                                      h6.mt-0 camera-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='camera')
                                    .media-body.align-self-center
                                      h6.mt-0 camera
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cast')
                                    .media-body.align-self-center
                                      h6.mt-0 cast
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='check-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 check-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='check-square')
                                    .media-body.align-self-center
                                      h6.mt-0 check-square
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='check')
                                    .media-body.align-self-center
                                      h6.mt-0 check
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevron-down')
                                    .media-body.align-self-center
                                      h6.mt-0 chevron-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevron-left')
                                    .media-body.align-self-center
                                      h6.mt-0 chevron-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevron-right')
                                    .media-body.align-self-center
                                      h6.mt-0 chevron-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevron-up')
                                    .media-body.align-self-center
                                      h6.mt-0 chevron-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevrons-down')
                                    .media-body.align-self-center
                                      h6.mt-0 chevrons-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevrons-left')
                                    .media-body.align-self-center
                                      h6.mt-0 chevrons-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevrons-right')
                                    .media-body.align-self-center
                                      h6.mt-0 chevrons-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chevrons-up')
                                    .media-body.align-self-center
                                      h6.mt-0 chevrons-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='chrome')
                                    .media-body.align-self-center
                                      h6.mt-0 chrome
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='circle')
                                    .media-body.align-self-center
                                      h6.mt-0 circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='clipboard')
                                    .media-body.align-self-center
                                      h6.mt-0 clipboard
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='clock')
                                    .media-body.align-self-center
                                      h6.mt-0 clock
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cloud-drizzle')
                                    .media-body.align-self-center
                                      h6.mt-0 cloud-drizzle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cloud-lightning')
                                    .media-body.align-self-center
                                      h6.mt-0 cloud-lightning
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cloud-off')
                                    .media-body.align-self-center
                                      h6.mt-0 cloud-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cloud-rain')
                                    .media-body.align-self-center
                                      h6.mt-0 cloud-rain
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cloud-snow')
                                    .media-body.align-self-center
                                      h6.mt-0 cloud-snow
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cloud')
                                    .media-body.align-self-center
                                      h6.mt-0 cloud
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='code')
                                    .media-body.align-self-center
                                      h6.mt-0 code
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='codepen')
                                    .media-body.align-self-center
                                      h6.mt-0 codepen
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='coffee')
                                    .media-body.align-self-center
                                      h6.mt-0 coffee
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='command')
                                    .media-body.align-self-center
                                      h6.mt-0 command
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='compass')
                                    .media-body.align-self-center
                                      h6.mt-0 compass
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='copy')
                                    .media-body.align-self-center
                                      h6.mt-0 copy
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-down-left')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-down-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-down-right')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-down-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-left-down')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-left-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-left-up')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-left-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-right-down')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-right-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-right-up')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-right-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-up-left')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-up-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='corner-up-right')
                                    .media-body.align-self-center
                                      h6.mt-0 corner-up-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='cpu')
                                    .media-body.align-self-center
                                      h6.mt-0 cpu
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='credit-card')
                                    .media-body.align-self-center
                                      h6.mt-0 credit-card
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='crop')
                                    .media-body.align-self-center
                                      h6.mt-0 crop
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='crosshair')
                                    .media-body.align-self-center
                                      h6.mt-0 crosshair
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='database')
                                    .media-body.align-self-center
                                      h6.mt-0 database
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='delete')
                                    .media-body.align-self-center
                                      h6.mt-0 delete
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='disc')
                                    .media-body.align-self-center
                                      h6.mt-0 disc
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='dollar-sign')
                                    .media-body.align-self-center
                                      h6.mt-0 dollar-sign
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='download-cloud')
                                    .media-body.align-self-center
                                      h6.mt-0 download-cloud
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='download')
                                    .media-body.align-self-center
                                      h6.mt-0 download
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='droplet')
                                    .media-body.align-self-center
                                      h6.mt-0 droplet
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='edit-2')
                                    .media-body.align-self-center
                                      h6.mt-0 edit-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='edit-3')
                                    .media-body.align-self-center
                                      h6.mt-0 edit-3
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='edit')
                                    .media-body.align-self-center
                                      h6.mt-0 edit
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='external-link')
                                    .media-body.align-self-center
                                      h6.mt-0 external-link
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='eye-off')
                                    .media-body.align-self-center
                                      h6.mt-0 eye-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='eye')
                                    .media-body.align-self-center
                                      h6.mt-0 eye
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='facebook')
                                    .media-body.align-self-center
                                      h6.mt-0 facebook
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='fast-forward')
                                    .media-body.align-self-center
                                      h6.mt-0 fast-forward
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='feather')
                                    .media-body.align-self-center
                                      h6.mt-0 feather
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='file-minus')
                                    .media-body.align-self-center
                                      h6.mt-0 file-minus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='file-plus')
                                    .media-body.align-self-center
                                      h6.mt-0 file-plus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='file-text')
                                    .media-body.align-self-center
                                      h6.mt-0 file-text
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='file')
                                    .media-body.align-self-center
                                      h6.mt-0 file
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='film')
                                    .media-body.align-self-center
                                      h6.mt-0 film
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='filter')
                                    .media-body.align-self-center
                                      h6.mt-0 filter
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='flag')
                                    .media-body.align-self-center
                                      h6.mt-0 flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='folder-minus')
                                    .media-body.align-self-center
                                      h6.mt-0 folder-minus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='folder-plus')
                                    .media-body.align-self-center
                                      h6.mt-0 folder-plus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='folder')
                                    .media-body.align-self-center
                                      h6.mt-0 folder
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='gift')
                                    .media-body.align-self-center
                                      h6.mt-0 gift
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='git-branch')
                                    .media-body.align-self-center
                                      h6.mt-0 git-branch
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='git-commit')
                                    .media-body.align-self-center
                                      h6.mt-0 git-commit
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='git-merge')
                                    .media-body.align-self-center
                                      h6.mt-0 git-merge
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='git-pull-request')
                                    .media-body.align-self-center
                                      h6.mt-0 git-pull-request
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='github')
                                    .media-body.align-self-center
                                      h6.mt-0 github
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='gitlab')
                                    .media-body.align-self-center
                                      h6.mt-0 gitlab
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='globe')
                                    .media-body.align-self-center
                                      h6.mt-0 globe
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='grid')
                                    .media-body.align-self-center
                                      h6.mt-0 grid
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='hard-drive')
                                    .media-body.align-self-center
                                      h6.mt-0 hard-drive
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='hash')
                                    .media-body.align-self-center
                                      h6.mt-0 hash
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='headphones')
                                    .media-body.align-self-center
                                      h6.mt-0 headphones
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='heart')
                                    .media-body.align-self-center
                                      h6.mt-0 heart
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='help-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 help-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='home')
                                    .media-body.align-self-center
                                      h6.mt-0 home
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='image')
                                    .media-body.align-self-center
                                      h6.mt-0 image
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='inbox')
                                    .media-body.align-self-center
                                      h6.mt-0 inbox
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='info')
                                    .media-body.align-self-center
                                      h6.mt-0 info
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='instagram')
                                    .media-body.align-self-center
                                      h6.mt-0 instagram
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='italic')
                                    .media-body.align-self-center
                                      h6.mt-0 italic
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='layers')
                                    .media-body.align-self-center
                                      h6.mt-0 layers
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='layout')
                                    .media-body.align-self-center
                                      h6.mt-0 layout
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='life-buoy')
                                    .media-body.align-self-center
                                      h6.mt-0 life-buoy
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='link-2')
                                    .media-body.align-self-center
                                      h6.mt-0 link-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='link')
                                    .media-body.align-self-center
                                      h6.mt-0 link
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='linkedin')
                                    .media-body.align-self-center
                                      h6.mt-0 linkedin
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='list')
                                    .media-body.align-self-center
                                      h6.mt-0 list
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='loader')
                                    .media-body.align-self-center
                                      h6.mt-0 loader
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='lock')
                                    .media-body.align-self-center
                                      h6.mt-0 lock
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='log-in')
                                    .media-body.align-self-center
                                      h6.mt-0 log-in
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='log-out')
                                    .media-body.align-self-center
                                      h6.mt-0 log-out
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='mail')
                                    .media-body.align-self-center
                                      h6.mt-0 mail
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='map-pin')
                                    .media-body.align-self-center
                                      h6.mt-0 map-pin
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='map')
                                    .media-body.align-self-center
                                      h6.mt-0 map
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='maximize-2')
                                    .media-body.align-self-center
                                      h6.mt-0 maximize-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='maximize')
                                    .media-body.align-self-center
                                      h6.mt-0 maximize
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='menu')
                                    .media-body.align-self-center
                                      h6.mt-0 menu
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='message-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 message-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='message-square')
                                    .media-body.align-self-center
                                      h6.mt-0 message-square
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='mic-off')
                                    .media-body.align-self-center
                                      h6.mt-0 mic-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='mic')
                                    .media-body.align-self-center
                                      h6.mt-0 mic
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='minimize-2')
                                    .media-body.align-self-center
                                      h6.mt-0 minimize-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='minimize')
                                    .media-body.align-self-center
                                      h6.mt-0 minimize
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='minus-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 minus-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='minus-square')
                                    .media-body.align-self-center
                                      h6.mt-0 minus-square
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='minus')
                                    .media-body.align-self-center
                                      h6.mt-0 minus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='monitor')
                                    .media-body.align-self-center
                                      h6.mt-0 monitor
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='moon')
                                    .media-body.align-self-center
                                      h6.mt-0 moon
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='more-horizontal')
                                    .media-body.align-self-center
                                      h6.mt-0 more-horizontal
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='more-vertical')
                                    .media-body.align-self-center
                                      h6.mt-0 more-vertical
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='move')
                                    .media-body.align-self-center
                                      h6.mt-0 move
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='music')
                                    .media-body.align-self-center
                                      h6.mt-0 music
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='navigation-2')
                                    .media-body.align-self-center
                                      h6.mt-0 navigation-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='navigation')
                                    .media-body.align-self-center
                                      h6.mt-0 navigation
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='octagon')
                                    .media-body.align-self-center
                                      h6.mt-0 octagon
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='package')
                                    .media-body.align-self-center
                                      h6.mt-0 package
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='paperclip')
                                    .media-body.align-self-center
                                      h6.mt-0 paperclip
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='pause-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 pause-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='pause')
                                    .media-body.align-self-center
                                      h6.mt-0 pause
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='percent')
                                    .media-body.align-self-center
                                      h6.mt-0 percent
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone-call')
                                    .media-body.align-self-center
                                      h6.mt-0 phone-call
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone-forwarded')
                                    .media-body.align-self-center
                                      h6.mt-0 phone-forwarded
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone-incoming')
                                    .media-body.align-self-center
                                      h6.mt-0 phone-incoming
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone-missed')
                                    .media-body.align-self-center
                                      h6.mt-0 phone-missed
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone-off')
                                    .media-body.align-self-center
                                      h6.mt-0 phone-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone-outgoing')
                                    .media-body.align-self-center
                                      h6.mt-0 phone-outgoing
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='phone')
                                    .media-body.align-self-center
                                      h6.mt-0 phone
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='pie-chart')
                                    .media-body.align-self-center
                                      h6.mt-0 pie-chart
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='play-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 play-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='play')
                                    .media-body.align-self-center
                                      h6.mt-0 play
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='plus-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 plus-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='plus-square')
                                    .media-body.align-self-center
                                      h6.mt-0 plus-square
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='plus')
                                    .media-body.align-self-center
                                      h6.mt-0 plus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='pocket')
                                    .media-body.align-self-center
                                      h6.mt-0 pocket
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='power')
                                    .media-body.align-self-center
                                      h6.mt-0 power
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='printer')
                                    .media-body.align-self-center
                                      h6.mt-0 printer
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='radio')
                                    .media-body.align-self-center
                                      h6.mt-0 radio
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='refresh-ccw')
                                    .media-body.align-self-center
                                      h6.mt-0 refresh-ccw
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='refresh-cw')
                                    .media-body.align-self-center
                                      h6.mt-0 refresh-cw
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='repeat')
                                    .media-body.align-self-center
                                      h6.mt-0 repeat
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='rewind')
                                    .media-body.align-self-center
                                      h6.mt-0 rewind
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='rotate-ccw')
                                    .media-body.align-self-center
                                      h6.mt-0 rotate-ccw
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='rotate-cw')
                                    .media-body.align-self-center
                                      h6.mt-0 rotate-cw
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='rss')
                                    .media-body.align-self-center
                                      h6.mt-0 rss
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='save')
                                    .media-body.align-self-center
                                      h6.mt-0 save
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='scissors')
                                    .media-body.align-self-center
                                      h6.mt-0 scissors
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='search')
                                    .media-body.align-self-center
                                      h6.mt-0 search
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='send')
                                    .media-body.align-self-center
                                      h6.mt-0 send
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='server')
                                    .media-body.align-self-center
                                      h6.mt-0 server
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='settings')
                                    .media-body.align-self-center
                                      h6.mt-0 settings
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='share-2')
                                    .media-body.align-self-center
                                      h6.mt-0 share-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='share')
                                    .media-body.align-self-center
                                      h6.mt-0 share
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='shield-off')
                                    .media-body.align-self-center
                                      h6.mt-0 shield-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='shield')
                                    .media-body.align-self-center
                                      h6.mt-0 shield
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='shopping-bag')
                                    .media-body.align-self-center
                                      h6.mt-0 shopping-bag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='shopping-cart')
                                    .media-body.align-self-center
                                      h6.mt-0 shopping-cart
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='shuffle')
                                    .media-body.align-self-center
                                      h6.mt-0 shuffle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='sidebar')
                                    .media-body.align-self-center
                                      h6.mt-0 sidebar
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='skip-back')
                                    .media-body.align-self-center
                                      h6.mt-0 skip-back
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='skip-forward')
                                    .media-body.align-self-center
                                      h6.mt-0 skip-forward
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='slack')
                                    .media-body.align-self-center
                                      h6.mt-0 slack
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='slash')
                                    .media-body.align-self-center
                                      h6.mt-0 slash
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='sliders')
                                    .media-body.align-self-center
                                      h6.mt-0 sliders
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='smartphone')
                                    .media-body.align-self-center
                                      h6.mt-0 smartphone
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='speaker')
                                    .media-body.align-self-center
                                      h6.mt-0 speaker
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='square')
                                    .media-body.align-self-center
                                      h6.mt-0 square
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='star')
                                    .media-body.align-self-center
                                      h6.mt-0 star
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='stop-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 stop-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='sun')
                                    .media-body.align-self-center
                                      h6.mt-0 sun
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='sunrise')
                                    .media-body.align-self-center
                                      h6.mt-0 sunrise
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='sunset')
                                    .media-body.align-self-center
                                      h6.mt-0 sunset
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='tablet')
                                    .media-body.align-self-center
                                      h6.mt-0 tablet
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='tag')
                                    .media-body.align-self-center
                                      h6.mt-0 tag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='target')
                                    .media-body.align-self-center
                                      h6.mt-0 target
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='terminal')
                                    .media-body.align-self-center
                                      h6.mt-0 terminal
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='thermometer')
                                    .media-body.align-self-center
                                      h6.mt-0 thermometer
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='thumbs-down')
                                    .media-body.align-self-center
                                      h6.mt-0 thumbs-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='thumbs-up')
                                    .media-body.align-self-center
                                      h6.mt-0 thumbs-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='toggle-left')
                                    .media-body.align-self-center
                                      h6.mt-0 toggle-left
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='toggle-right')
                                    .media-body.align-self-center
                                      h6.mt-0 toggle-right
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='trash-2')
                                    .media-body.align-self-center
                                      h6.mt-0 trash-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='trash')
                                    .media-body.align-self-center
                                      h6.mt-0 trash
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='trending-down')
                                    .media-body.align-self-center
                                      h6.mt-0 trending-down
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='trending-up')
                                    .media-body.align-self-center
                                      h6.mt-0 trending-up
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='triangle')
                                    .media-body.align-self-center
                                      h6.mt-0 triangle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='truck')
                                    .media-body.align-self-center
                                      h6.mt-0 truck
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='tv')
                                    .media-body.align-self-center
                                      h6.mt-0 tv
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='twitter')
                                    .media-body.align-self-center
                                      h6.mt-0 twitter
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='type')
                                    .media-body.align-self-center
                                      h6.mt-0 type
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='umbrella')
                                    .media-body.align-self-center
                                      h6.mt-0 umbrella
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='underline')
                                    .media-body.align-self-center
                                      h6.mt-0 underline
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='unlock')
                                    .media-body.align-self-center
                                      h6.mt-0 unlock
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='upload-cloud')
                                    .media-body.align-self-center
                                      h6.mt-0 upload-cloud
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='upload')
                                    .media-body.align-self-center
                                      h6.mt-0 upload
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='user-check')
                                    .media-body.align-self-center
                                      h6.mt-0 user-check
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='user-minus')
                                    .media-body.align-self-center
                                      h6.mt-0 user-minus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='user-plus')
                                    .media-body.align-self-center
                                      h6.mt-0 user-plus
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='user-x')
                                    .media-body.align-self-center
                                      h6.mt-0 user-x
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='user')
                                    .media-body.align-self-center
                                      h6.mt-0 user
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='users')
                                    .media-body.align-self-center
                                      h6.mt-0 users
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='video-off')
                                    .media-body.align-self-center
                                      h6.mt-0 video-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='video')
                                    .media-body.align-self-center
                                      h6.mt-0 video
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='voicemail')
                                    .media-body.align-self-center
                                      h6.mt-0 voicemail
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='volume-1')
                                    .media-body.align-self-center
                                      h6.mt-0 volume-1
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='volume-2')
                                    .media-body.align-self-center
                                      h6.mt-0 volume-2
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='volume-x')
                                    .media-body.align-self-center
                                      h6.mt-0 volume-x
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='volume')
                                    .media-body.align-self-center
                                      h6.mt-0 volume
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='watch')
                                    .media-body.align-self-center
                                      h6.mt-0 watch
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='wifi-off')
                                    .media-body.align-self-center
                                      h6.mt-0 wifi-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='wifi')
                                    .media-body.align-self-center
                                      h6.mt-0 wifi
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='wind')
                                    .media-body.align-self-center
                                      h6.mt-0 wind
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='x-circle')
                                    .media-body.align-self-center
                                      h6.mt-0 x-circle
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='x-square')
                                    .media-body.align-self-center
                                      h6.mt-0 x-square
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='x')
                                    .media-body.align-self-center
                                      h6.mt-0 x
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='youtube')
                                    .media-body.align-self-center
                                      h6.mt-0 youtube
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='zap-off')
                                    .media-body.align-self-center
                                      h6.mt-0 zap-off
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='zap')
                                    .media-body.align-self-center
                                      h6.mt-0 zap
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='zoom-in')
                                    .media-body.align-self-center
                                      h6.mt-0 zoom-in
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i(data-feather='zoom-out')
                                    .media-body.align-self-center
                                      h6.mt-0 zoom-out
                    // Container-fluid Ends
                include ../../components/footer
            .icon-hover-bottom.p-fixed.fa-fa-icon-show-div.opecity-0
              .container-fluid
                .row
                  .icon-popup
                    .close-icon
                      i.icofont.icofont-close
                    .icon-first
                      i#icon_main
                    .icon-class
                      label.icon-title data-feather
                      span#fclass1
                    .icon-last.icon-last
                      label.icon-title Markup
                      .form-inline
                        .form-group
                          input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                          button.btn.btn-primary.notification(onclick='myFunction()') Copy text

        include ../../components/footer-files
