- var theme_customizer      = true;
- var tooltip               = true;
- var page_flag_icon        = true;
- var notify                = true;
- var icon_notify           = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Flag Icons

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active Flag Icons
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Flag Icons
                            .card-body
                              .row.icon-lists.flag-icons
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-in
                                    .media-body.align-self-center
                                      h5 IN
                                      h6.mt-0 India Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ad
                                    .media-body.align-self-center
                                      h5 AD
                                      h6.mt-0 Andorra Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ae
                                    .media-body.align-self-center
                                      h5 AE
                                      h6.mt-0 United Arab Emirates Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-af
                                    .media-body.align-self-center
                                      h5 AF
                                      h6.mt-0 Afghanistan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ag
                                    .media-body.align-self-center
                                      h5 AG
                                      h6.mt-0 Antigua and Barbuda Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ai
                                    .media-body.align-self-center
                                      h5 AI
                                      h6.mt-0 Anguilla Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-al
                                    .media-body.align-self-center
                                      h5 AL
                                      h6.mt-0 Albania Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-am
                                    .media-body.align-self-center
                                      h5 AM
                                      h6.mt-0 Armenia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ao
                                    .media-body.align-self-center
                                      h5 AO
                                      h6.mt-0 Angola Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ar
                                    .media-body.align-self-center
                                      h5 AR
                                      h6.mt-0 Argentina Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-as
                                    .media-body.align-self-center
                                      h5 AS
                                      h6.mt-0 American Samoa Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-at
                                    .media-body.align-self-center
                                      h5 AT
                                      h6.mt-0 Austria Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-au
                                    .media-body.align-self-center
                                      h5 AU
                                      h6.mt-0 Australia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-aw
                                    .media-body.align-self-center
                                      h5 AW
                                      h6.mt-0 Aruba Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ax
                                    .media-body.align-self-center
                                      h5 AX
                                      h6.mt-0 Aland Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-az
                                    .media-body.align-self-center
                                      h5 AZ
                                      h6.mt-0 Azerbaijan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ba
                                    .media-body.align-self-center
                                      h5 BA
                                      h6.mt-0 Bosnia and Herzegovina Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bb
                                    .media-body.align-self-center
                                      h5 BB
                                      h6.mt-0 Barbados Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bd
                                    .media-body.align-self-center
                                      h5 BD
                                      h6.mt-0 Bangladesh Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-be
                                    .media-body.align-self-center
                                      h5 BE
                                      h6.mt-0 Belgium Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bf
                                    .media-body.align-self-center
                                      h5 BF
                                      h6.mt-0 Burkina Faso Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bg
                                    .media-body.align-self-center
                                      h5 BG
                                      h6.mt-0 Bulgaria Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bh
                                    .media-body.align-self-center
                                      h5 BH
                                      h6.mt-0 Bahrain Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bi
                                    .media-body.align-self-center
                                      h5 BI
                                      h6.mt-0 Burundi Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bj
                                    .media-body.align-self-center
                                      h5 BJ
                                      h6.mt-0 Benin Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bl
                                    .media-body.align-self-center
                                      h5 BL
                                      h6.mt-0 Saint Barthélemy Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bm
                                    .media-body.align-self-center
                                      h5 BM
                                      h6.mt-0 Bermuda Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bn
                                    .media-body.align-self-center
                                      h5 BN
                                      h6.mt-0 Brunei Darussalam Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bo
                                    .media-body.align-self-center
                                      h5 BO
                                      h6.mt-0 Bolivia (Plurinational State of) Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bq
                                    .media-body.align-self-center
                                      h5 BQ
                                      h6.mt-0 Bonaire, Sint Eustatius and Saba Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-br
                                    .media-body.align-self-center
                                      h5 BR
                                      h6.mt-0 Brazil Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bs
                                    .media-body.align-self-center
                                      h5 BS
                                      h6.mt-0 Bahamas Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bt
                                    .media-body.align-self-center
                                      h5 BT
                                      h6.mt-0 Bhutan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bw
                                    .media-body.align-self-center
                                      h5 BW
                                      h6.mt-0 Botswana Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-by
                                    .media-body.align-self-center
                                      h5 BY
                                      h6.mt-0 Belarus Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-bz
                                    .media-body.align-self-center
                                      h5 BZ
                                      h6.mt-0 Belize Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ca
                                    .media-body.align-self-center
                                      h5 CA
                                      h6.mt-0 Canada Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cc
                                    .media-body.align-self-center
                                      h5 CC
                                      h6.mt-0 Cocos (Keeling) Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cd
                                    .media-body.align-self-center
                                      h5 CD
                                      h6.mt-0 Democratic Republic of the Congo Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cf
                                    .media-body.align-self-center
                                      h5 CF
                                      h6.mt-0 Central African Republic Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cg
                                    .media-body.align-self-center
                                      h5 CG
                                      h6.mt-0 Republic of the Congo Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ch
                                    .media-body.align-self-center
                                      h5 CH
                                      h6.mt-0 Switzerland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ci
                                    .media-body.align-self-center
                                      h5 CI
                                      h6.mt-0 Côte d'Ivoire Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ck
                                    .media-body.align-self-center
                                      h5 CK
                                      h6.mt-0 Cook Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cl
                                    .media-body.align-self-center
                                      h5 CL
                                      h6.mt-0 Chile Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cm
                                    .media-body.align-self-center
                                      h5 CM
                                      h6.mt-0 Cameroon Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cn
                                    .media-body.align-self-center
                                      h5 CN
                                      h6.mt-0 China Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-co
                                    .media-body.align-self-center
                                      h5 CO
                                      h6.mt-0 Colombia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cr
                                    .media-body.align-self-center
                                      h5 CR
                                      h6.mt-0 Costa Rica Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cu
                                    .media-body.align-self-center
                                      h5 CU
                                      h6.mt-0 Cuba Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cv
                                    .media-body.align-self-center
                                      h5 CV
                                      h6.mt-0 Cabo Verde Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cw
                                    .media-body.align-self-center
                                      h5 CW
                                      h6.mt-0 Curaçao Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cx
                                    .media-body.align-self-center
                                      h5 CX
                                      h6.mt-0 Christmas Island Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cy
                                    .media-body.align-self-center
                                      h5 CY
                                      h6.mt-0 Cyprus Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-cz
                                    .media-body.align-self-center
                                      h5 CZ
                                      h6.mt-0 Czech Republic Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-de
                                    .media-body.align-self-center
                                      h5 DE
                                      h6.mt-0 Germany Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-dj
                                    .media-body.align-self-center
                                      h5 DJ
                                      h6.mt-0 Djibouti Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-dk
                                    .media-body.align-self-center
                                      h5 DK
                                      h6.mt-0 Denmark Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-dm
                                    .media-body.align-self-center
                                      h5 DM
                                      h6.mt-0 Dominica Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-do
                                    .media-body.align-self-center
                                      h5 DO
                                      h6.mt-0 Dominican Republic Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-dz
                                    .media-body.align-self-center
                                      h5 DZ
                                      h6.mt-0 Algeria Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ec
                                    .media-body.align-self-center
                                      h5 EC
                                      h6.mt-0 Ecuador Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ee
                                    .media-body.align-self-center
                                      h5 EE
                                      h6.mt-0 Estonia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-eg
                                    .media-body.align-self-center
                                      h5 EG
                                      h6.mt-0 Egypt Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-eh
                                    .media-body.align-self-center
                                      h5 EH
                                      h6.mt-0 Western Sahara Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-er
                                    .media-body.align-self-center
                                      h5 ER
                                      h6.mt-0 Eritrea Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-es
                                    .media-body.align-self-center
                                      h5 ES
                                      h6.mt-0 Spain Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-et
                                    .media-body.align-self-center
                                      h5 ET
                                      h6.mt-0 Ethiopia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-fi
                                    .media-body.align-self-center
                                      h5 FI
                                      h6.mt-0 Finland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-fj
                                    .media-body.align-self-center
                                      h5 FJ
                                      h6.mt-0 Fiji Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-fk
                                    .media-body.align-self-center
                                      h5 FK
                                      h6.mt-0 Falkland Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-fm
                                    .media-body.align-self-center
                                      h5 FM
                                      h6.mt-0 Federated States of Micronesia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-fo
                                    .media-body.align-self-center
                                      h5 FO
                                      h6.mt-0 Faroe Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-fr
                                    .media-body.align-self-center
                                      h5 FR
                                      h6.mt-0 France Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ga
                                    .media-body.align-self-center
                                      h5 GA
                                      h6.mt-0 Gabon Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gb
                                    .media-body.align-self-center
                                      h5 GB
                                      h6.mt-0 United Kingdom Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gd
                                    .media-body.align-self-center
                                      h5 GD
                                      h6.mt-0 Grenada Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ge
                                    .media-body.align-self-center
                                      h5 GE
                                      h6.mt-0 Georgia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gf
                                    .media-body.align-self-center
                                      h5 GF
                                      h6.mt-0 French Guiana Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gg
                                    .media-body.align-self-center
                                      h5 GG
                                      h6.mt-0 Guernsey Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gh
                                    .media-body.align-self-center
                                      h5 GH
                                      h6.mt-0 Ghana Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gi
                                    .media-body.align-self-center
                                      h5 GI
                                      h6.mt-0 Gibraltar Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gl
                                    .media-body.align-self-center
                                      h5 GL
                                      h6.mt-0 Greenland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gm
                                    .media-body.align-self-center
                                      h5 GM
                                      h6.mt-0 Gambia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gn
                                    .media-body.align-self-center
                                      h5 GN
                                      h6.mt-0 Guinea Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gp
                                    .media-body.align-self-center
                                      h5 GP
                                      h6.mt-0 Guadeloupe Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gq
                                    .media-body.align-self-center
                                      h5 GQ
                                      h6.mt-0 Equatorial Guinea Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gr
                                    .media-body.align-self-center
                                      h5 GR
                                      h6.mt-0 Greece Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gs
                                    .media-body.align-self-center
                                      h5 GS
                                      h6.mt-0 South Georgia and the South Sandwich Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gt
                                    .media-body.align-self-center
                                      h5 GT
                                      h6.mt-0 Guatemala Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gu
                                    .media-body.align-self-center
                                      h5 GU
                                      h6.mt-0 Guam Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gw
                                    .media-body.align-self-center
                                      h5 GW
                                      h6.mt-0 Guinea-Bissau Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-gy
                                    .media-body.align-self-center
                                      h5 GY
                                      h6.mt-0 Guyana Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-hk
                                    .media-body.align-self-center
                                      h5 HK
                                      h6.mt-0 Hong Kong Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-hn
                                    .media-body.align-self-center
                                      h5 HN
                                      h6.mt-0 Honduras Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-hr
                                    .media-body.align-self-center
                                      h5 HR
                                      h6.mt-0 Croatia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ht
                                    .media-body.align-self-center
                                      h5 HT
                                      h6.mt-0 Haiti Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-hu
                                    .media-body.align-self-center
                                      h5 HU
                                      h6.mt-0 Hungary Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-id
                                    .media-body.align-self-center
                                      h5 ID
                                      h6.mt-0 Indonesia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ie
                                    .media-body.align-self-center
                                      h5 IE
                                      h6.mt-0 Ireland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-il
                                    .media-body.align-self-center
                                      h5 IL
                                      h6.mt-0 Israel Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-im
                                    .media-body.align-self-center
                                      h5 IM
                                      h6.mt-0 Isle of Man Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-io
                                    .media-body.align-self-center
                                      h5 IO
                                      h6.mt-0 British Indian Ocean Territory Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-iq
                                    .media-body.align-self-center
                                      h5 IQ
                                      h6.mt-0 Iraq Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ir
                                    .media-body.align-self-center
                                      h5 IR
                                      h6.mt-0 Iran (Islamic Republic of) Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-is
                                    .media-body.align-self-center
                                      h5 IS
                                      h6.mt-0 Iceland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-it
                                    .media-body.align-self-center
                                      h5 IT
                                      h6.mt-0 Italy Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-je
                                    .media-body.align-self-center
                                      h5 JE
                                      h6.mt-0 Jersey Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-jm
                                    .media-body.align-self-center
                                      h5 JM
                                      h6.mt-0 Jamaica Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-jo
                                    .media-body.align-self-center
                                      h5 JO
                                      h6.mt-0 Jordan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-jp
                                    .media-body.align-self-center
                                      h5 JP
                                      h6.mt-0 Japan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ke
                                    .media-body.align-self-center
                                      h5 KE
                                      h6.mt-0 Kenya Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kg
                                    .media-body.align-self-center
                                      h5 KG
                                      h6.mt-0 Kyrgyzstan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kh
                                    .media-body.align-self-center
                                      h5 KH
                                      h6.mt-0 Cambodia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ki
                                    .media-body.align-self-center
                                      h5 KI
                                      h6.mt-0 Kiribati Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-km
                                    .media-body.align-self-center
                                      h5 KM
                                      h6.mt-0 Comoros Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kn
                                    .media-body.align-self-center
                                      h5 KN
                                      h6.mt-0 Saint Kitts and Nevis Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kp
                                    .media-body.align-self-center
                                      h5 KP
                                      h6.mt-0 North Korea Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kr
                                    .media-body.align-self-center
                                      h5 KR
                                      h6.mt-0 South Korea Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kw
                                    .media-body.align-self-center
                                      h5 KW
                                      h6.mt-0 Kuwait Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ky
                                    .media-body.align-self-center
                                      h5 KY
                                      h6.mt-0 Cayman Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-kz
                                    .media-body.align-self-center
                                      h5 KZ
                                      h6.mt-0 Kazakhstan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-la
                                    .media-body.align-self-center
                                      h5 LA
                                      h6.mt-0 Laos Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lb
                                    .media-body.align-self-center
                                      h5 LB
                                      h6.mt-0 Lebanon Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lc
                                    .media-body.align-self-center
                                      h5 LC
                                      h6.mt-0 Saint Lucia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-li
                                    .media-body.align-self-center
                                      h5 LI
                                      h6.mt-0 Liechtenstein Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lk
                                    .media-body.align-self-center
                                      h5 LK
                                      h6.mt-0 Sri Lanka Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lr
                                    .media-body.align-self-center
                                      h5 LR
                                      h6.mt-0 Liberia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ls
                                    .media-body.align-self-center
                                      h5 LS
                                      h6.mt-0 Lesotho Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lt
                                    .media-body.align-self-center
                                      h5 LT
                                      h6.mt-0 Lithuania Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lu
                                    .media-body.align-self-center
                                      h5 LU
                                      h6.mt-0 Luxembourg Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-lv
                                    .media-body.align-self-center
                                      h5 LV
                                      h6.mt-0 Latvia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ly
                                    .media-body.align-self-center
                                      h5 LY
                                      h6.mt-0 Libya Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ma
                                    .media-body.align-self-center
                                      h5 MA
                                      h6.mt-0 Morocco Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mc
                                    .media-body.align-self-center
                                      h5 MC
                                      h6.mt-0 Monaco Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-md
                                    .media-body.align-self-center
                                      h5 MD
                                      h6.mt-0 Moldova Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-me
                                    .media-body.align-self-center
                                      h5 ME
                                      h6.mt-0 Montenegro Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mf
                                    .media-body.align-self-center
                                      h5 MF
                                      h6.mt-0 Saint Martin Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mg
                                    .media-body.align-self-center
                                      h5 MG
                                      h6.mt-0 Madagascar Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mh
                                    .media-body.align-self-center
                                      h5 MH
                                      h6.mt-0 Marshall Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mk
                                    .media-body.align-self-center
                                      h5 MK
                                      h6.mt-0 Former Yugoslav Republic of Macedonia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ml
                                    .media-body.align-self-center
                                      h5 ML
                                      h6.mt-0 Mali Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mm
                                    .media-body.align-self-center
                                      h5 MM
                                      h6.mt-0 Myanmar Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mn
                                    .media-body.align-self-center
                                      h5 MN
                                      h6.mt-0 Mongolia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mo
                                    .media-body.align-self-center
                                      h5 MO
                                      h6.mt-0 Macau Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mp
                                    .media-body.align-self-center
                                      h5 MP
                                      h6.mt-0 Northern Mariana Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mq
                                    .media-body.align-self-center
                                      h5 MQ
                                      h6.mt-0 Martinique Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mr
                                    .media-body.align-self-center
                                      h5 MR
                                      h6.mt-0 Mauritania Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ms
                                    .media-body.align-self-center
                                      h5 MS
                                      h6.mt-0 Montserrat Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mt
                                    .media-body.align-self-center
                                      h5 MT
                                      h6.mt-0 Malta Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mu
                                    .media-body.align-self-center
                                      h5 MU
                                      h6.mt-0 Mauritius Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mv
                                    .media-body.align-self-center
                                      h5 MV
                                      h6.mt-0 Maldives Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mw
                                    .media-body.align-self-center
                                      h5 MW
                                      h6.mt-0 Malawi Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mx
                                    .media-body.align-self-center
                                      h5 MX
                                      h6.mt-0 Mexico Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-my
                                    .media-body.align-self-center
                                      h5 MY
                                      h6.mt-0 Malaysia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-mz
                                    .media-body.align-self-center
                                      h5 MZ
                                      h6.mt-0 Mozambique Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-na
                                    .media-body.align-self-center
                                      h5 NA
                                      h6.mt-0 Namibia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-nc
                                    .media-body.align-self-center
                                      h5 NC
                                      h6.mt-0 New Caledonia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ne
                                    .media-body.align-self-center
                                      h5 NE
                                      h6.mt-0 Niger Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-nf
                                    .media-body.align-self-center
                                      h5 NF
                                      h6.mt-0 Norfolk Island Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ng
                                    .media-body.align-self-center
                                      h5 NG
                                      h6.mt-0 Nigeria Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ni
                                    .media-body.align-self-center
                                      h5 NI
                                      h6.mt-0 Nicaragua Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-nl
                                    .media-body.align-self-center
                                      h5 NL
                                      h6.mt-0 Netherlands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-no
                                    .media-body.align-self-center
                                      h5 NO
                                      h6.mt-0 Norway Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-np
                                    .media-body.align-self-center
                                      h5 NP
                                      h6.mt-0 Nepal Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-nr
                                    .media-body.align-self-center
                                      h5 NR
                                      h6.mt-0 Nauru Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-nu
                                    .media-body.align-self-center
                                      h5 NU
                                      h6.mt-0 Niue Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-nz
                                    .media-body.align-self-center
                                      h5 NZ
                                      h6.mt-0 New Zealand Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-om
                                    .media-body.align-self-center
                                      h5 OM
                                      h6.mt-0 Oman Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pa
                                    .media-body.align-self-center
                                      h5 PA
                                      h6.mt-0 Panama Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pe
                                    .media-body.align-self-center
                                      h5 PE
                                      h6.mt-0 Peru Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pf
                                    .media-body.align-self-center
                                      h5 PF
                                      h6.mt-0 French Polynesia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pg
                                    .media-body.align-self-center
                                      h5 PG
                                      h6.mt-0 Papua New Guinea Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ph
                                    .media-body.align-self-center
                                      h5 PH
                                      h6.mt-0 Philippines Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pk
                                    .media-body.align-self-center
                                      h5 PK
                                      h6.mt-0 Pakistan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pl
                                    .media-body.align-self-center
                                      h5 PL
                                      h6.mt-0 Poland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pm
                                    .media-body.align-self-center
                                      h5 PM
                                      h6.mt-0 Saint Pierre and Miquelon Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pn
                                    .media-body.align-self-center
                                      h5 PN
                                      h6.mt-0 Pitcairn Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pr
                                    .media-body.align-self-center
                                      h5 PR
                                      h6.mt-0 Puerto Rico Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ps
                                    .media-body.align-self-center
                                      h5 PS
                                      h6.mt-0 State of Palestine Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pt
                                    .media-body.align-self-center
                                      h5 PT
                                      h6.mt-0 Portugal Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-pw
                                    .media-body.align-self-center
                                      h5 PW
                                      h6.mt-0 Palau Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-py
                                    .media-body.align-self-center
                                      h5 PY
                                      h6.mt-0 Paraguay Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-qa
                                    .media-body.align-self-center
                                      h5 QA
                                      h6.mt-0 Qatar Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-re
                                    .media-body.align-self-center
                                      h5 RE
                                      h6.mt-0 Réunion Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ro
                                    .media-body.align-self-center
                                      h5 RO
                                      h6.mt-0 Romania Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-rs
                                    .media-body.align-self-center
                                      h5 RS
                                      h6.mt-0 Serbia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ru
                                    .media-body.align-self-center
                                      h5 RU
                                      h6.mt-0 Russia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-rw
                                    .media-body.align-self-center
                                      h5 RW
                                      h6.mt-0 Rwanda Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sa
                                    .media-body.align-self-center
                                      h5 SA
                                      h6.mt-0 Saudi Arabia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sb
                                    .media-body.align-self-center
                                      h5 SB
                                      h6.mt-0 Solomon Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sc
                                    .media-body.align-self-center
                                      h5 SC
                                      h6.mt-0 Seychelles Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sd
                                    .media-body.align-self-center
                                      h5 SD
                                      h6.mt-0 Sudan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-se
                                    .media-body.align-self-center
                                      h5 SE
                                      h6.mt-0 Sweden Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sg
                                    .media-body.align-self-center
                                      h5 SG
                                      h6.mt-0 Singapore Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sh
                                    .media-body.align-self-center
                                      h5 SH
                                      h6.mt-0 Saint Helena, Ascension and Tristan da Cunha Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-si
                                    .media-body.align-self-center
                                      h5 SI
                                      h6.mt-0 Slovenia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sj
                                    .media-body.align-self-center
                                      h5 SJ
                                      h6.mt-0 Svalbard and Jan Mayen Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sk
                                    .media-body.align-self-center
                                      h5 SK
                                      h6.mt-0 Slovakia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sl
                                    .media-body.align-self-center
                                      h5 SL
                                      h6.mt-0 Sierra Leone Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sm
                                    .media-body.align-self-center
                                      h5 SM
                                      h6.mt-0 San Marino Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sn
                                    .media-body.align-self-center
                                      h5 SN
                                      h6.mt-0 Senegal Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-so
                                    .media-body.align-self-center
                                      h5 SO
                                      h6.mt-0 Somalia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sr
                                    .media-body.align-self-center
                                      h5 SR
                                      h6.mt-0 Suriname Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ss
                                    .media-body.align-self-center
                                      h5 SS
                                      h6.mt-0 South Sudan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-st
                                    .media-body.align-self-center
                                      h5 ST
                                      h6.mt-0 Sao Tome and Principe Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sv
                                    .media-body.align-self-center
                                      h5 SV
                                      h6.mt-0 El Salvador Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sx
                                    .media-body.align-self-center
                                      h5 SX
                                      h6.mt-0 Sint Maarten Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sy
                                    .media-body.align-self-center
                                      h5 SY
                                      h6.mt-0 Syrian Arab Republic Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-sz
                                    .media-body.align-self-center
                                      h5 SZ
                                      h6.mt-0 Swaziland Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tc
                                    .media-body.align-self-center
                                      h5 TC
                                      h6.mt-0 Turks and Caicos Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-td
                                    .media-body.align-self-center
                                      h5 TD
                                      h6.mt-0 Chad Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tf
                                    .media-body.align-self-center
                                      h5 TF
                                      h6.mt-0 French Southern Territories Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tg
                                    .media-body.align-self-center
                                      h5 TG
                                      h6.mt-0 Togo Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-th
                                    .media-body.align-self-center
                                      h5 TH
                                      h6.mt-0 Thailand Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tj
                                    .media-body.align-self-center
                                      h5 TJ
                                      h6.mt-0 Tajikistan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tk
                                    .media-body.align-self-center
                                      h5 TK
                                      h6.mt-0 Tokelau Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tl
                                    .media-body.align-self-center
                                      h5 TL
                                      h6.mt-0 Timor-Leste Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tm
                                    .media-body.align-self-center
                                      h5 TM
                                      h6.mt-0 Turkmenistan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tn
                                    .media-body.align-self-center
                                      h5 TN
                                      h6.mt-0 Tunisia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-to
                                    .media-body.align-self-center
                                      h5 TO
                                      h6.mt-0 Tonga Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tr
                                    .media-body.align-self-center
                                      h5 TR
                                      h6.mt-0 Turkey Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tt
                                    .media-body.align-self-center
                                      h5 TT
                                      h6.mt-0 Trinidad and Tobago Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tv
                                    .media-body.align-self-center
                                      h5 TV
                                      h6.mt-0 Tuvalu Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tw
                                    .media-body.align-self-center
                                      h5 TW
                                      h6.mt-0 Taiwan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-tz
                                    .media-body.align-self-center
                                      h5 TZ
                                      h6.mt-0 Tanzania Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ua
                                    .media-body.align-self-center
                                      h5 UA
                                      h6.mt-0 Ukraine Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ug
                                    .media-body.align-self-center
                                      h5 UG
                                      h6.mt-0 Uganda Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-um
                                    .media-body.align-self-center
                                      h5 UM
                                      h6.mt-0 United States Minor Outlying Islands Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-us
                                    .media-body.align-self-center
                                      h5 US
                                      h6.mt-0 United States of America Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-uy
                                    .media-body.align-self-center
                                      h5 UY
                                      h6.mt-0 Uruguay Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-uz
                                    .media-body.align-self-center
                                      h5 UZ
                                      h6.mt-0 Uzbekistan Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-va
                                    .media-body.align-self-center
                                      h5 VA
                                      h6.mt-0 Holy See Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-vc
                                    .media-body.align-self-center
                                      h5 VC
                                      h6.mt-0 Saint Vincent and the Grenadines Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ve
                                    .media-body.align-self-center
                                      h5 VE
                                      h6.mt-0 Venezuela (Bolivarian Republic of) Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-vg
                                    .media-body.align-self-center
                                      h5 VG
                                      h6.mt-0 Virgin Islands (British) Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-vi
                                    .media-body.align-self-center
                                      h5 VI
                                      h6.mt-0 Virgin Islands (U.S.) Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-vn
                                    .media-body.align-self-center
                                      h5 VN
                                      h6.mt-0 Vietnam Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-vu
                                    .media-body.align-self-center
                                      h5 VU
                                      h6.mt-0 Vanuatu Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-wf
                                    .media-body.align-self-center
                                      h5 WF
                                      h6.mt-0 Wallis and Futuna Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ws
                                    .media-body.align-self-center
                                      h5 WS
                                      h6.mt-0 Samoa Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-ye
                                    .media-body.align-self-center
                                      h5 YE
                                      h6.mt-0 Yemen Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-yt
                                    .media-body.align-self-center
                                      h5 YT
                                      h6.mt-0 Mayotte Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-za
                                    .media-body.align-self-center
                                      h5 ZA
                                      h6.mt-0 South Africa Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-zm
                                    .media-body.align-self-center
                                      h5 ZM
                                      h6.mt-0 Zambia Flag
                                .col-12.col-sm-6.col-xl-4
                                  .media
                                    i.flag-icon.flag-icon-zw
                                    .media-body.align-self-center
                                      h5 ZW
                                      h6.mt-0 Zimbabwe Flag
                    // Container-fluid Ends
                include ../../components/footer
            .icon-hover-bottom.p-fixed.fa-fa-icon-show-div.opecity-0
              .container-fluid
                .row
                  .icon-popup
                    .close-icon
                      i.icofont.icofont-close
                    .icon-first
                      i#icon_main.icon-drupal.fa-2x
                    .icon-class
                      label.icon-title Class
                      span#fclass1 icon-drupal
                    .icon-last.icon-last
                      label.icon-title Markup
                      .form-inline
                        .form-group
                          input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                          button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files
