- var theme_customizer      = true;
- var tooltip               = true;
- var page_icon             = true;
- var notify                = true;
- var icon_notify           = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Font Awesome Icon

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active Font Awesome Icon
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0
                                span 20
                                |  Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bluetooth
                                  |  fa fa-bluetooth
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bluetooth-b
                                  |  fa fa-bluetooth-b
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-codiepie
                                  |  fa fa-codiepie
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-credit-card-alt
                                  | fa fa-credit-card-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-edge
                                  | fa fa-edge
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fort-awesome
                                  | fa fa-fort-awesome
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hashtag
                                  | fa fa-hashtag
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mixcloud
                                  | fa fa-mixcloud
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-modx
                                  | fa fa-modx
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pause-circle
                                  | fa fa-pause-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pause-circle-o
                                  | fa fa-pause-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-percent
                                  | fa fa-percent
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-product-hunt
                                  | fa fa-product-hunt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-reddit-alien
                                  | fa fa-reddit-alien
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-scribd
                                  | fa fa-scribd
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-shopping-bag
                                  | fa fa-shopping-bag
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-shopping-basket
                                  | fa fa-shopping-basket
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stop-circle
                                  | fa fa-stop-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stop-circle-o
                                  | fa fa-stop-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-usb
                                  | fa fa-usb
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Currency Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bitcoin
                                  |  fa-bitcoin
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-btc
                                  |  fa-btc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cny
                                  |  fa-cny
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dollar
                                  |  fa-dollar 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-eur
                                  |  fa-eur
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-euro
                                  |  fa-euro 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gbp
                                  |  fa-gbp
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-inr
                                  |  fa-inr
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-jpy
                                  |  fa-jpy
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-krw
                                  |  fa-krw
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-money
                                  |  fa-money
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rmb
                                  |  fa-rmb 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rouble
                                  |  fa-rouble 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rub
                                  |  fa-rub
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ruble
                                  |  fa-ruble 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rupee
                                  |  fa-rupee 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-try
                                  |  fa-try
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-turkish-lira
                                  |  fa-turkish-lira 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-usd
                                  |  fa-usd
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-won
                                  |  fa-won 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-yen
                                  |  fa-yen 
                                  span.text-muted (alias)
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Web App Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-adjust
                                  |  fa-adjust
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-anchor
                                  |  fa-anchor
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-archive
                                  |  fa-archive
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows
                                  |  fa-arrows
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows-h
                                  |  fa-arrows-h
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows-v
                                  |  fa-arrows-v
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-asterisk
                                  |  fa-asterisk
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-automobile
                                  |  fa-automobile 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ban
                                  |  fa-ban
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bank
                                  |  fa-bank 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bar-chart-o
                                  |  fa-bar-chart-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-barcode
                                  |  fa-barcode
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bars
                                  |  fa-bars
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-beer
                                  |  fa-beer
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bell
                                  |  fa-bell
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bell-o
                                  |  fa-bell-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bolt
                                  |  fa-bolt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bomb
                                  |  fa-bomb
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-book
                                  |  fa-book
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bookmark
                                  |  fa-bookmark
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bookmark-o
                                  |  fa-bookmark-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-briefcase
                                  |  fa-briefcase
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bug
                                  |  fa-bug
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-building
                                  |  fa-building
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-building-o
                                  |  fa-building-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bullhorn
                                  |  fa-bullhorn
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bullseye
                                  |  fa-bullseye
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cab
                                  |  fa-cab 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-calendar
                                  |  fa-calendar
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-calendar-o
                                  |  fa-calendar-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-camera
                                  |  fa-camera
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-camera-retro
                                  |  fa-camera-retro
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-car
                                  |  fa-car
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-down
                                  |  fa-caret-square-o-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-left
                                  |  fa-caret-square-o-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-right
                                  |  fa-caret-square-o-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-up
                                  |  fa-caret-square-o-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-certificate
                                  |  fa-certificate
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check
                                  |  fa-check
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check-circle
                                  |  fa-check-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check-circle-o
                                  |  fa-check-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check-square
                                  |  fa-check-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check-square-o
                                  |  fa-check-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-child
                                  |  fa-child
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-circle
                                  |  fa-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-circle-o
                                  |  fa-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-circle-o-notch
                                  |  fa-circle-o-notch
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-circle-thin
                                  |  fa-circle-thin
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-clock-o
                                  |  fa-clock-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cloud
                                  |  fa-cloud
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cloud-download
                                  |  fa-cloud-download
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cloud-upload
                                  |  fa-cloud-upload
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-code
                                  |  fa-code
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-code-fork
                                  |  fa-code-fork
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-coffee
                                  |  fa-coffee
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cog
                                  |  fa-cog
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cogs
                                  |  fa-cogs
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-comment
                                  |  fa-comment
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-comment-o
                                  |  fa-comment-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-comments
                                  |  fa-comments
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-comments-o
                                  |  fa-comments-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-compass
                                  |  fa-compass
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-credit-card
                                  |  fa-credit-card
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-crop
                                  |  fa-crop
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-crosshairs
                                  |  fa-crosshairs
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cube
                                  |  fa-cube
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cubes
                                  |  fa-cubes
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cutlery
                                  |  fa-cutlery
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dashboard
                                  |  fa-dashboard 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-database
                                  |  fa-database
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-desktop
                                  |  fa-desktop
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dot-circle-o
                                  |  fa-dot-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-download
                                  |  fa-download
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-edit
                                  |  fa-edit 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ellipsis-h
                                  |  fa-ellipsis-h
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ellipsis-v
                                  |  fa-ellipsis-v
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-envelope
                                  |  fa-envelope
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-envelope-o
                                  |  fa-envelope-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-envelope-square
                                  |  fa-envelope-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-eraser
                                  |  fa-eraser
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-exchange
                                  |  fa-exchange
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-exclamation
                                  |  fa-exclamation
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-exclamation-circle
                                  |  fa-exclamation-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-exclamation-triangle
                                  |  fa-exclamation-triangle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-external-link
                                  |  fa-external-link
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-external-link-square
                                  |  fa-external-link-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-eye
                                  |  fa-eye
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-eye-slash
                                  |  fa-eye-slash
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fax
                                  |  fa-fax
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-female
                                  |  fa-female
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fighter-jet
                                  |  fa-fighter-jet
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-archive-o
                                  |  fa-file-archive-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-audio-o
                                  |  fa-file-audio-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-code-o
                                  |  fa-file-code-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-excel-o
                                  |  fa-file-excel-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-image-o
                                  |  fa-file-image-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-movie-o
                                  |  fa-file-movie-o 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-pdf-o
                                  |  fa-file-pdf-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-photo-o
                                  |  fa-file-photo-o 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-picture-o
                                  |  fa-file-picture-o 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-powerpoint-o
                                  |  fa-file-powerpoint-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-sound-o
                                  |  fa-file-sound-o 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-video-o
                                  |  fa-file-video-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-word-o
                                  |  fa-file-word-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-zip-o
                                  |  fa-file-zip-o 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-film
                                  |  fa-film
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-filter
                                  |  fa-filter
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fire
                                  |  fa-fire
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fire-extinguisher
                                  |  fa-fire-extinguisher
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-flag
                                  |  fa-flag
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-flag-checkered
                                  |  fa-flag-checkered
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-flag-o
                                  |  fa-flag-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-flash
                                  |  fa-flash 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-flask
                                  |  fa-flask
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-folder
                                  |  fa-folder
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-folder-o
                                  |  fa-folder-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-folder-open
                                  |  fa-folder-open
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-folder-open-o
                                  |  fa-folder-open-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-frown-o
                                  |  fa-frown-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gamepad
                                  |  fa-gamepad
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gavel
                                  |  fa-gavel
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gear
                                  |  fa-gear 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gears
                                  |  fa-gears 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gift
                                  |  fa-gift
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-glass
                                  |  fa-glass
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-globe
                                  |  fa-globe
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-graduation-cap
                                  |  fa-graduation-cap
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-group
                                  |  fa-group 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hdd-o
                                  |  fa-hdd-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-headphones
                                  |  fa-headphones
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-heart
                                  |  fa-heart
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-heart-o
                                  |  fa-heart-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-history
                                  |  fa-history
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-home
                                  |  fa-home
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-image
                                  |  fa-image 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-inbox
                                  |  fa-inbox
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-info
                                  |  fa-info
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-info-circle
                                  |  fa-info-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-institution
                                  |  fa-institution 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-key
                                  |  fa-key
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-keyboard-o
                                  |  fa-keyboard-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-language
                                  |  fa-language
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-laptop
                                  |  fa-laptop
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-leaf
                                  |  fa-leaf
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-legal
                                  |  fa-legal 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-lemon-o
                                  |  fa-lemon-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-level-down
                                  |  fa-level-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-level-up
                                  |  fa-level-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-life-bouy
                                  |  fa-life-bouy 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-life-ring
                                  |  fa-life-ring
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-life-saver
                                  |  fa-life-saver 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-lightbulb-o
                                  |  fa-lightbulb-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-location-arrow
                                  |  fa-location-arrow
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-lock
                                  |  fa-lock
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-magic
                                  |  fa-magic
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-magnet
                                  |  fa-magnet
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mail-forward
                                  |  fa-mail-forward 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mail-reply
                                  |  fa-mail-reply 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mail-reply-all
                                  |  fa-mail-reply-all 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-male
                                  |  fa-male
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-map-marker
                                  |  fa-map-marker
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-meh-o
                                  |  fa-meh-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-microphone
                                  |  fa-microphone
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-microphone-slash
                                  |  fa-microphone-slash
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-minus
                                  |  fa-minus
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-minus-circle
                                  |  fa-minus-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-minus-square
                                  |  fa-minus-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-minus-square-o
                                  |  fa-minus-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mobile
                                  |  fa-mobile
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mobile-phone
                                  |  fa-mobile-phone 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-money
                                  |  fa-money
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-moon-o
                                  |  fa-moon-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-mortar-board
                                  |  fa-mortar-board 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-music
                                  |  fa-music
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-navicon
                                  |  fa-navicon 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-paper-plane
                                  |  fa-paper-plane
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-paper-plane-o
                                  |  fa-paper-plane-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-paw
                                  |  fa-paw
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pencil
                                  |  fa-pencil
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pencil-square
                                  |  fa-pencil-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pencil-square-o
                                  |  fa-pencil-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-phone
                                  |  fa-phone
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-phone-square
                                  |  fa-phone-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-photo
                                  |  fa-photo 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-picture-o
                                  |  fa-picture-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plane
                                  |  fa-plane
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus
                                  |  fa-plus
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus-circle
                                  |  fa-plus-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus-square
                                  |  fa-plus-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus-square-o
                                  |  fa-plus-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-power-off
                                  |  fa-power-off
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-print
                                  |  fa-print
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-puzzle-piece
                                  |  fa-puzzle-piece
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-qrcode
                                  |  fa-qrcode
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-question
                                  |  fa-question
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-question-circle
                                  |  fa-question-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-quote-left
                                  |  fa-quote-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-quote-right
                                  |  fa-quote-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-random
                                  |  fa-random
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-recycle
                                  |  fa-recycle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-refresh
                                  |  fa-refresh
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-reorder
                                  |  fa-reorder 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-reply
                                  |  fa-reply
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-reply-all
                                  |  fa-reply-all
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-retweet
                                  |  fa-retweet
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-road
                                  |  fa-road
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rocket
                                  |  fa-rocket
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rss
                                  |  fa-rss
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rss-square
                                  |  fa-rss-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-search
                                  |  fa-search
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-search-minus
                                  |  fa-search-minus
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-search-plus
                                  |  fa-search-plus
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-send
                                  |  fa-send 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-send-o
                                  |  fa-send-o 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share
                                  |  fa-share
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share-alt
                                  |  fa-share-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share-alt-square
                                  |  fa-share-alt-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share-square
                                  |  fa-share-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share-square-o
                                  |  fa-share-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-shield
                                  |  fa-shield
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-shopping-cart
                                  |  fa-shopping-cart
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sign-in
                                  |  fa-sign-in
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sign-out
                                  |  fa-sign-out
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-signal
                                  |  fa-signal
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sitemap
                                  |  fa-sitemap
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sliders
                                  |  fa-sliders
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-smile-o
                                  |  fa-smile-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort
                                  |  fa-sort
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-alpha-asc
                                  |  fa-sort-alpha-asc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-alpha-desc
                                  |  fa-sort-alpha-desc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-amount-asc
                                  |  fa-sort-amount-asc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-amount-desc
                                  |  fa-sort-amount-desc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-asc
                                  |  fa-sort-asc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-desc
                                  |  fa-sort-desc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-down
                                  |  fa-sort-down 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-numeric-asc
                                  |  fa-sort-numeric-asc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-numeric-desc
                                  |  fa-sort-numeric-desc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sort-up
                                  |  fa-sort-up 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-space-shuttle
                                  |  fa-space-shuttle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spinner
                                  |  fa-spinner
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spoon
                                  |  fa-spoon
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-square
                                  |  fa-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-square-o
                                  |  fa-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-star
                                  |  fa-star
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-star-half
                                  |  fa-star-half
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-star-half-empty
                                  |  fa-star-half-empty 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-star-half-full
                                  |  fa-star-half-full 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-star-half-o
                                  |  fa-star-half-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-star-o
                                  |  fa-star-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-suitcase
                                  |  fa-suitcase
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-sun-o
                                  |  fa-sun-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-support
                                  |  fa-support 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tablet
                                  |  fa-tablet
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tachometer
                                  |  fa-tachometer
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tag
                                  |  fa-tag
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tags
                                  |  fa-tags
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tasks
                                  |  fa-tasks
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-taxi
                                  |  fa-taxi
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-terminal
                                  |  fa-terminal
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-thumb-tack
                                  |  fa-thumb-tack
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-thumbs-down
                                  |  fa-thumbs-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-thumbs-o-down
                                  |  fa-thumbs-o-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-thumbs-o-up
                                  |  fa-thumbs-o-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-thumbs-up
                                  |  fa-thumbs-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ticket
                                  |  fa-ticket
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-times
                                  |  fa-times
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-times-circle
                                  |  fa-times-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-times-circle-o
                                  |  fa-times-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tint
                                  |  fa-tint
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-down
                                  |  fa-toggle-down 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-left
                                  |  fa-toggle-left 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-right
                                  |  fa-toggle-right 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-up
                                  |  fa-toggle-up 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-trash-o
                                  |  fa-trash-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tree
                                  |  fa-tree
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-trophy
                                  |  fa-trophy
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-truck
                                  |  fa-truck
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-umbrella
                                  |  fa-umbrella
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-university
                                  |  fa-university
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-unlock
                                  |  fa-unlock
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-unlock-alt
                                  |  fa-unlock-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-unsorted
                                  |  fa-unsorted 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-upload
                                  |  fa-upload
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-user
                                  |  fa-user
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-users
                                  |  fa-users
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-video-camera
                                  |  fa-video-camera
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-volume-down
                                  |  fa-volume-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-volume-off
                                  |  fa-volume-off
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-volume-up
                                  |  fa-volume-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-warning
                                  |  fa-warning 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-wheelchair
                                  |  fa-wheelchair
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-wrench
                                  |  fa-wrench
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Spinner Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spin.fa-circle-o-notch
                                  |  fa-circle-o-notch
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spin.fa-cog
                                  |  fa-cog
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spin.fa-gear
                                  |  fa-gear 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spin.fa-refresh
                                  |  fa-refresh
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spin.fa-spinner
                                  |  fa-spinner
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Form Control Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check-square
                                  |  fa-check-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-check-square-o
                                  |  fa-check-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-circle
                                  |  fa-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-circle-o
                                  |  fa-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dot-circle-o
                                  |  fa-dot-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-minus-square
                                  |  fa-minus-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-minus-square-o
                                  |  fa-minus-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus-square
                                  |  fa-plus-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus-square-o
                                  |  fa-plus-square-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-square
                                  |  fa-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-square-o
                                  |  fa-square-o
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Text Editor Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-align-center
                                  |  fa-align-center
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-align-justify
                                  |  fa-align-justify
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-align-left
                                  |  fa-align-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-align-right
                                  |  fa-align-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bold
                                  |  fa-bold
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chain
                                  |  fa-chain 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chain-broken
                                  |  fa-chain-broken
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-clipboard
                                  |  fa-clipboard
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-columns
                                  |  fa-columns
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-copy
                                  |  fa-copy 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-cut
                                  |  fa-cut 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dedent
                                  |  fa-dedent 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-eraser
                                  |  fa-eraser
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file
                                  |  fa-file
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-o
                                  |  fa-file-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-text
                                  |  fa-file-text
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-file-text-o
                                  |  fa-file-text-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-files-o
                                  |  fa-files-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-floppy-o
                                  |  fa-floppy-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-font
                                  |  fa-font
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-header
                                  |  fa-header
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-indent
                                  |  fa-indent
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-italic
                                  |  fa-italic
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-link
                                  |  fa-link
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-list
                                  |  fa-list
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-list-alt
                                  |  fa-list-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-list-ol
                                  |  fa-list-ol
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-list-ul
                                  |  fa-list-ul
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-outdent
                                  |  fa-outdent
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-paperclip
                                  |  fa-paperclip
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-paragraph
                                  |  fa-paragraph
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-paste
                                  |  fa-paste 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-repeat
                                  |  fa-repeat
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rotate-left
                                  |  fa-rotate-left 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rotate-right
                                  |  fa-rotate-right 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-save
                                  |  fa-save 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-scissors
                                  |  fa-scissors
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-strikethrough
                                  |  fa-strikethrough
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-subscript
                                  |  fa-subscript
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-superscript
                                  |  fa-superscript
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-table
                                  |  fa-table
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-text-height
                                  |  fa-text-height
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-text-width
                                  |  fa-text-width
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-th
                                  |  fa-th
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-th-large
                                  |  fa-th-large
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-th-list
                                  |  fa-th-list
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-underline
                                  |  fa-underline
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-undo
                                  |  fa-undo
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-unlink
                                  |  fa-unlink 
                                  span.text-muted (alias)
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Directional Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-double-down
                                  |  fa-angle-double-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-double-left
                                  |  fa-angle-double-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-double-right
                                  |  fa-angle-double-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-double-up
                                  |  fa-angle-double-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-down
                                  |  fa-angle-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-left
                                  |  fa-angle-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-right
                                  |  fa-angle-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-angle-up
                                  |  fa-angle-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-down
                                  |  fa-arrow-circle-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-left
                                  |  fa-arrow-circle-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-o-down
                                  |  fa-arrow-circle-o-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-o-left
                                  |  fa-arrow-circle-o-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-o-right
                                  |  fa-arrow-circle-o-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-o-up
                                  |  fa-arrow-circle-o-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-right
                                  |  fa-arrow-circle-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-circle-up
                                  |  fa-arrow-circle-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-down
                                  |  fa-arrow-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-left
                                  |  fa-arrow-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-right
                                  |  fa-arrow-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrow-up
                                  |  fa-arrow-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows
                                  |  fa-arrows
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows-alt
                                  |  fa-arrows-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows-h
                                  |  fa-arrows-h
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows-v
                                  |  fa-arrows-v
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-down
                                  |  fa-caret-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-left
                                  |  fa-caret-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-right
                                  |  fa-caret-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-up
                                  |  fa-caret-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-left
                                  |  fa-caret-square-o-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-right
                                  |  fa-caret-square-o-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-up
                                  |  fa-caret-square-o-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-caret-square-o-down
                                  |  fa-caret-square-o-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-circle-down
                                  |  fa-chevron-circle-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-circle-left
                                  |  fa-chevron-circle-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-circle-right
                                  |  fa-chevron-circle-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-circle-up
                                  |  fa-chevron-circle-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-down
                                  |  fa-chevron-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-left
                                  |  fa-chevron-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-right
                                  |  fa-chevron-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-chevron-up
                                  |  fa-chevron-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hand-o-down
                                  |  fa-hand-o-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hand-o-left
                                  |  fa-hand-o-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hand-o-right
                                  |  fa-hand-o-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hand-o-up
                                  |  fa-hand-o-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-long-arrow-down
                                  |  fa-long-arrow-down
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-long-arrow-left
                                  |  fa-long-arrow-left
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-long-arrow-right
                                  |  fa-long-arrow-right
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-long-arrow-up
                                  |  fa-long-arrow-up
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-down
                                  |  fa-toggle-down 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-left
                                  |  fa-toggle-left 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-right
                                  |  fa-toggle-right 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-toggle-up
                                  |  fa-toggle-up 
                                  span.text-muted (alias)
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Video Player Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-arrows-alt
                                  |  fa-arrows-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-backward
                                  |  fa-backward
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-compress
                                  |  fa-compress
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-eject
                                  |  fa-eject
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-expand
                                  |  fa-expand
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fast-backward
                                  |  fa-fast-backward
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-fast-forward
                                  |  fa-fast-forward
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-forward
                                  |  fa-forward
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pause
                                  |  fa-pause
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-play
                                  |  fa-play
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-play-circle
                                  |  fa-play-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-play-circle-o
                                  |  fa-play-circle-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-step-backward
                                  |  fa-step-backward
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-step-forward
                                  |  fa-step-forward
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stop
                                  |  fa-stop
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-youtube-play
                                  |  fa-youtube-play
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Brand Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-adn
                                  |  fa-adn
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-android
                                  |  fa-android
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-apple
                                  |  fa-apple
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-behance
                                  |  fa-behance
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-behance-square
                                  |  fa-behance-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bitbucket
                                  |  fa-bitbucket
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bitbucket-square
                                  |  fa-bitbucket-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-bitcoin
                                  |  fa-bitcoin 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-btc
                                  |  fa-btc
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-codepen
                                  |  fa-codepen
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-css3
                                  |  fa-css3
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-delicious
                                  |  fa-delicious
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-deviantart
                                  |  fa-deviantart
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-digg
                                  |  fa-digg
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dribbble
                                  |  fa-dribbble
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-dropbox
                                  |  fa-dropbox
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-drupal
                                  |  fa-drupal
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-empire
                                  |  fa-empire
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-facebook
                                  |  fa-facebook
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-facebook-square
                                  |  fa-facebook-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-flickr
                                  |  fa-flickr
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-foursquare
                                  |  fa-foursquare
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ge
                                  |  fa-ge 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-git
                                  |  fa-git
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-git-square
                                  |  fa-git-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-github
                                  |  fa-github
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-github-alt
                                  |  fa-github-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-github-square
                                  |  fa-github-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-gittip
                                  |  fa-gittip
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-google
                                  |  fa-google
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-google-plus
                                  |  fa-google-plus
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-google-plus-square
                                  |  fa-google-plus-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hacker-news
                                  |  fa-hacker-news
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-html5
                                  |  fa-html5
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-instagram
                                  |  fa-instagram
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-joomla
                                  |  fa-joomla
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-jsfiddle
                                  |  fa-jsfiddle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-linkedin
                                  |  fa-linkedin
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-linkedin-square
                                  |  fa-linkedin-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-linux
                                  |  fa-linux
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-maxcdn
                                  |  fa-maxcdn
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-openid
                                  |  fa-openid
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pagelines
                                  |  fa-pagelines
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pied-piper
                                  |  fa-pied-piper
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pied-piper-alt
                                  |  fa-pied-piper-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pinterest
                                  |  fa-pinterest
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-pinterest-square
                                  |  fa-pinterest-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-qq
                                  |  fa-qq
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ra
                                  |  fa-ra 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-rebel
                                  |  fa-rebel
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-reddit
                                  |  fa-reddit
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-reddit-square
                                  |  fa-reddit-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-renren
                                  |  fa-renren
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share-alt
                                  |  fa-share-alt
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-share-alt-square
                                  |  fa-share-alt-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-skype
                                  |  fa-skype
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-slack
                                  |  fa-slack
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-soundcloud
                                  |  fa-soundcloud
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-spotify
                                  |  fa-spotify
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stack-exchange
                                  |  fa-stack-exchange
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stack-overflow
                                  |  fa-stack-overflow
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-steam
                                  |  fa-steam
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-steam-square
                                  |  fa-steam-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stumbleupon
                                  |  fa-stumbleupon
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stumbleupon-circle
                                  |  fa-stumbleupon-circle
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tencent-weibo
                                  |  fa-tencent-weibo
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-trello
                                  |  fa-trello
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tumblr
                                  |  fa-tumblr
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-tumblr-square
                                  |  fa-tumblr-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-twitter
                                  |  fa-twitter
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-twitter-square
                                  |  fa-twitter-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-vimeo-square
                                  |  fa-vimeo-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-vine
                                  |  fa-vine
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-vk
                                  |  fa-vk
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-wechat
                                  |  fa-wechat 
                                  span.text-muted (alias)
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-weibo
                                  |  fa-weibo
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-weixin
                                  |  fa-weixin
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-windows
                                  |  fa-windows
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-wordpress
                                  |  fa-wordpress
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-xing
                                  |  fa-xing
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-xing-square
                                  |  fa-xing-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-yahoo
                                  |  fa-yahoo
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-youtube
                                  |  fa-youtube
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-youtube-play
                                  |  fa-youtube-play
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-youtube-square
                                  |  fa-youtube-square
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Medical Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-ambulance
                                  |  fa-ambulance
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-h-square
                                  |  fa-h-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-hospital-o
                                  |  fa-hospital-o
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-medkit
                                  |  fa-medkit
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-plus-square
                                  |  fa-plus-square
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-stethoscope
                                  |  fa-stethoscope
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-user-md
                                  |  fa-user-md
                                .col-sm-6.col-md-4.col-xl-3
                                  i.fa.fa-wheelchair
                                  |  fa-wheelchair
                    // Container-fluid Ends
                include ../../components/footer
            .icon-hover-bottom.p-fixed.fa-fa-icon-show-div.opecity-0
              .container-fluid
                .row
                  .icon-popup
                    .close-icon
                      i.icofont.icofont-close
                    .icon-first
                      i#icon_main.icon-drupal.fa-2x
                    .icon-class
                      label.icon-title Class
                      span#fclass1 icon-drupal
                    .icon-last.icon-last
                      label.icon-title Markup
                      .form-inline
                        .form-group
                          input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                          button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files
