- var sidebar               = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper
          .container-fluid.p-0
            .row
              .col-12      
                  .login-card
                    div
                      div
                        a.logo(href="index.html")
                          img.img-fluid.for-light(src="../assets/images/logo/login.png" alt="looginpage" )
                          img.img-fluid.for-dark(src="../assets/images/logo/logo_dark.png" alt="looginpage" )
                      .login-main 
                        form.theme-form
                          h4 Reset Your Password
                          .form-group
                            label.col-form-label Enter Your Mobile Number
                            .row
                              .col-md-3
                                input.form-control.mb-1(type='text', value='+ 91')
                              .col-md-9
                                input.form-control.mb-1(type='tel', value='000-000-0000')
                              .col-12
                                    button.btn.btn-primary.btn-block.m-t-10(type='submit') Send

                          .text-center.mt-4.mb-4
                            span.reset-password-link
                              | If don't receive OTP?  
                              a.btn-link.text-danger(href='#') Resend
                          .form-group
                            label.col-form-label.pt-0 Enter OTP
                            .row
                              .col
                                input.form-control.text-center.opt-text(type='text', value='00', maxlength='2')
                              .col
                                input.form-control.text-center.opt-text(type='text', value='00', maxlength='2')
                              .col
                                input.form-control.text-center.opt-text(type='text', value='00', maxlength='2')


                          h6.mt-4 Create Your Password
                          .form-group
                            label.col-form-label New Password
                            input.form-control(type='password', name='login[password]', required='' placeholder="*********")
                            .show-hide
                              span.show
                          
                          .form-group
                            label.col-form-label Retype Password
                            input.form-control(type='password', name='login[password]', required='' placeholder="*********")                       

                          .form-group.mb-0
                            .checkbox.p-0
                              input#checkbox1(type='checkbox')
                              label.text-muted(for='checkbox1') Remember password
                            button.btn.btn-primary.btn-block(type='submit') Done                          

                          p.mt-4.mb-0 Already have an password?
                            a.ml-2(href="login.html") Sign in
        include ../../components/footer-files