- var theme_customizer      = true;
- var tooltip               = true;
- var owlcarousel           = true;
- var rating                = true;
- var datatable             = true;
- var ecommerce             = true;
- var product_list          = true;
- var sidebar               = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Product list

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item ECommerce
                                      li.breadcrumb-item.active Product list
                    // Container-fluid starts
                    .container-fluid
                      .row
                        // Individual column searching (text inputs) Starts
                        .col-sm-12
                          .card
                            .card-header
                              h5 Individual column searching (text inputs) 
                              span
                                | The searching functionality provided by DataTables is useful for quickly search through the information in the table - however the search is global, and you may wish to present controls that search on specific columns.
                            .card-body
                              .table-responsive.product-table
                                table#basic-1.display
                                  thead
                                    tr
                                      th Image
                                      th Details
                                      th Amount
                                      th Stock
                                      th Start date
                                      th Action
                                  tbody
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-1.png', alt='')
                                      td
                                        h6  Red Lipstick 
                                        span Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-success In Stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-2.png', alt='')
                                      td
                                        h6  Pink Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-primary Low Stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-3.png', alt='')
                                      td
                                        h6  Gray Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-danger out of stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-4.png', alt='')
                                      td
                                        h6  Green Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-primary Low Stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-5.png', alt='')
                                      td
                                        h6  Black Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-success In Stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-6.png', alt='')
                                      td
                                        h6  White Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-primary Low Stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-1.png', alt='')
                                      td
                                        h6  light Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-danger out of stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-2.png', alt='')
                                      td
                                        h6  Gliter Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-danger out of stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-3.png', alt='')
                                      td
                                        h6  green Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-success In Stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                                    tr
                                      td
                                        img(src='../assets/images/ecommerce/product-table-4.png', alt='')
                                      td
                                        h6  Yellow Lipstick 
                                        p Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                                      td $10
                                      td.font-danger out of stock
                                      td 2011/04/25
                                      td
                                        button.btn.btn-danger.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Delete
                                        button.btn.btn-success.btn-xs(type='button', data-original-title='btn btn-danger btn-xs', title='') Edit
                        // Individual column searching (text inputs) Ends
                   
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
