- var theme_customizer      = true;
- var tooltip               = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Spinners
                                .col-6
                                      ol.breadcrumb
                                        li.breadcrumb-item
                                          a(href='index.html')                                        
                                            i(data-feather="home")
                                        li.breadcrumb-item Ui Kits
                                        li.breadcrumb-item.active Spinners

                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Loader Style
                            .card-body.row
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 1
                                .loader-box
                                  .loader-1
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 2
                                .loader-box
                                  .loader-2
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 3
                                .loader-box
                                  .loader-3
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 4
                                .loader-box
                                  .loader-4
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 5
                                .loader-box
                                  .loader-5
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 6
                                .loader-box
                                  .loader-6
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 7
                                .loader-box
                                  .loader-7
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 8
                                .loader-box
                                  .loader-8
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 9
                                .loader-box
                                  .loader-9
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 10
                                .loader-box
                                  .loader-10
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 11
                                .loader-box
                                  .loader-11
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 12
                                .loader-box
                                  .loader-12
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 13
                                .loader-box
                                  .loader-13
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 14
                                .loader-box
                                  .loader-14
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 15
                                .loader-box
                                  .loader-15
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 16
                                .loader-box
                                  .loader-40 
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 17
                                .loader-box
                                  .loader-17
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 18
                                .loader-box
                                  .loader-18
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 19
                                .loader-box
                                  .loader-19
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 20
                                .loader-box
                                  .loader-20
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 21
                                .loader-box
                                  .loader-21
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 22
                                .loader-box
                                  .loader-22
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 23
                                .loader-box
                                  .loader-23
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 24
                                .loader-box
                                  .loader-24
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 25
                                .loader-box
                                  .loader-25
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 26
                                .loader-box
                                  .loader-26
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 27
                                .loader-box
                                  .loader-29
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 28
                                .loader-box
                                  .loader-30
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 29
                                .loader-box
                                  .loader-31
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 30
                                .loader-box
                                  .loader-32
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 31
                                .loader-box
                                  .loader-34
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 32
                                .loader-box
                                  .loader-35
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 33
                                .loader-box
                                  .loader-37
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 34
                                .loader-box
                                  .loader-38
                              .col-md-3
                                h6.sub-title.mb-0.text-center Loader 35
                                .loader-box
                                  .loader-39
                                         
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
