- var sidebar               = false
- var sweetalert2           = true;
- var page_login            = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
      // login page start
      .container-fluid
        .row
          .col-12.p-0
              .login-card
                div
                  div
                    a.logo.text-left(href="index.html")
                      img.img-fluid.for-light(src="../assets/images/logo/login.png" alt="looginpage" )
                      img.img-fluid.for-dark(src="../assets/images/logo/logo_dark.png" alt="looginpage" )
                  .login-main 
                  
                    .theme-form
                      h4 Sign in to account
                      p Enter your email & password to login
                      .form-group
                        label.col-form-label Email Address
                        input.form-control.email(type='email', placeholder='Test@gmail.com')

                      .form-group
                        label.col-form-label Password
                        input.form-control.pwd(type='password', placeholder="*********")
                        .show-hide
                          span.show                          
                      .form-group.mb-0
                        .checkbox.p-0
                          input#checkbox1(type='checkbox')
                          label.text-muted(for='checkbox1') Remember password

                        button.btn.btn-primary.btn-block#error Sign in
                      h6.text-muted.mt-4.or Or Sign in with
                      .social.mt-4
                          .btn-showcase
                              a.btn.btn-light(href='https://www.linkedin.com/login' target='_blank')
                                i.txt-linkedin(data-feather="linkedin")
                                |  LinkedIn 
                                
                              a.btn.btn-light(href='https://twitter.com/login?lang=en' target='_blank')
                                i.txt-twitter(data-feather="twitter")
                                | twitter
                              
                              a.btn.btn-light(href='https://www.facebook.com/' target='_blank')
                                i.txt-fb(data-feather="facebook")
                                | facebook
                      p.mt-4.mb-0 Don't have account?
                        a.ml-2(href="sign-up.html") Create Account



        include ../../components/footer-files
        script.        
          $(document).on('click', '#error', function(e) {
            if($('.email').val() == '' || $('.pwd').val() == ''){
            swal(
              "Error!", "Sorry, looks like some data are not filled, please try again !", "error"           
            )
            }
          });
          