- var theme_customizer      = true;
- var tooltip               = true;
- var page_icon             = true;
- var notify                = true;
- var icon_notify           = true;
- var pe7_icon              = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | pe7 icon

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active pe7 icon
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 pe7 Icons
                            .card-body
                              .row.icon-lists
                                .col-lg-4.col-sm-6
                                  i.pe-7s-album
                                  |  pe-7s-album
                                .col-lg-4.col-sm-6
                                  i.pe-7s-arc
                                  |  pe-7s-arc
                                .col-lg-4.col-sm-6
                                  i.pe-7s-back-2
                                  |  pe-7s-back-2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-bandaid
                                  |  pe-7s-bandaid
                                .col-lg-4.col-sm-6
                                  i.pe-7s-car
                                  |  pe-7s-car
                                .col-lg-4.col-sm-6
                                  i.pe-7s-diamond
                                  |  pe-7s-diamond
                                .col-lg-4.col-sm-6
                                  i.pe-7s-door-lock
                                  |  pe-7s-door-lock
                                .col-lg-4.col-sm-6
                                  i.pe-7s-eyedropper
                                  |  pe-7s-eyedropper
                                .col-lg-4.col-sm-6
                                  i.pe-7s-female
                                  |  pe-7s-female
                                .col-lg-4.col-sm-6
                                  i.pe-7s-gym
                                  |  pe-7s-gym
                                .col-lg-4.col-sm-6
                                  i.pe-7s-hammer
                                  |  pe-7s-hammer
                                .col-lg-4.col-sm-6
                                  i.pe-7s-headphones
                                  |  pe-7s-headphones
                                .col-lg-4.col-sm-6
                                  i.pe-7s-helm
                                  |  pe-7s-helm
                                .col-lg-4.col-sm-6
                                  i.pe-7s-hourglass
                                  |  pe-7s-hourglass
                                .col-lg-4.col-sm-6
                                  i.pe-7s-leaf
                                  |  pe-7s-leaf
                                .col-lg-4.col-sm-6
                                  i.pe-7s-magic-wand
                                  |  pe-7s-magic-wand
                                .col-lg-4.col-sm-6
                                  i.pe-7s-male
                                  |  pe-7s-male
                                .col-lg-4.col-sm-6
                                  i.pe-7s-map-2
                                  |  pe-7s-map-2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-next-2
                                  |  pe-7s-next-2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-paint-bucket
                                  |  pe-7s-paint-bucket
                                .col-lg-4.col-sm-6
                                  i.pe-7s-pendrive
                                  |  pe-7s-pendrive
                                .col-lg-4.col-sm-6
                                  i.pe-7s-photo
                                  |  pe-7s-photo
                                .col-lg-4.col-sm-6
                                  i.pe-7s-piggy
                                  |  pe-7s-piggy
                                .col-lg-4.col-sm-6
                                  i.pe-7s-plugin
                                  |  pe-7s-plugin
                                .col-lg-4.col-sm-6
                                  i.pe-7s-refresh-2
                                  |  pe-7s-refresh-2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-rocket
                                  |  pe-7s-rocket
                                .col-lg-4.col-sm-6
                                  i.pe-7s-settings
                                  |  pe-7s-settings
                                .col-lg-4.col-sm-6
                                  i.pe-7s-shield
                                  |  pe-7s-shield
                                .col-lg-4.col-sm-6
                                  i.pe-7s-smile
                                  |  pe-7s-smile
                                .col-lg-4.col-sm-6
                                  i.pe-7s-usb
                                  |  pe-7s-usb
                                .col-lg-4.col-sm-6
                                  i.pe-7s-vector
                                  |  pe-7s-vector
                                .col-lg-4.col-sm-6
                                  i.pe-7s-wine
                                  |  pe-7s-wine
                                .col-lg-4.col-sm-6
                                  i.pe-7s-cloud-upload
                                  |  pe-7s-cloud-upload
                                .col-lg-4.col-sm-6
                                  i.pe-7s-cash
                                  |  pe-7s-cash
                                .col-lg-4.col-sm-6
                                  i.pe-7s-close
                                  |  pe-7s-close
                                .col-lg-4.col-sm-6
                                  i.pe-7s-bluetooth
                                  |  pe-7s-bluetooth
                                .col-lg-4.col-sm-6
                                  i.pe-7s-cloud-download
                                  |  pe-7s-cloud-download
                                .col-lg-4.col-sm-6
                                  i.pe-7s-way
                                  |  pe-7s-way
                                .col-lg-4.col-sm-6
                                  i.pe-7s-close-circle
                                  |  pe-7s-close-circle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-id
                                  |  pe-7s-id
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-up
                                  |  pe-7s-angle-up
                                .col-lg-4.col-sm-6
                                  i.pe-7s-wristwatch
                                  |  pe-7s-wristwatch
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-up-circle
                                  |  pe-7s-angle-up-circle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-world
                                  |  pe-7s-world
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-right
                                  |  pe-7s-angle-right
                                .col-lg-4.col-sm-6
                                  i.pe-7s-volume
                                  |  pe-7s-volume
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-right-circle
                                  |  pe-7s-angle-right-circle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-users
                                  |  pe-7s-users
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-left
                                  |  pe-7s-angle-left
                                .col-lg-4.col-sm-6
                                  i.pe-7s-user-female
                                  |  pe-7s-user-female
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-left-circle
                                  |  pe-7s-angle-left-circle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-up-arrow
                                  |  pe-7s-up-arrow
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-down
                                  |  pe-7s-angle-down
                                .col-lg-4.col-sm-6
                                  i.pe-7s-switch
                                  |  pe-7s-switch
                                .col-lg-4.col-sm-6
                                  i.pe-7s-angle-down-circle
                                  |  pe-7s-angle-down-circle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-scissors
                                  |  pe-7s-scissors
                                .col-lg-4.col-sm-6
                                  i.pe-7s-wallet
                                  |  pe-7s-wallet
                                .col-lg-4.col-sm-6
                                  i.pe-7s-safe
                                  |  pe-7s-safe
                                .col-lg-4.col-sm-6
                                  i.pe-7s-volume2
                                  |  pe-7s-volume2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-volume1
                                  |  pe-7s-volume1
                                .col-lg-4.col-sm-6
                                  i.pe-7s-voicemail
                                  |  pe-7s-voicemail
                                .col-lg-4.col-sm-6
                                  i.pe-7s-video
                                  |  pe-7s-video
                                .col-lg-4.col-sm-6
                                  i.pe-7s-user
                                  |  pe-7s-user
                                .col-lg-4.col-sm-6
                                  i.pe-7s-upload
                                  |  pe-7s-upload
                                .col-lg-4.col-sm-6
                                  i.pe-7s-unlock
                                  |  pe-7s-unlock
                                .col-lg-4.col-sm-6
                                  i.pe-7s-umbrella
                                  |  pe-7s-umbrella
                                .col-lg-4.col-sm-6
                                  i.pe-7s-trash
                                  |  pe-7s-trash
                                .col-lg-4.col-sm-6
                                  i.pe-7s-tools
                                  |  pe-7s-tools
                                .col-lg-4.col-sm-6
                                  i.pe-7s-timer
                                  |  pe-7s-timer
                                .col-lg-4.col-sm-6
                                  i.pe-7s-ticket
                                  |  pe-7s-ticket
                                .col-lg-4.col-sm-6
                                  i.pe-7s-target
                                  |  pe-7s-target
                                .col-lg-4.col-sm-6
                                  i.pe-7s-sun
                                  |  pe-7s-sun
                                .col-lg-4.col-sm-6
                                  i.pe-7s-study
                                  |  pe-7s-study
                                .col-lg-4.col-sm-6
                                  i.pe-7s-stopwatch
                                  |  pe-7s-stopwatch
                                .col-lg-4.col-sm-6
                                  i.pe-7s-star
                                  |  pe-7s-star
                                .col-lg-4.col-sm-6
                                  i.pe-7s-speaker
                                  |  pe-7s-speaker
                                .col-lg-4.col-sm-6
                                  i.pe-7s-signal
                                  |  pe-7s-signal
                                .col-lg-4.col-sm-6
                                  i.pe-7s-shuffle
                                  |  pe-7s-shuffle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-shopbag
                                  |  pe-7s-shopbag
                                .col-lg-4.col-sm-6
                                  i.pe-7s-share
                                  |  pe-7s-share
                                .col-lg-4.col-sm-6
                                  i.pe-7s-server
                                  |  pe-7s-server
                                .col-lg-4.col-sm-6
                                  i.pe-7s-search
                                  |  pe-7s-search
                                .col-lg-4.col-sm-6
                                  i.pe-7s-film
                                  |  pe-7s-film
                                .col-lg-4.col-sm-6
                                  i.pe-7s-science
                                  |  pe-7s-science
                                .col-lg-4.col-sm-6
                                  i.pe-7s-disk
                                  |  pe-7s-disk
                                .col-lg-4.col-sm-6
                                  i.pe-7s-ribbon
                                  |  pe-7s-ribbon
                                .col-lg-4.col-sm-6
                                  i.pe-7s-repeat
                                  |  pe-7s-repeat
                                .col-lg-4.col-sm-6
                                  i.pe-7s-refresh
                                  |  pe-7s-refresh
                                .col-lg-4.col-sm-6
                                  i.pe-7s-add-user
                                  |  pe-7s-add-user
                                .col-lg-4.col-sm-6
                                  i.pe-7s-refresh-cloud
                                  |  pe-7s-refresh-cloud
                                .col-lg-4.col-sm-6
                                  i.pe-7s-paperclip
                                  |  pe-7s-paperclip
                                .col-lg-4.col-sm-6
                                  i.pe-7s-radio
                                  |  pe-7s-radio
                                .col-lg-4.col-sm-6
                                  i.pe-7s-note2
                                  |  pe-7s-note2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-print
                                  |  pe-7s-print
                                .col-lg-4.col-sm-6
                                  i.pe-7s-network
                                  |  pe-7s-network
                                .col-lg-4.col-sm-6
                                  i.pe-7s-prev
                                  |  pe-7s-prev
                                .col-lg-4.col-sm-6
                                  i.pe-7s-mute
                                  |  pe-7s-mute
                                .col-lg-4.col-sm-6
                                  i.pe-7s-power
                                  |  pe-7s-power
                                .col-lg-4.col-sm-6
                                  i.pe-7s-medal
                                  |  pe-7s-medal
                                .col-lg-4.col-sm-6
                                  i.pe-7s-portfolio
                                  |  pe-7s-portfolio
                                .col-lg-4.col-sm-6
                                  i.pe-7s-like2
                                  |  pe-7s-like2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-plus
                                  |  pe-7s-plus
                                .col-lg-4.col-sm-6
                                  i.pe-7s-left-arrow
                                  |  pe-7s-left-arrow
                                .col-lg-4.col-sm-6
                                  i.pe-7s-play
                                  |  pe-7s-play
                                .col-lg-4.col-sm-6
                                  i.pe-7s-key
                                  |  pe-7s-key
                                .col-lg-4.col-sm-6
                                  i.pe-7s-plane
                                  |  pe-7s-plane
                                .col-lg-4.col-sm-6
                                  i.pe-7s-joy
                                  |  pe-7s-joy
                                .col-lg-4.col-sm-6
                                  i.pe-7s-photo-gallery
                                  |  pe-7s-photo-gallery
                                .col-lg-4.col-sm-6
                                  i.pe-7s-pin
                                  |  pe-7s-pin
                                .col-lg-4.col-sm-6
                                  i.pe-7s-phone
                                  |  pe-7s-phone
                                .col-lg-4.col-sm-6
                                  i.pe-7s-plug
                                  |  pe-7s-plug
                                .col-lg-4.col-sm-6
                                  i.pe-7s-pen
                                  |  pe-7s-pen
                                .col-lg-4.col-sm-6
                                  i.pe-7s-right-arrow
                                  |  pe-7s-right-arrow
                                .col-lg-4.col-sm-6
                                  i.pe-7s-paper-plane
                                  |  pe-7s-paper-plane
                                .col-lg-4.col-sm-6
                                  i.pe-7s-delete-user
                                  |  pe-7s-delete-user
                                .col-lg-4.col-sm-6
                                  i.pe-7s-paint
                                  |  pe-7s-paint
                                .col-lg-4.col-sm-6
                                  i.pe-7s-bottom-arrow
                                  |  pe-7s-bottom-arrow
                                .col-lg-4.col-sm-6
                                  i.pe-7s-notebook
                                  |  pe-7s-notebook
                                .col-lg-4.col-sm-6
                                  i.pe-7s-note
                                  |  pe-7s-note
                                .col-lg-4.col-sm-6
                                  i.pe-7s-next
                                  |  pe-7s-next
                                .col-lg-4.col-sm-6
                                  i.pe-7s-news-paper
                                  |  pe-7s-news-paper
                                .col-lg-4.col-sm-6
                                  i.pe-7s-musiclist
                                  |  pe-7s-musiclist
                                .col-lg-4.col-sm-6
                                  i.pe-7s-music
                                  |  pe-7s-music
                                .col-lg-4.col-sm-6
                                  i.pe-7s-mouse
                                  |  pe-7s-mouse
                                .col-lg-4.col-sm-6
                                  i.pe-7s-more
                                  |  pe-7s-more
                                .col-lg-4.col-sm-6
                                  i.pe-7s-moon
                                  |  pe-7s-moon
                                .col-lg-4.col-sm-6
                                  i.pe-7s-monitor
                                  |  pe-7s-monitor
                                .col-lg-4.col-sm-6
                                  i.pe-7s-micro
                                  |  pe-7s-micro
                                .col-lg-4.col-sm-6
                                  i.pe-7s-menu
                                  |  pe-7s-menu
                                .col-lg-4.col-sm-6
                                  i.pe-7s-map
                                  |  pe-7s-map
                                .col-lg-4.col-sm-6
                                  i.pe-7s-map-marker
                                  |  pe-7s-map-marker
                                .col-lg-4.col-sm-6
                                  i.pe-7s-mail
                                  |  pe-7s-mail
                                .col-lg-4.col-sm-6
                                  i.pe-7s-mail-open
                                  |  pe-7s-mail-open
                                .col-lg-4.col-sm-6
                                  i.pe-7s-mail-open-file
                                  |  pe-7s-mail-open-file
                                .col-lg-4.col-sm-6
                                  i.pe-7s-magnet
                                  |  pe-7s-magnet
                                .col-lg-4.col-sm-6
                                  i.pe-7s-loop
                                  |  pe-7s-loop
                                .col-lg-4.col-sm-6
                                  i.pe-7s-look
                                  |  pe-7s-look
                                .col-lg-4.col-sm-6
                                  i.pe-7s-lock
                                  |  pe-7s-lock
                                .col-lg-4.col-sm-6
                                  i.pe-7s-lintern
                                  |  pe-7s-lintern
                                .col-lg-4.col-sm-6
                                  i.pe-7s-link
                                  |  pe-7s-link
                                .col-lg-4.col-sm-6
                                  i.pe-7s-like
                                  |  pe-7s-like
                                .col-lg-4.col-sm-6
                                  i.pe-7s-light
                                  |  pe-7s-light
                                .col-lg-4.col-sm-6
                                  i.pe-7s-less
                                  |  pe-7s-less
                                .col-lg-4.col-sm-6
                                  i.pe-7s-keypad
                                  |  pe-7s-keypad
                                .col-lg-4.col-sm-6
                                  i.pe-7s-junk
                                  |  pe-7s-junk
                                .col-lg-4.col-sm-6
                                  i.pe-7s-info
                                  |  pe-7s-info
                                .col-lg-4.col-sm-6
                                  i.pe-7s-home
                                  |  pe-7s-home
                                .col-lg-4.col-sm-6
                                  i.pe-7s-help2
                                  |  pe-7s-help2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-help1
                                  |  pe-7s-help1
                                .col-lg-4.col-sm-6
                                  i.pe-7s-graph3
                                  |  pe-7s-graph3
                                .col-lg-4.col-sm-6
                                  i.pe-7s-graph2
                                  |  pe-7s-graph2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-graph1
                                  |  pe-7s-graph1
                                .col-lg-4.col-sm-6
                                  i.pe-7s-graph
                                  |  pe-7s-graph
                                .col-lg-4.col-sm-6
                                  i.pe-7s-global
                                  |  pe-7s-global
                                .col-lg-4.col-sm-6
                                  i.pe-7s-gleam
                                  |  pe-7s-gleam
                                .col-lg-4.col-sm-6
                                  i.pe-7s-glasses
                                  |  pe-7s-glasses
                                .col-lg-4.col-sm-6
                                  i.pe-7s-gift
                                  |  pe-7s-gift
                                .col-lg-4.col-sm-6
                                  i.pe-7s-folder
                                  |  pe-7s-folder
                                .col-lg-4.col-sm-6
                                  i.pe-7s-flag
                                  |  pe-7s-flag
                                .col-lg-4.col-sm-6
                                  i.pe-7s-filter
                                  |  pe-7s-filter
                                .col-lg-4.col-sm-6
                                  i.pe-7s-file
                                  |  pe-7s-file
                                .col-lg-4.col-sm-6
                                  i.pe-7s-expand1
                                  |  pe-7s-expand1
                                .col-lg-4.col-sm-6
                                  i.pe-7s-exapnd2
                                  |  pe-7s-exapnd2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-edit
                                  |  pe-7s-edit
                                .col-lg-4.col-sm-6
                                  i.pe-7s-drop
                                  |  pe-7s-drop
                                .col-lg-4.col-sm-6
                                  i.pe-7s-drawer
                                  |  pe-7s-drawer
                                .col-lg-4.col-sm-6
                                  i.pe-7s-download
                                  |  pe-7s-download
                                .col-lg-4.col-sm-6
                                  i.pe-7s-display2
                                  |  pe-7s-display2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-display1
                                  |  pe-7s-display1
                                .col-lg-4.col-sm-6
                                  i.pe-7s-diskette
                                  |  pe-7s-diskette
                                .col-lg-4.col-sm-6
                                  i.pe-7s-date
                                  |  pe-7s-date
                                .col-lg-4.col-sm-6
                                  i.pe-7s-cup
                                  |  pe-7s-cup
                                .col-lg-4.col-sm-6
                                  i.pe-7s-culture
                                  |  pe-7s-culture
                                .col-lg-4.col-sm-6
                                  i.pe-7s-crop
                                  |  pe-7s-crop
                                .col-lg-4.col-sm-6
                                  i.pe-7s-credit
                                  |  pe-7s-credit
                                .col-lg-4.col-sm-6
                                  i.pe-7s-copy-file
                                  |  pe-7s-copy-file
                                .col-lg-4.col-sm-6
                                  i.pe-7s-config
                                  |  pe-7s-config
                                .col-lg-4.col-sm-6
                                  i.pe-7s-compass
                                  |  pe-7s-compass
                                .col-lg-4.col-sm-6
                                  i.pe-7s-comment
                                  |  pe-7s-comment
                                .col-lg-4.col-sm-6
                                  i.pe-7s-coffee
                                  |  pe-7s-coffee
                                .col-lg-4.col-sm-6
                                  i.pe-7s-cloud
                                  |  pe-7s-cloud
                                .col-lg-4.col-sm-6
                                  i.pe-7s-clock
                                  |  pe-7s-clock
                                .col-lg-4.col-sm-6
                                  i.pe-7s-check
                                  |  pe-7s-check
                                .col-lg-4.col-sm-6
                                  i.pe-7s-chat
                                  |  pe-7s-chat
                                .col-lg-4.col-sm-6
                                  i.pe-7s-cart
                                  |  pe-7s-cart
                                .col-lg-4.col-sm-6
                                  i.pe-7s-camera
                                  |  pe-7s-camera
                                .col-lg-4.col-sm-6
                                  i.pe-7s-call
                                  |  pe-7s-call
                                .col-lg-4.col-sm-6
                                  i.pe-7s-calculator
                                  |  pe-7s-calculator
                                .col-lg-4.col-sm-6
                                  i.pe-7s-browser
                                  |  pe-7s-browser
                                .col-lg-4.col-sm-6
                                  i.pe-7s-box2
                                  |  pe-7s-box2
                                .col-lg-4.col-sm-6
                                  i.pe-7s-box1
                                  |  pe-7s-box1
                                .col-lg-4.col-sm-6
                                  i.pe-7s-bookmarks
                                  |  pe-7s-bookmarks
                                .col-lg-4.col-sm-6
                                  i.pe-7s-bicycle
                                  |  pe-7s-bicycle
                                .col-lg-4.col-sm-6
                                  i.pe-7s-bell
                                  |  pe-7s-bell
                                .col-lg-4.col-sm-6
                                  i.pe-7s-battery
                                  |  pe-7s-battery
                                .col-lg-4.col-sm-6
                                  i.pe-7s-ball
                                  |  pe-7s-ball
                                .col-lg-4.col-sm-6
                                  i.pe-7s-back
                                  |  pe-7s-back
                                .col-lg-4.col-sm-6
                                  i.pe-7s-attention
                                  |  pe-7s-attention
                                .col-lg-4.col-sm-6
                                  i.pe-7s-anchor
                                  |  pe-7s-anchor
                                .col-lg-4.col-sm-6
                                  i.pe-7s-albums
                                  |  pe-7s-albums
                                .col-lg-4.col-sm-6
                                  i.pe-7s-alarm
                                  |  pe-7s-alarm
                                .col-lg-4.col-sm-6
                                  i.pe-7s-airplay
                                  |  pe-7s-airplay
 
                    // Container-fluid Ends


                include ../../components/footer
        .icon-hover-bottom.p-fixed.fa-fa-icon-show-div
          .container-fluid
            .row
              .icon-popup
                .close-icon
                  i.icofont.icofont-close
                .icon-first
                  i#icon_main.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files   
