- var theme_customizer      = true;
- var tooltip               = true;
- var page_icon             = true;
- var notify                = true;
- var simple_line_icon      = true;
- var icon_notify           = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Simple-line icon

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active Simple-line icon
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Simple-line Icons
                            .card-body
                              .row.icon-lists
                                .col-lg-4.col-sm-6
                                  i.icon-user
                                  | icon-user
                                .col-lg-4.col-sm-6
                                  i.icon-user-female
                                  | icon-user-female
                                .col-lg-4.col-sm-6
                                  i.icon-people
                                  | icon-people
                                .col-lg-4.col-sm-6
                                  i.icon-user-follow
                                  | icon-user-follow
                                .col-lg-4.col-sm-6
                                  i.icon-user-following
                                  | icon-user-following
                                .col-lg-4.col-sm-6
                                  i.icon-user-unfollow
                                  | icon-user-unfollow
                                .col-lg-4.col-sm-6
                                  i.icon-trophy
                                  | icon-trophy
                                .col-lg-4.col-sm-6
                                  i.icon-speedometer
                                  | icon-speedometer
                                .col-lg-4.col-sm-6
                                  i.icon-social-youtube
                                  | icon-social-youtube
                                .col-lg-4.col-sm-6
                                  i.icon-social-twitter
                                  | icon-social-twitter
                                .col-lg-4.col-sm-6
                                  i.icon-social-tumblr
                                  | icon-social-tumblr
                                .col-lg-4.col-sm-6
                                  i.icon-social-facebook
                                  | icon-social-facebook
                                .col-lg-4.col-sm-6
                                  i.icon-social-dropbox
                                  | icon-social-dropbox
                                .col-lg-4.col-sm-6
                                  i.icon-social-dribbble
                                  | icon-social-dribbble
                                .col-lg-4.col-sm-6
                                  i.icon-shield
                                  | icon-shield
                                .col-lg-4.col-sm-6
                                  i.icon-screen-tablet
                                  | icon-screen-tablet
                                .col-lg-4.col-sm-6
                                  i.icon-screen-smartphone
                                  | icon-screen-smartphone
                                .col-lg-4.col-sm-6
                                  i.icon-screen-desktop
                                  | icon-screen-desktop
                                .col-lg-4.col-sm-6
                                  i.icon-plane
                                  | icon-plane
                                .col-lg-4.col-sm-6
                                  i.icon-notebook
                                  | icon-notebook
                                .col-lg-4.col-sm-6
                                  i.icon-mustache
                                  | icon-mustache
                                .col-lg-4.col-sm-6
                                  i.icon-mouse
                                  | icon-mouse
                                .col-lg-4.col-sm-6
                                  i.icon-magnet
                                  | icon-magnet
                                .col-lg-4.col-sm-6
                                  i.icon-magic-wand
                                  | icon-magic-wand
                                .col-lg-4.col-sm-6
                                  i.icon-hourglass
                                  | icon-hourglass
                                .col-lg-4.col-sm-6
                                  i.icon-graduation
                                  | icon-graduation
                                .col-lg-4.col-sm-6
                                  i.icon-ghost
                                  | icon-ghost
                                .col-lg-4.col-sm-6
                                  i.icon-game-controller
                                  | icon-game-controller
                                .col-lg-4.col-sm-6
                                  i.icon-fire
                                  | icon-fire
                                .col-lg-4.col-sm-6
                                  i.icon-eyeglass
                                  | icon-eyeglass
                                .col-lg-4.col-sm-6
                                  i.icon-envelope-open
                                  | icon-envelope-open
                                .col-lg-4.col-sm-6
                                  i.icon-envelope-letter
                                  | icon-envelope-letter
                                .col-lg-4.col-sm-6
                                  i.icon-energy
                                  | icon-energy
                                .col-lg-4.col-sm-6
                                  i.icon-disc
                                  | icon-disc
                                .col-lg-4.col-sm-6
                                  i.icon-cursor-move
                                  | icon-cursor-move
                                .col-lg-4.col-sm-6
                                  i.icon-crop
                                  | icon-crop
                                .col-lg-4.col-sm-6
                                  i.icon-credit-card
                                  | icon-credit-card
                                .col-lg-4.col-sm-6
                                  i.icon-chemistry
                                  | icon-chemistry
                                .col-lg-4.col-sm-6
                                  i.icon-bell
                                  | icon-bell
                                .col-lg-4.col-sm-6
                                  i.icon-badge
                                  | icon-badge
                                .col-lg-4.col-sm-6
                                  i.icon-anchor
                                  | icon-anchor
                                .col-lg-4.col-sm-6
                                  i.icon-action-redo
                                  | icon-action-redo
                                .col-lg-4.col-sm-6
                                  i.icon-action-undo
                                  | icon-action-undo
                                .col-lg-4.col-sm-6
                                  i.icon-bag
                                  | icon-bag
                                .col-lg-4.col-sm-6
                                  i.icon-basket
                                  | icon-basket
                                .col-lg-4.col-sm-6
                                  i.icon-basket-loaded
                                  | icon-basket-loaded
                                .col-lg-4.col-sm-6
                                  i.icon-book-open
                                  | icon-book-open
                                .col-lg-4.col-sm-6
                                  i.icon-briefcase
                                  | icon-briefcase
                                .col-lg-4.col-sm-6
                                  i.icon-bubbles
                                  | icon-bubbles
                                .col-lg-4.col-sm-6
                                  i.icon-calculator
                                  | icon-calculator
                                .col-lg-4.col-sm-6
                                  i.icon-call-end
                                  | icon-call-end
                                .col-lg-4.col-sm-6
                                  i.icon-call-in
                                  | icon-call-in
                                .col-lg-4.col-sm-6
                                  i.icon-call-out
                                  | icon-call-out
                                .col-lg-4.col-sm-6
                                  i.icon-compass
                                  | icon-compass
                                .col-lg-4.col-sm-6
                                  i.icon-cup
                                  | icon-cup
                                .col-lg-4.col-sm-6
                                  i.icon-diamond
                                  | icon-diamond
                                .col-lg-4.col-sm-6
                                  i.icon-direction
                                  | icon-direction
                                .col-lg-4.col-sm-6
                                  i.icon-directions
                                  | icon-directions
                                .col-lg-4.col-sm-6
                                  i.icon-docs
                                  | icon-docs
                                .col-lg-4.col-sm-6
                                  i.icon-drawer
                                  | icon-drawer
                                .col-lg-4.col-sm-6
                                  i.icon-drop
                                  | icon-drop
                                .col-lg-4.col-sm-6
                                  i.icon-earphones
                                  | icon-earphones
                                .col-lg-4.col-sm-6
                                  i.icon-earphones-alt
                                  | icon-earphones-alt
                                .col-lg-4.col-sm-6
                                  i.icon-feed
                                  | icon-feed
                                .col-lg-4.col-sm-6
                                  i.icon-film
                                  | icon-film
                                .col-lg-4.col-sm-6
                                  i.icon-folder-alt
                                  | icon-folder-alt
                                .col-lg-4.col-sm-6
                                  i.icon-frame
                                  | icon-frame
                                .col-lg-4.col-sm-6
                                  i.icon-globe
                                  | icon-globe
                                .col-lg-4.col-sm-6
                                  i.icon-globe-alt
                                  | icon-globe-alt
                                .col-lg-4.col-sm-6
                                  i.icon-handbag
                                  | icon-handbag
                                .col-lg-4.col-sm-6
                                  i.icon-layers
                                  | icon-layers
                                .col-lg-4.col-sm-6
                                  i.icon-map
                                  | icon-map
                                .col-lg-4.col-sm-6
                                  i.icon-picture
                                  | icon-picture
                                .col-lg-4.col-sm-6
                                  i.icon-pin
                                  | icon-pin
                                .col-lg-4.col-sm-6
                                  i.icon-playlist
                                  | icon-playlist
                                .col-lg-4.col-sm-6
                                  i.icon-present
                                  | icon-present
                                .col-lg-4.col-sm-6
                                  i.icon-printer
                                  | icon-printer
                                .col-lg-4.col-sm-6
                                  i.icon-puzzle
                                  | icon-puzzle
                                .col-lg-4.col-sm-6
                                  i.icon-speech
                                  | icon-speech
                                .col-lg-4.col-sm-6
                                  i.icon-vector
                                  | icon-vector
                                .col-lg-4.col-sm-6
                                  i.icon-wallet
                                  | icon-wallet
                                .col-lg-4.col-sm-6
                                  i.icon-arrow-down
                                  | icon-arrow-down
                                .col-lg-4.col-sm-6
                                  i.icon-arrow-left
                                  | icon-arrow-left
                                .col-lg-4.col-sm-6
                                  i.icon-arrow-right
                                  | icon-arrow-right
                                .col-lg-4.col-sm-6
                                  i.icon-arrow-up
                                  | icon-arrow-up
                                .col-lg-4.col-sm-6
                                  i.icon-bar-chart
                                  | icon-bar-chart
                                .col-lg-4.col-sm-6
                                  i.icon-bulb
                                  | icon-bulb
                                .col-lg-4.col-sm-6
                                  i.icon-calendar
                                  | icon-calendar
                                .col-lg-4.col-sm-6
                                  i.icon-control-end
                                  | icon-control-end
                                .col-lg-4.col-sm-6
                                  i.icon-control-forward
                                  | icon-control-forward
                                .col-lg-4.col-sm-6
                                  i.icon-control-pause
                                  | icon-control-pause
                                .col-lg-4.col-sm-6
                                  i.icon-control-play
                                  | icon-control-play
                                .col-lg-4.col-sm-6
                                  i.icon-control-rewind
                                  | icon-control-rewind
                                .col-lg-4.col-sm-6
                                  i.icon-control-start
                                  | icon-control-start
                                .col-lg-4.col-sm-6
                                  i.icon-cursor
                                  | icon-cursor
                                .col-lg-4.col-sm-6
                                  i.icon-dislike
                                  | icon-dislike
                                .col-lg-4.col-sm-6
                                  i.icon-equalizer
                                  | icon-equalizer
                                .col-lg-4.col-sm-6
                                  i.icon-graph
                                  | icon-graph
                                .col-lg-4.col-sm-6
                                  i.icon-grid
                                  | icon-grid
                                .col-lg-4.col-sm-6
                                  i.icon-home
                                  | icon-home
                                .col-lg-4.col-sm-6
                                  i.icon-like
                                  | icon-like
                                .col-lg-4.col-sm-6
                                  i.icon-list
                                  | icon-list
                                .col-lg-4.col-sm-6
                                  i.icon-login
                                  | icon-login
                                .col-lg-4.col-sm-6
                                  i.icon-logout
                                  | icon-logout
                                .col-lg-4.col-sm-6
                                  i.icon-loop
                                  | icon-loop
                                .col-lg-4.col-sm-6
                                  i.icon-microphone
                                  | icon-microphone
                                .col-lg-4.col-sm-6
                                  i.icon-music-tone
                                  | icon-music-tone
                                .col-lg-4.col-sm-6
                                  i.icon-music-tone-alt
                                  | icon-music-tone-alt
                                .col-lg-4.col-sm-6
                                  i.icon-note
                                  | icon-note
                                .col-lg-4.col-sm-6
                                  i.icon-pencil
                                  | icon-pencil
                                .col-lg-4.col-sm-6
                                  i.icon-pie-chart
                                  | icon-pie-chart
                                .col-lg-4.col-sm-6
                                  i.icon-question
                                  | icon-question
                                .col-lg-4.col-sm-6
                                  i.icon-rocket
                                  | icon-rocket
                                .col-lg-4.col-sm-6
                                  i.icon-share
                                  | icon-share
                                .col-lg-4.col-sm-6
                                  i.icon-share-alt
                                  | icon-share-alt
                                .col-lg-4.col-sm-6
                                  i.icon-shuffle
                                  | icon-shuffle
                                .col-lg-4.col-sm-6
                                  i.icon-size-actual
                                  | icon-size-actual
                                .col-lg-4.col-sm-6
                                  i.icon-size-fullscreen
                                  | icon-size-fullscreen
                                .col-lg-4.col-sm-6
                                  i.icon-support
                                  | icon-support
                                .col-lg-4.col-sm-6
                                  i.icon-tag
                                  | icon-tag
                                .col-lg-4.col-sm-6
                                  i.icon-trash
                                  | icon-trash
                                .col-lg-4.col-sm-6
                                  i.icon-umbrella
                                  | icon-umbrella
                                .col-lg-4.col-sm-6
                                  i.icon-wrench
                                  | icon-wrench
                                .col-lg-4.col-sm-6
                                  i.icon-ban
                                  | icon-ban
                                .col-lg-4.col-sm-6
                                  i.icon-bubble
                                  | icon-bubble
                                .col-lg-4.col-sm-6
                                  i.icon-camcorder
                                  | icon-camcorder
                                .col-lg-4.col-sm-6
                                  i.icon-camera
                                  | icon-camera
                                .col-lg-4.col-sm-6
                                  i.icon-check
                                  | icon-check
                                .col-lg-4.col-sm-6
                                  i.icon-clock
                                  | icon-clock
                                .col-lg-4.col-sm-6
                                  i.icon-close
                                  | icon-close
                                .col-lg-4.col-sm-6
                                  i.icon-cloud-download
                                  | icon-cloud-download
                                .col-lg-4.col-sm-6
                                  i.icon-cloud-upload
                                  | icon-cloud-upload
                                .col-lg-4.col-sm-6
                                  i.icon-doc
                                  | icon-doc
                                .col-lg-4.col-sm-6
                                  i.icon-envelope
                                  | icon-envelope
                                .col-lg-4.col-sm-6
                                  i.icon-eye
                                  | icon-eye
                                .col-lg-4.col-sm-6
                                  i.icon-flag
                                  | icon-flag
                                .col-lg-4.col-sm-6
                                  i.icon-folder
                                  | icon-folder
                                .col-lg-4.col-sm-6
                                  i.icon-heart
                                  | icon-heart
                                .col-lg-4.col-sm-6
                                  i.icon-info
                                  | icon-info
                                .col-lg-4.col-sm-6
                                  i.icon-key
                                  | icon-key
                                .col-lg-4.col-sm-6
                                  i.icon-link
                                  | icon-link
                                .col-lg-4.col-sm-6
                                  i.icon-lock
                                  | icon-lock
                                .col-lg-4.col-sm-6
                                  i.icon-lock-open
                                  | icon-lock-open
                                .col-lg-4.col-sm-6
                                  i.icon-magnifier
                                  | icon-magnifier
                                .col-lg-4.col-sm-6
                                  i.icon-magnifier-add
                                  | icon-magnifier-add
                                .col-lg-4.col-sm-6
                                  i.icon-magnifier-remove
                                  | icon-magnifier-remove
                                .col-lg-4.col-sm-6
                                  i.icon-paper-clip
                                  | icon-paper-clip
                                .col-lg-4.col-sm-6
                                  i.icon-paper-plane
                                  | icon-paper-plane
                                .col-lg-4.col-sm-6
                                  i.icon-plus
                                  | icon-plus
                                .col-lg-4.col-sm-6
                                  i.icon-minus
                                  | icon-minus
                                .col-lg-4.col-sm-6
                                  i.icon-power
                                  | icon-power
                                .col-lg-4.col-sm-6
                                  i.icon-refresh
                                  | icon-refresh
                                .col-lg-4.col-sm-6
                                  i.icon-reload
                                  | icon-reload
                                .col-lg-4.col-sm-6
                                  i.icon-settings
                                  | icon-settings
                                .col-lg-4.col-sm-6
                                  i.icon-star
                                  | icon-star
                                .col-lg-4.col-sm-6
                                  i.icon-symbol-female
                                  | icon-symbol-female
                                .col-lg-4.col-sm-6
                                  i.icon-symbol-male
                                  | icon-symbol-male
                                .col-lg-4.col-sm-6
                                  i.icon-target
                                  | icon-target
                                .col-lg-4.col-sm-6
                                  i.icon-volume-1
                                  | icon-volume-1
                                .col-lg-4.col-sm-6
                                  i.icon-volume-2
                                  | icon-volume-2
                                .col-lg-4.col-sm-6
                                  i.icon-volume-off
                                  | icon-volume-off

                    // Container-fluid Ends
                include ../../components/footer
        .icon-hover-bottom.p-fixed.fa-fa-icon-show-div
          .container-fluid
            .row
              .icon-popup
                .close-icon
                  i.icofont.icofont-close
                .icon-first
                  i#icon_main.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files   
