- var theme_customizer      = true;
- var tooltip               = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | State Color

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Ui Kits
                                      li.breadcrumb-item.active State Color
                    // Container-fluid starts                    
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Default Color
                            .card-body
                              .color-box
                                button.btn.btn-primary.btn-square #655af3
                                button.btn.btn-square.btn-secondary #148df6
                                button.btn.btn-square.btn-success #51bb25
                                button.btn.btn-square.btn-info #7a15f7
                                button.btn.btn-square.btn-warning #ff5f24
                                button.btn.btn-square.btn-danger #fd2e64
                                button.btn.btn-square.btn-light #e8ebf2
                                button.btn.btn-square.btn-dark #2c323f
                          .card
                            .card-header
                              h5 Color
                            .card-body
                              .row
                                .col-lg-3.col-sm-6
                                  h6.sub-title.text-uppercase Primary
                                  .primary-color
                                    ul.m-b-30
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6
                                  h6.sub-title.text-uppercase secondary
                                  .secondary-color
                                    ul.m-b-30
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6
                                  h6.sub-title.text-uppercase Success
                                  .success-color
                                    ul.m-b-30
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6
                                  h6.sub-title.text-uppercase Info
                                  .info-color
                                    ul.m-b-30
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6
                                  h6.sub-title.text-uppercase Warning
                                  .yellow-color
                                    ul
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6.xs-mt
                                  h6.sub-title.text-uppercase Danger
                                  .red-color
                                    ul
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6.nav-md-mt
                                  h6.sub-title.text-uppercase Pink
                                  .pink-color
                                    ul
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                .col-lg-3.col-sm-6.nav-md-mt
                                  h6.sub-title.text-uppercase Grey
                                  .gray-color
                                    ul
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span
                                      li
                                        span

                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files   
