doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Cuba admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords', content='admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author', content='pixelstrap')
    link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
    link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
    title Cuba - Premium Admin Template
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    style(type='text/css').
      body{
      text-align: center;
      margin: 0 auto;
      width: 650px;
      font-family: work-Sans, sans-serif;
      background-color: #f6f7fb;
      display: block;
      }
      ul{
      margin:0;
      padding: 0;
      }
      li{
      display: inline-block;
      text-decoration: unset;
      }
      a{
      text-decoration: none;
      }
      h5{
      margin:10px;
      color:#777;
      }
      .text-center{
      text-align: center
      }
      .main-bg-light{
      background-color: #fafafa;
      }
      .title{
      color: #444444;
      font-size: 22px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 0;
      padding-bottom: 0;
      text-transform: capitalize;
      display: inline-block;
      line-height: 1;
      }
      .menu{
      width:100%;
      }
      .menu li a{
      text-transform: capitalize;
      color:#444;
      font-size:16px;
      margin-right:15px
      }
      .main-logo{
      padding: 10px 20px;
      }
      .product-box .product {
      border:1px solid #ddd;
      text-align: center;
      position: relative;
      margin: 0 15px;
      }
      .product-info {
      margin-top: 15px;
      }
      .product-info h6 {
      line-height: 1;
      margin-bottom: 0;
      padding-bottom: 5px;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #777;
      margin-top: 0;
      }
      .product-info h4 {
      font-size: 16px;
      color: #444;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 5px;
      padding-bottom: 5px;
      line-height: 1;
      }
      .add-with-banner > td{
      padding:0 15px;
      }
      .footer-social-icon tr td img{
      margin-left:5px;
      margin-right:5px;
      }
  body(style='margin: 20px auto;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', style='background-color: #fff; -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);')
      tbody
        tr
          td
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr.header
                  td(align='left', valign='top')
                    img.main-logo(src='../assets/images/logo/logo.png')
                  td.menu(align='right')
                    ul
                      li(style='display: inline-block;text-decoration: unset')
                        a(href='#', style='text-transform: capitalize;color:#444;font-size:16px;margin-right:15px;text-decoration: none;') Home
                      li(style='display: inline-block;text-decoration: unset')
                        a(href='#', style='text-transform: capitalize;color:#444;font-size:16px;margin-right:15px;text-decoration: none;') Whishlist
                      li(style='display: inline-block;text-decoration: unset')
                        a(href='#', style='text-transform: capitalize;color:#444;font-size:16px;margin-right:15px;text-decoration: none;') my cart
                      li(style='display: inline-block;text-decoration: unset')
                        a(href='#', style='text-transform: capitalize;color:#444;font-size:16px;margin-right:15px;text-decoration: none;') Contact
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr
                  td
                    img(src='../assets/images/email-template/1.jpg', alt='', style='width: 100%;')
            h4.title(style='text-align: center;') Additional 50% Off
            h5(style='text-align: center;') On clothes for kids,women & Mens Wear
            table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='margin-top:30px;')
              thead
                tr
              tbody
                tr
                  td
                    .product-box.hover
                      .product.border-theme.br-0
                        img(src='../assets/images/email-template/2.png', alt='product', style='width: 100%;')
                      .product-info
                        a(href='#', tabindex='0', style='text-align: center;')
                          h6(style='text-align: center;') When an unknown.
                        h4(style='text-align: center;') $45.00
                  td
                    .product-box.hover
                      .product.border-theme.br-0
                        img.img-fluid(src='../assets/images/email-template/7.png', alt='product')
                      .product-info
                        .rating
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                        a(href='#', tabindex='0', style='text-align: center;')
                          h6(style='text-align: center;') When an unknown.
                        h4(style='text-align: center;') $45.00
                  td
                    .product-box.hover
                      .product.border-theme.br-0
                        img.img-fluid(src='../assets/images/email-template/8.png', alt='product')
                      .product-info
                        .rating
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                        a(href='#', tabindex='0', style='text-align: center;')
                          h6(style='text-align: center;') When an unknown.
                        h4(style='text-align: center;') $45.00
            table.main-bg-light(border='0', cellpadding='0', cellspacing='0', width='100%', style='margin-top:40px;')
              tbody
                tr
                  td(height='45', style='mso-line-height-rule:exactly; line-height:45px;')
                tr.add-with-banner(align='center')
                  td
                    img(src='../assets/images/email-template/3.png')
                  td
                    div(style='border-top:1px solid #f02e4e; mso-line-height-rule: exactly;', data-border-bottom-color='Week Border')
                    a(href='#')
                      .Heading(align='center', style='color:#333333;font-weight:600; font-size:23px; letter-spacing:1px; line-height:35px; mso-line-height-rule: exactly; margin-top: 15px;', data-color='Week Heading', data-size='Week Heading', data-min='15', data-max='43') This Week's Sale 
                      .Heading(align='center', style='color:#333333; font-weight:600; font-size:25px; letter-spacing:1px; line-height:35px; mso-line-height-rule: exactly; margin-bottom: 15px;', data-color='Week Heading', data-size='Week Heading', data-min='15', data-max='45') Save Up To 50%
                    div(style='border-bottom:1px solid #f02e4e; mso-line-height-rule: exactly;', data-border-bottom-color='Week Border')
                tr
                  td(height='45', style='mso-line-height-rule:exactly; line-height:45px;')
            table(border='0', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr(align='center')
                  td
                    a(href='#')
                      img(src='../assets/images/email-template/cosmetic.jpg', style='width:100%;')
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='margin-top:30px;')
              tbody
                tr.add-with-banner(align='center')
                  td
                    a(href='#')
                      img(src='../assets/images/email-template/6.png', style='width:100%;')
                  td
                    a(href='#')
                      img(src='../assets/images/email-template/5.png', style='width:100%;')
            table.main-bg-light.text-center(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='margin-top:30px;')
              tbody
                tr
                  td(style='padding: 30px;')
                    div
                      h4.title(style='margin:0;text-align: center;') Follow us
                    table.footer-social-icon(border='0', cellpadding='0', cellspacing='0', align='center', style='margin-top:20px;')
                      tbody
                        tr
                          td
                            a(href='#')
                              img(src='../assets/images/email-template/facebook.png', alt='')
                          td
                            a(href='#')
                              img(src='../assets/images/email-template/youtube.png', alt='')
                          td
                            a(href='#')
                              img(src='../assets/images/email-template/twitter.png', alt='')
                          td
                            a(href='#')
                              img(src='../assets/images/email-template/gplus.png', alt='')
                          td
                            a(href='#')
                              img(src='../assets/images/email-template/linkedin.png', alt='')
                          td
                            a(href='#')
                              img(src='../assets/images/email-template/pinterest.png', alt='')
                    div(style='border-top: 1px solid #ddd; margin: 20px auto 0;')
                    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='margin: 20px auto 0;')
                      tbody
                        tr
                          td
                            a(href='#', style='font-size:13px') Want to change how you receive these emails?
                        tr
                          td
                            p(style='font-size:13px; margin:0;') 2018 - 19 Copy Right by Themeforest powerd by Pixel Strap
                        tr
                          td
                            a(href='#', style='font-size:13px; margin:0;text-decoration: underline;') Unsubscribe
