- var theme_customizer      = true;
- var tooltip               = true;
- var page_icon             = true;
- var notify                = true;
- var icon_notify           = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | Themify icon

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active Themify icon
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Arrows & Direction Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-up
                                  |  icon-arrow-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-right
                                  |  icon-arrow-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-left
                                  |  icon-arrow-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-down
                                  |  icon-arrow-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrows-vertical
                                  |  icon-arrows-vertical
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrows-horizontal
                                  |  icon-arrows-horizontal
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-up
                                  |  icon-angle-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-right
                                  |  icon-angle-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-left
                                  |  icon-angle-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-down
                                  |  icon-angle-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-double-up
                                  |  icon-angle-double-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-double-right
                                  |  icon-angle-double-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-double-left
                                  |  icon-angle-double-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-angle-double-down
                                  |  icon-angle-double-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-move
                                  |  icon-move
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-fullscreen
                                  |  icon-fullscreen
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-top-right
                                  |  icon-arrow-top-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-top-left
                                  |  icon-arrow-top-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-circle-up
                                  |  icon-arrow-circle-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-circle-right
                                  |  icon-arrow-circle-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-circle-left
                                  |  icon-arrow-circle-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrow-circle-down
                                  |  icon-arrow-circle-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-arrows-corner
                                  |  icon-arrows-corner
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-split-v
                                  |  icon-split-v
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-split-v-alt
                                  |  icon-split-v-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-split-h
                                  |  icon-split-h
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-point-up
                                  |  icon-hand-point-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-point-right
                                  |  icon-hand-point-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-point-left
                                  |  icon-hand-point-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-point-down
                                  |  icon-hand-point-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-back-right
                                  |  icon-back-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-back-left
                                  |  icon-back-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-exchange-vertical
                                  |  icon-exchange-vertical
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Web App Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-wand
                                  |  icon-wand
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-save
                                  |  icon-save
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-save-alt
                                  |  icon-save-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-direction
                                  |  icon-direction
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-direction-alt
                                  |  icon-direction-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-user
                                  |  icon-user
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-link
                                  |  icon-link
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-unlink
                                  |  icon-unlink
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-trash
                                  |  icon-trash
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-target
                                  |  icon-target
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-tag
                                  |  icon-tag
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-desktop
                                  |  icon-desktop
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-tablet
                                  |  icon-tablet
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-mobile
                                  |  icon-mobile
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-email
                                  |  icon-email
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-star
                                  |  icon-star
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-spray
                                  |  icon-spray
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-signal
                                  |  icon-signal
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shopping-cart
                                  |  icon-shopping-cart
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shopping-cart-full
                                  |  icon-shopping-cart-full
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-settings
                                  |  icon-settings
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-search
                                  |  icon-search
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-zoom-in
                                  |  icon-zoom-in
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-zoom-out
                                  |  icon-zoom-out
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-cut
                                  |  icon-cut
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-ruler
                                  |  icon-ruler
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-ruler-alt-2
                                  |  icon-ruler-alt-2
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-ruler-pencil
                                  |  icon-ruler-pencil
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-ruler-alt
                                  |  icon-ruler-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bookmark
                                  |  icon-bookmark
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bookmark-alt
                                  |  icon-bookmark-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-reload
                                  |  icon-reload
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-plus
                                  |  icon-plus
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-minus
                                  |  icon-minus
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-close
                                  |  icon-close
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pin
                                  |  icon-pin
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pencil
                                  |  icon-pencil
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pencil-alt
                                  |  icon-pencil-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-paint-roller
                                  |  icon-paint-roller
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-paint-bucket
                                  |  icon-paint-bucket
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-na
                                  |  icon-na
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-medall
                                  |  icon-medall
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-medall-alt
                                  |  icon-medall-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-marker
                                  |  icon-marker
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-marker-alt
                                  |  icon-marker-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-lock
                                  |  icon-lock
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-unlock
                                  |  icon-unlock
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-location-arrow
                                  |  icon-location-arrow
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-layout
                                  |  icon-layout
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-layers
                                  |  icon-layers
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-layers-alt
                                  |  icon-layers-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-key
                                  |  icon-key
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-image
                                  |  icon-image
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-heart
                                  |  icon-heart
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-heart-broken
                                  |  icon-heart-broken
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-stop
                                  |  icon-hand-stop
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-open
                                  |  icon-hand-open
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hand-drag
                                  |  icon-hand-drag
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-flag
                                  |  icon-flag
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-flag-alt
                                  |  icon-flag-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-flag-alt-2
                                  |  icon-flag-alt-2
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-eye
                                  |  icon-eye
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-import
                                  |  icon-import
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-export
                                  |  icon-export
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-cup
                                  |  icon-cup
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-crown
                                  |  icon-crown
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-comments
                                  |  icon-comments
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-comment
                                  |  icon-comment
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-comment-alt
                                  |  icon-comment-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-thought
                                  |  icon-thought
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-clip
                                  |  icon-clip
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-check
                                  |  icon-check
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-check-box
                                  |  icon-check-box
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-camera
                                  |  icon-camera
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-announcement
                                  |  icon-announcement
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-brush
                                  |  icon-brush
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-brush-alt
                                  |  icon-brush-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-palette
                                  |  icon-palette
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-briefcase
                                  |  icon-briefcase
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bolt
                                  |  icon-bolt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bolt-alt
                                  |  icon-bolt-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-blackboard
                                  |  icon-blackboard
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bag
                                  |  icon-bag
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-world
                                  |  icon-world
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-wheelchair
                                  |  icon-wheelchair
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-car
                                  |  icon-car
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-truck
                                  |  icon-truck
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-timer
                                  |  icon-timer
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-ticket
                                  |  icon-ticket
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-thumb-up
                                  |  icon-thumb-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-thumb-down
                                  |  icon-thumb-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-stats-up
                                  |  icon-stats-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-stats-down
                                  |  icon-stats-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shine
                                  |  icon-shine
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shift-right
                                  |  icon-shift-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shift-left
                                  |  icon-shift-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shift-right-alt
                                  |  icon-shift-right-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shift-left-alt
                                  |  icon-shift-left-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shield
                                  |  icon-shield
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-notepad
                                  |  icon-notepad
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-server
                                  |  icon-server
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pulse
                                  |  icon-pulse
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-printer
                                  |  icon-printer
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-power-off
                                  |  icon-power-off
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-plug
                                  |  icon-plug
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pie-chart
                                  |  icon-pie-chart
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-panel
                                  |  icon-panel
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-package
                                  |  icon-package
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-music
                                  |  icon-music
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-music-alt
                                  |  icon-music-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-mouse
                                  |  icon-mouse
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-mouse-alt
                                  |  icon-mouse-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-money
                                  |  icon-money
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-microphone
                                  |  icon-microphone
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-menu
                                  |  icon-menu
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-menu-alt
                                  |  icon-menu-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-map
                                  |  icon-map
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-map-alt
                                  |  icon-map-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-location-pin
                                  |  icon-location-pin
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-light-bulb
                                  |  icon-light-bulb
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-info
                                  |  icon-info
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-infinite
                                  |  icon-infinite
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-id-badge
                                  |  icon-id-badge
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-hummer
                                  |  icon-hummer
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-home
                                  |  icon-home
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-help
                                  |  icon-help
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-headphone
                                  |  icon-headphone
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-harddrives
                                  |  icon-harddrives
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-harddrive
                                  |  icon-harddrive
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-gift
                                  |  icon-gift
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-game
                                  |  icon-game
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-filter
                                  |  icon-filter
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-files
                                  |  icon-files
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-file
                                  |  icon-file
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-zip
                                  |  icon-zip
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-folder
                                  |  icon-folder
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-envelope
                                  |  icon-envelope
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-dashboard
                                  |  icon-dashboard
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-cloud
                                  |  icon-cloud
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-cloud-up
                                  |  icon-cloud-up
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-cloud-down
                                  |  icon-cloud-down
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-clipboard
                                  |  icon-clipboard
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-calendar
                                  |  icon-calendar
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-book
                                  |  icon-book
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bell
                                  |  icon-bell
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-basketball
                                  |  icon-basketball
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bar-chart
                                  |  icon-bar-chart
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-bar-chart-alt
                                  |  icon-bar-chart-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-archive
                                  |  icon-archive
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-anchor
                                  |  icon-anchor
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-alert
                                  |  icon-alert
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-alarm-clock
                                  |  icon-alarm-clock
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-agenda
                                  |  icon-agenda
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-write
                                  |  icon-write
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-wallet
                                  |  icon-wallet
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-video-clapper
                                  |  icon-video-clapper
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-video-camera
                                  |  icon-video-camera
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-vector
                                  |  icon-vector
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-support
                                  |  icon-support
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-stamp
                                  |  icon-stamp
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-slice
                                  |  icon-slice
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-shortcode
                                  |  icon-shortcode
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-receipt
                                  |  icon-receipt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pin2
                                  |  icon-pin2
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pin-alt
                                  |  icon-pin-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pencil-alt2
                                  |  icon-pencil-alt2
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-eraser
                                  |  icon-eraser
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-more
                                  |  icon-more
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-more-alt
                                  |  icon-more-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-microphone-alt
                                  |  icon-microphone-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-magnet
                                  |  icon-magnet
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-line-double
                                  |  icon-line-double
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-line-dotted
                                  |  icon-line-dotted
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-line-dashed
                                  |  icon-line-dashed
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-ink-pen
                                  |  icon-ink-pen
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-info-alt
                                  |  icon-info-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-help-alt
                                  |  icon-help-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-headphone-alt
                                  |  icon-headphone-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-gallery
                                  |  icon-gallery
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-face-smile
                                  |  icon-face-smile
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-face-sad
                                  |  icon-face-sad
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-credit-card
                                  |  icon-credit-card
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-comments-smiley
                                  |  icon-comments-smiley
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-time
                                  |  icon-time
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-share
                                  |  icon-share
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-share-alt
                                  |  icon-share-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-rocket
                                  |  icon-rocket
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-new-window
                                  |  icon-new-window
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-rss
                                  |  icon-rss
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-rss-alt
                                  |  icon-rss-alt
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Control Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-stop
                                  |  icon-control-stop
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-shuffle
                                  |  icon-control-shuffle
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-play
                                  |  icon-control-play
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-pause
                                  |  icon-control-pause
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-forward
                                  |  icon-control-forward
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-backward
                                  |  icon-control-backward
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-volume
                                  |  icon-volume
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-skip-forward
                                  |  icon-control-skip-forward
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-skip-backward
                                  |  icon-control-skip-backward
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-record
                                  |  icon-control-record
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-control-eject
                                  |  icon-control-eject
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Text Editor
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-paragraph
                                  |  icon-paragraph
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-uppercase
                                  |  icon-uppercase
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-underline
                                  |  icon-underline
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-text
                                  |  icon-text
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-Italic
                                  |  icon-Italic
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-smallcap
                                  |  icon-smallcap
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-list
                                  |  icon-list
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-list-ol
                                  |  icon-list-ol
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-align-right
                                  |  icon-align-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-align-left
                                  |  icon-align-left
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-align-justify
                                  |  icon-align-justify
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-align-center
                                  |  icon-align-center
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-quote-right
                                  |  icon-quote-right
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-quote-left
                                  |  icon-quote-left
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 Brand Icons
                            .card-body
                              .row.icon-lists
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-flickr
                                  |  icon-flickr
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-flickr-alt
                                  |  icon-flickr-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-instagram
                                  |  icon-instagram
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-google
                                  |  icon-google
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-github
                                  |  icon-github
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-facebook
                                  |  icon-facebook
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-dropbox
                                  |  icon-dropbox
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-dropbox-alt
                                  |  icon-dropbox-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-dribbble
                                  |  icon-dribbble
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-apple
                                  |  icon-apple
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-android
                                  |  icon-android
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-yahoo
                                  |  icon-yahoo
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-trello
                                  |  icon-trello
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-stack-overflow
                                  |  icon-stack-overflow
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-soundcloud
                                  |  icon-soundcloud
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-sharethis
                                  |  icon-sharethis
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-sharethis-alt
                                  |  icon-sharethis-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-reddit
                                  |  icon-reddit
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-microsoft
                                  |  icon-microsoft
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-microsoft-alt
                                  |  icon-microsoft-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-linux
                                  |  icon-linux
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-jsfiddle
                                  |  icon-jsfiddle
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-joomla
                                  |  icon-joomla
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-html5
                                  |  icon-html5
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-css3
                                  |  icon-css3
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-drupal
                                  |  icon-drupal
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-wordpress
                                  |  icon-wordpress
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-tumblr
                                  |  icon-tumblr
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-tumblr-alt
                                  |  icon-tumblr-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-skype
                                  |  icon-skype
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-youtube
                                  |  icon-youtube
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-vimeo
                                  |  icon-vimeo
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-vimeo-alt
                                  |  icon-vimeo-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-twitter
                                  |  icon-twitter
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-twitter-alt
                                  |  icon-twitter-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-linkedin
                                  |  icon-linkedin
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pinterest
                                  |  icon-pinterest
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-pinterest-alt
                                  |  icon-pinterest-alt
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-themify-logo
                                  |  icon-themify-logo
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-themify-favicon
                                  |  icon-themify-favicon
                                .col-sm-6.col-md-6.col-lg-4
                                  i.icon-themify-favicon-alt
                                  |  icon-themify-favicon-alt

                    // Container-fluid Ends
                include ../../components/footer
        .icon-hover-bottom.p-fixed.fa-fa-icon-show-div
          .container-fluid
            .row
              .icon-popup
                .close-icon
                  i.icofont.icofont-close
                .icon-first
                  i#icon_main.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files   
