- var theme_customizer      = true;
- var tooltip               = true;
- var page_icon             = true;
- var notify                = true;
- var typicon_icon         = true;
- var icon_notify           = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | typicons icon
                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Icons
                                      li.breadcrumb-item.active  typicons icon
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5.m-b-0 typicons Icons
                            .card-body
                              .row.icon-lists
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-adjust-brightness
                                  | typcn-adjust-brightness
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-adjust-contrast
                                  | typcn-adjust-contrast
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-anchor-outline
                                  | typcn-anchor-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-anchor
                                  | typcn-anchor
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-archive
                                  | typcn-archive
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-back-outline
                                  | typcn-arrow-back-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-back
                                  | typcn-arrow-back
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-down-outline
                                  | typcn-arrow-down-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-down-thick
                                  | typcn-arrow-down-thick
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-down
                                  | typcn-arrow-down
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-forward-outline
                                  | typcn-arrow-forward-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-forward
                                  | typcn-arrow-forward
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-left-outline
                                  | typcn-arrow-left-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-left-thick
                                  | typcn-arrow-left-thick
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-left
                                  | typcn-arrow-left
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-loop-outline
                                  | typcn-arrow-loop-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-loop
                                  | typcn-arrow-loop
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-maximise-outline
                                  | typcn-arrow-maximise-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-maximise
                                  | typcn-arrow-maximise
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-minimise-outline
                                  | typcn-arrow-minimise-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-minimise
                                  | typcn-arrow-minimise
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-move-outline
                                  | typcn-arrow-move-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-move
                                  | typcn-arrow-move
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-repeat-outline
                                  | typcn-arrow-repeat-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-repeat
                                  | typcn-arrow-repeat
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-right-outline
                                  | typcn-arrow-right-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-right-thick
                                  | typcn-arrow-right-thick
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-right
                                  | typcn-arrow-right
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-shuffle
                                  | typcn-arrow-shuffle
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-sorted-down
                                  | typcn-arrow-sorted-down
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-sorted-up
                                  | typcn-arrow-sorted-up
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-sync-outline
                                  | typcn-arrow-sync-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-sync
                                  | typcn-arrow-sync
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-unsorted
                                  | typcn-arrow-unsorted
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-up-outline
                                  | typcn-arrow-up-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-up-thick
                                  | typcn-arrow-up-thick
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-arrow-up
                                  | typcn-arrow-up
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-at
                                  | typcn-at
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-attachment-outline
                                  | typcn-attachment-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-attachment
                                  | typcn-attachment
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-backspace-outline
                                  | typcn-backspace-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-backspace
                                  | typcn-backspace
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-battery-charge
                                  | typcn-battery-charge
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-battery-full
                                  | typcn-battery-full
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-battery-high
                                  | typcn-battery-high
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-battery-low
                                  | typcn-battery-low
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-battery-mid
                                  | typcn-battery-mid
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-beaker
                                  | typcn-beaker
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-beer
                                  | typcn-beer
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-bell
                                  | typcn-bell
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-book
                                  | typcn-book
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-bookmark
                                  | typcn-bookmark
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-briefcase
                                  | typcn-briefcase
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-brush
                                  | typcn-brush
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-business-card
                                  | typcn-business-card
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-calculator
                                  | typcn-calculator
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-calendar-outline
                                  | typcn-calendar-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-calendar
                                  | typcn-calendar
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-camera-outline
                                  | typcn-camera-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-camera
                                  | typcn-camera
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-cancel-outline
                                  | typcn-cancel-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-cancel
                                  | typcn-cancel
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-area-outline
                                  | typcn-chart-area-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-area
                                  | typcn-chart-area
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-bar-outline
                                  | typcn-chart-bar-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-bar
                                  | typcn-chart-bar
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-line-outline
                                  | typcn-chart-line-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-line
                                  | typcn-chart-line
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-pie-outline
                                  | typcn-chart-pie-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chart-pie
                                  | typcn-chart-pie
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chevron-left-outline
                                  | typcn-chevron-left-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chevron-left
                                  | typcn-chevron-left
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chevron-right-outline
                                  | typcn-chevron-right-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-chevron-right
                                  | typcn-chevron-right
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-clipboard
                                  | typcn-clipboard
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-cloud-storage
                                  | typcn-cloud-storage
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-cloud-storage-outline
                                  | typcn-cloud-storage-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-code-outline
                                  | typcn-code-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-code
                                  | typcn-code
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-coffee
                                  | typcn-coffee
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-cog-outline
                                  | typcn-cog-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-cog
                                  | typcn-cog
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-compass
                                  | typcn-compass
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-contacts
                                  | typcn-contacts
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-credit-card
                                  | typcn-credit-card
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-css3
                                  | typcn-css3
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-database
                                  | typcn-database
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-delete-outline
                                  | typcn-delete-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-delete
                                  | typcn-delete
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-device-desktop
                                  | typcn-device-desktop
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-device-laptop
                                  | typcn-device-laptop
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-device-phone
                                  | typcn-device-phone
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-device-tablet
                                  | typcn-device-tablet
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-directions
                                  | typcn-directions
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-divide-outline
                                  | typcn-divide-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-divide
                                  | typcn-divide
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-document-add
                                  | typcn-document-add
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-document-delete
                                  | typcn-document-delete
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-document-text
                                  | typcn-document-text
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-document
                                  | typcn-document
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-download-outline
                                  | typcn-download-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-download
                                  | typcn-download
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-dropbox
                                  | typcn-dropbox
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-edit
                                  | typcn-edit
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-eject-outline
                                  | typcn-eject-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-eject
                                  | typcn-eject
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-equals-outline
                                  | typcn-equals-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-equals
                                  | typcn-equals
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-export-outline
                                  | typcn-export-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-export
                                  | typcn-export
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-eye-outline
                                  | typcn-eye-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-eye
                                  | typcn-eye
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-feather
                                  | typcn-feather
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-film
                                  | typcn-film
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-filter
                                  | typcn-filter
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flag-outline
                                  | typcn-flag-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flag
                                  | typcn-flag
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flash-outline
                                  | typcn-flash-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flash
                                  | typcn-flash
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flow-children
                                  | typcn-flow-children
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flow-merge
                                  | typcn-flow-merge
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flow-parallel
                                  | typcn-flow-parallel
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-flow-switch
                                  | typcn-flow-switch
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-folder-add
                                  | typcn-folder-add
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-folder-delete
                                  | typcn-folder-delete
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-folder-open
                                  | typcn-folder-open
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-folder
                                  | typcn-folder
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-gift
                                  | typcn-gift
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-globe-outline
                                  | typcn-globe-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-globe
                                  | typcn-globe
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-group-outline
                                  | typcn-group-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-group
                                  | typcn-group
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-headphones
                                  | typcn-headphones
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-heart-full-outline
                                  | typcn-heart-full-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-heart-half-outline
                                  | typcn-heart-half-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-heart-outline
                                  | typcn-heart-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-heart
                                  | typcn-heart
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-home-outline
                                  | typcn-home-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-home
                                  | typcn-home
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-html5
                                  | typcn-html5
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-image-outline
                                  | typcn-image-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-image
                                  | typcn-image
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-infinity-outline
                                  | typcn-infinity-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-infinity
                                  | typcn-infinity
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-info-large-outline
                                  | typcn-info-large-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-info-large
                                  | typcn-info-large
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-info-outline
                                  | typcn-info-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-info
                                  | typcn-info
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-input-checked-outline
                                  | typcn-input-checked-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-input-checked
                                  | typcn-input-checked
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-key-outline
                                  | typcn-key-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-key
                                  | typcn-key
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-keyboard
                                  | typcn-keyboard
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-leaf
                                  | typcn-leaf
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-lightbulb
                                  | typcn-lightbulb
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-link-outline
                                  | typcn-link-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-link
                                  | typcn-link
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-location-arrow-outline
                                  | typcn-location-arrow-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-location-arrow
                                  | typcn-location-arrow
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-location-outline
                                  | typcn-location-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-location
                                  | typcn-location
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-lock-closed-outline
                                  | typcn-lock-closed-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-lock-closed
                                  | typcn-lock-closed
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-lock-open-outline
                                  | typcn-lock-open-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-lock-open
                                  | typcn-lock-open
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-mail
                                  | typcn-mail
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-map
                                  | typcn-map
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-eject-outline
                                  | typcn-media-eject-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-eject
                                  | typcn-media-eject
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-fast-forward-outline
                                  | typcn-media-fast-forward-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-fast-forward
                                  | typcn-media-fast-forward
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-pause-outline
                                  | typcn-media-pause-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-pause
                                  | typcn-media-pause
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-play-outline
                                  | typcn-media-play-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-play-reverse-outline
                                  | typcn-media-play-reverse-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-play-reverse
                                  | typcn-media-play-reverse
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-play
                                  | typcn-media-play
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-record-outline
                                  | typcn-media-record-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-record
                                  | typcn-media-record
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-rewind-outline
                                  | typcn-media-rewind-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-rewind
                                  | typcn-media-rewind
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-stop-outline
                                  | typcn-media-stop-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-media-stop
                                  | typcn-media-stop
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-message-typing
                                  | typcn-message-typing
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-message
                                  | typcn-message
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-messages
                                  | typcn-messages
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-microphone-outline
                                  | typcn-microphone-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-microphone
                                  | typcn-microphone
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-minus-outline
                                  | typcn-minus-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-minus
                                  | typcn-minus
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-mortar-board
                                  | typcn-mortar-board
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-news
                                  | typcn-news
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-notes-outline
                                  | typcn-notes-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-notes
                                  | typcn-notes
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pen
                                  | typcn-pen
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pencil
                                  | typcn-pencil
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-phone-outline
                                  | typcn-phone-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-phone
                                  | typcn-phone
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pi-outline
                                  | typcn-pi-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pi
                                  | typcn-pi
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pin-outline
                                  | typcn-pin-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pin
                                  | typcn-pin
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-pipette
                                  | typcn-pipette
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-plane-outline
                                  | typcn-plane-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-plane
                                  | typcn-plane
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-plug
                                  | typcn-plug
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-plus-outline
                                  | typcn-plus-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-plus
                                  | typcn-plus
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-point-of-interest-outline
                                  | typcn-point-of-interest-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-point-of-interest
                                  | typcn-point-of-interest
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-power-outline
                                  | typcn-power-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-power
                                  | typcn-power
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-printer
                                  | typcn-printer
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-puzzle-outline
                                  | typcn-puzzle-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-puzzle
                                  | typcn-puzzle
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-radar-outline
                                  | typcn-radar-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-radar
                                  | typcn-radar
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-refresh-outline
                                  | typcn-refresh-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-refresh
                                  | typcn-refresh
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-rss-outline
                                  | typcn-rss-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-rss
                                  | typcn-rss
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-scissors-outline
                                  | typcn-scissors-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-scissors
                                  | typcn-scissors
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-shopping-bag
                                  | typcn-shopping-bag
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-shopping-cart
                                  | typcn-shopping-cart
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-at-circular
                                  | typcn-social-at-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-dribbble-circular
                                  | typcn-social-dribbble-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-dribbble
                                  | typcn-social-dribbble
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-facebook-circular
                                  | typcn-social-facebook-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-facebook
                                  | typcn-social-facebook
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-flickr-circular
                                  | typcn-social-flickr-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-flickr
                                  | typcn-social-flickr
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-github-circular
                                  | typcn-social-github-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-github
                                  | typcn-social-github
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-google-plus-circular
                                  | typcn-social-google-plus-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-google-plus
                                  | typcn-social-google-plus
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-instagram-circular
                                  | typcn-social-instagram-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-instagram
                                  | typcn-social-instagram
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-last-fm-circular
                                  | typcn-social-last-fm-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-last-fm
                                  | typcn-social-last-fm
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-linkedin-circular
                                  | typcn-social-linkedin-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-linkedin
                                  | typcn-social-linkedin
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-pinterest-circular
                                  | typcn-social-pinterest-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-pinterest
                                  | typcn-social-pinterest
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-skype-outline
                                  | typcn-social-skype-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-skype
                                  | typcn-social-skype
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-tumbler-circular
                                  | typcn-social-tumbler-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-tumbler
                                  | typcn-social-tumbler
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-twitter-circular
                                  | typcn-social-twitter-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-twitter
                                  | typcn-social-twitter
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-vimeo-circular
                                  | typcn-social-vimeo-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-vimeo
                                  | typcn-social-vimeo
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-youtube-circular
                                  | typcn-social-youtube-circular
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-social-youtube
                                  | typcn-social-youtube
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-sort-alphabetically-outline
                                  | typcn-sort-alphabetically-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-sort-alphabetically
                                  | typcn-sort-alphabetically
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-sort-numerically-outline
                                  | typcn-sort-numerically-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-sort-numerically
                                  | typcn-sort-numerically
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-spanner-outline
                                  | typcn-spanner-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-spanner
                                  | typcn-spanner
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-spiral
                                  | typcn-spiral
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-star-full-outline
                                  | typcn-star-full-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-star-half-outline
                                  | typcn-star-half-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-star-half
                                  | typcn-star-half
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-star-outline
                                  | typcn-star-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-star
                                  | typcn-star
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-starburst-outline
                                  | typcn-starburst-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-starburst
                                  | typcn-starburst
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-stopwatch
                                  | typcn-stopwatch
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-support
                                  | typcn-support
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-tabs-outline
                                  | typcn-tabs-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-tag
                                  | typcn-tag
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-tags
                                  | typcn-tags
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-large-outline
                                  | typcn-th-large-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-large
                                  | typcn-th-large
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-list-outline
                                  | typcn-th-list-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-list
                                  | typcn-th-list
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-menu-outline
                                  | typcn-th-menu-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-menu
                                  | typcn-th-menu
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-small-outline
                                  | typcn-th-small-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-th-small
                                  | typcn-th-small
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-thermometer
                                  | typcn-thermometer
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-thumbs-down
                                  | typcn-thumbs-down
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-thumbs-ok
                                  | typcn-thumbs-ok
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-thumbs-up
                                  | typcn-thumbs-up
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-tick-outline
                                  | typcn-tick-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-tick
                                  | typcn-tick
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-ticket
                                  | typcn-ticket
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-time
                                  | typcn-time
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-times-outline
                                  | typcn-times-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-times
                                  | typcn-times
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-trash
                                  | typcn-trash
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-tree
                                  | typcn-tree
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-upload-outline
                                  | typcn-upload-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-upload
                                  | typcn-upload
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-user-add-outline
                                  | typcn-user-add-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-user-add
                                  | typcn-user-add
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-user-delete-outline
                                  | typcn-user-delete-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-user-delete
                                  | typcn-user-delete
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-user-outline
                                  | typcn-user-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-user
                                  | typcn-user
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-vendor-android
                                  | typcn-vendor-android
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-vendor-apple
                                  | typcn-vendor-apple
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-vendor-microsoft
                                  | typcn-vendor-microsoft
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-video-outline
                                  | typcn-video-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-video
                                  | typcn-video
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-volume-down
                                  | typcn-volume-down
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-volume-mute
                                  | typcn-volume-mute
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-volume-up
                                  | typcn-volume-up
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-volume
                                  | typcn-volume
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-warning-outline
                                  | typcn-warning-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-warning
                                  | typcn-warning
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-watch
                                  | typcn-watch
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-waves-outline
                                  | typcn-waves-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-waves
                                  | typcn-waves
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-cloudy
                                  | typcn-weather-cloudy
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-downpour
                                  | typcn-weather-downpour
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-night
                                  | typcn-weather-night
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-partly-sunny
                                  | typcn-weather-partly-sunny
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-shower
                                  | typcn-weather-shower
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-snow
                                  | typcn-weather-snow
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-stormy
                                  | typcn-weather-stormy
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-sunny
                                  | typcn-weather-sunny
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-windy-cloudy
                                  | typcn-weather-windy-cloudy
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-weather-windy
                                  | typcn-weather-windy
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-wi-fi-outline
                                  | typcn-wi-fi-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-wi-fi
                                  | typcn-wi-fi
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-wine
                                  | typcn-wine
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-world-outline
                                  | typcn-world-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-world
                                  | typcn-world
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-zoom-in-outline
                                  | typcn-zoom-in-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-zoom-in
                                  | typcn-zoom-in
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-zoom-out-outline
                                  | typcn-zoom-out-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-zoom-out
                                  | typcn-zoom-out
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-zoom-outline
                                  | typcn-zoom-outline
                                .col-lg-4.col-sm-6
                                  i.typcn.typcn-zoom
                                  | typcn-zoom

                    // Container-fluid Ends
                include ../../components/footer
        .icon-hover-bottom.p-fixed.fa-fa-icon-show-div
          .container-fluid
            .row
              .icon-popup
                .close-icon
                  i.icofont.icofont-close
                .icon-first
                  i#icon_main.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification(onclick='myFunction()') Copy text
        include ../../components/footer-files   
