doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper
          .container-fluid.p-0
            // Unlock page start
            .authentication-main.mt-0
              .row
                .col-12
                  .login-card
                    div
                      div
                        a.logo(href="index.html")
                          img.img-fluid.for-light(src="../assets/images/logo/login.png" alt="looginpage" )
                          img.img-fluid.for-dark(src="../assets/images/logo/logo_dark.png" alt="looginpage" )
                      .login-main
                        form.theme-form
                          h4 Unlock                          

                          .form-group
                            label.col-form-label Enter your Password
                            input.form-control(type='password', name='login[password]', required='' placeholder="*********")
                            .show-hide
                              span.show                       

                          .form-group.mb-0
                            .checkbox.p-0
                              input#checkbox1(type='checkbox')
                              label.text-muted(for='checkbox1') Remember password
                            button.btn.btn-primary.btn-block(type='submit') Unlock

                          p.mt-4.mb-0 Already Have an account?
                            a.ml-2(href="login.html") Sign in


            // Unlock page end
        // page-wrapper Ends
        include ../../components/footer-files
