- var theme_customizer      = true;
- var tooltip               = true;
- var sidebar               = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.sidebar-icon
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                      | User Cards

                                .col-6
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')                                        
                                          i(data-feather="home")
                                      li.breadcrumb-item Users
                                      li.breadcrumb-item.active User Cards
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-md-6.col-lg-6.col-xl-4.box-col-6
                          .card.custom-card
                            .card-header
                              img.img-fluid(src='../assets/images/user-card/1.jpg', alt='')
                            .card-profile
                              img.rounded-circle(src='../assets/images/avtar/3.jpg', alt='')
                            ul.card-social
                              li
                                a(href='#')
                                  i.fa.fa-facebook
                              li
                                a(href='#')
                                  i.fa.fa-google-plus
                              li
                                a(href='#')
                                  i.fa.fa-twitter
                              li
                                a(href='#')
                                  i.fa.fa-instagram
                              li
                                a(href='#')
                                  i.fa.fa-rss
                            .text-center.profile-details
                              h4 Mark Jecno
                              h6 Manager
                            .card-footer.row
                              .col-4.col-sm-4
                                h6 Follower
                                h3.counter 9564
                              .col-4.col-sm-4
                                h6 Following
                                h3
                                  span.counter 49
                                  | K
                              .col-4.col-sm-4
                                h6 Total Post
                                h3
                                  span.counter 96
                                  | M
                        .col-md-6.col-lg-6.col-xl-4.box-col-6
                          .card.custom-card
                            .card-header
                              img.img-fluid(src='../assets/images/user-card/2.jpg', alt='')
                            .card-profile
                              img.rounded-circle(src='../assets/images/avtar/16.jpg', alt='')
                            ul.card-social
                              li
                                a(href='#')
                                  i.fa.fa-facebook
                              li
                                a(href='#')
                                  i.fa.fa-google-plus
                              li
                                a(href='#')
                                  i.fa.fa-twitter
                              li
                                a(href='#')
                                  i.fa.fa-instagram
                              li
                                a(href='#')
                                  i.fa.fa-rss
                            .text-center.profile-details
                              h4 Johan Deo
                              h6 Designer
                            .card-footer.row
                              .col-4.col-sm-4
                                h6 Follower
                                h3.counter 2578
                              .col-4.col-sm-4
                                h6 Following
                                h3
                                  span.counter 26
                                  | K
                              .col-4.col-sm-4
                                h6 Total Post
                                h3
                                  span.counter 96
                                  | M
                        .col-md-6.col-lg-6.col-xl-4.box-col-6
                          .card.custom-card
                            .card-header
                              img.img-fluid(src='../assets/images/user-card/3.jpg', alt='')
                            .card-profile
                              img.rounded-circle(src='../assets/images/avtar/11.jpg', alt='')
                            ul.card-social
                              li
                                a(href='#')
                                  i.fa.fa-facebook
                              li
                                a(href='#')
                                  i.fa.fa-google-plus
                              li
                                a(href='#')
                                  i.fa.fa-twitter
                              li
                                a(href='#')
                                  i.fa.fa-instagram
                              li
                                a(href='#')
                                  i.fa.fa-rss
                            .text-center.profile-details
                              h4 Dev John
                              h6 Devloper
                            .card-footer.row
                              .col-4.col-sm-4
                                h6 Follower
                                h3.counter 6545
                              .col-4.col-sm-4
                                h6 Following
                                h3
                                  span.counter 91
                                  | K
                              .col-4.col-sm-4
                                h6 Total Post
                                h3
                                  span.counter 21
                                  | M
                        .col-md-6.col-lg-6.col-xl-4.box-col-6
                          .card.custom-card
                            .card-header
                              img.img-fluid(src='../assets/images/user-card/7.jpg', alt='')
                            .card-profile
                              img.rounded-circle(src='../assets/images/avtar/16.jpg', alt='')
                            ul.card-social
                              li
                                a(href='#')
                                  i.fa.fa-facebook
                              li
                                a(href='#')
                                  i.fa.fa-google-plus
                              li
                                a(href='#')
                                  i.fa.fa-twitter
                              li
                                a(href='#')
                                  i.fa.fa-instagram
                              li
                                a(href='#')
                                  i.fa.fa-rss
                            .text-center.profile-details
                              h4 Johan Deo
                              h6 Designer
                            .card-footer.row
                              .col-4.col-sm-4
                                h6 Follower
                                h3.counter 2578
                              .col-4.col-sm-4
                                h6 Following
                                h3
                                  span.counter 26
                                  | K
                              .col-4.col-sm-4
                                h6 Total Post
                                h3
                                  span.counter 96
                                  | M
                        .col-md-6.col-lg-6.col-xl-4.box-col-6
                          .card.custom-card
                            .card-header
                              img.img-fluid(src='../assets/images/user-card/5.jpg', alt='')
                            .card-profile
                              img.rounded-circle(src='../assets/images/avtar/11.jpg', alt='')
                            ul.card-social
                              li
                                a(href='#')
                                  i.fa.fa-facebook
                              li
                                a(href='#')
                                  i.fa.fa-google-plus
                              li
                                a(href='#')
                                  i.fa.fa-twitter
                              li
                                a(href='#')
                                  i.fa.fa-instagram
                              li
                                a(href='#')
                                  i.fa.fa-rss
                            .text-center.profile-details
                              h4 Dev John
                              h6 Devloper
                            .card-footer.row
                              .col-4.col-sm-4
                                h6 Follower
                                h3.counter 6545
                              .col-4.col-sm-4
                                h6 Following
                                h3
                                  span.counter 91
                                  | K
                              .col-4.col-sm-4
                                h6 Total Post
                                h3
                                  span.counter 21
                                  | M
                        .col-md-6.col-lg-6.col-xl-4.box-col-6
                          .card.custom-card
                            .card-header
                              img.img-fluid(src='../assets/images/user-card/6.jpg', alt='')
                            .card-profile
                              img.rounded-circle(src='../assets/images/avtar/3.jpg', alt='')
                            ul.card-social
                              li
                                a(href='#')
                                  i.fa.fa-facebook
                              li
                                a(href='#')
                                  i.fa.fa-google-plus
                              li
                                a(href='#')
                                  i.fa.fa-twitter
                              li
                                a(href='#')
                                  i.fa.fa-instagram
                              li
                                a(href='#')
                                  i.fa.fa-rss
                            .text-center.profile-details
                              h4 Mark Jecno
                              h6 Manager
                            .card-footer.row
                              .col-4.col-sm-4
                                h6 Follower
                                h3.counter 9564
                              .col-4.col-sm-4
                                h6 Following
                                h3
                                  span.counter 49
                                  | K
                              .col-4.col-sm-4
                                h6 Total Post
                                h3
                                  span.counter 96
                                  | M

                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
