// Page Sidebar Start
- var status = (sidebar_open ? 'open' : '');
- var themify = true;

#myScrollspy.page-sidebar.custom-scrollbar(class=status)
                                              .logo-wrapper
                                                a(href='index.html')

                                                    img(src='../assets/images/logo/logo.png', alt='')
                                              ul.nav.nav-pills.flex-column.custom-scrollbar
                                                li.nav-item
                                                  a.nav-link.active(href='#section1', data-original-title='', title='')
                                                    p Introduction
                                                li.nav-item
                                                  a.nav-link(href='#section2', data-original-title='', title='')
                                                    p Getting started
                                                li.nav-item
                                                  a.nav-link(href='#section3', data-original-title='', title='')
                                                    p Options
                                                li.nav-item
                                                  a.nav-link(href='#section4', data-original-title='', title='')
                                                    p Components
                                                  ul.nav.flex-column.p-l-10.m-t-5.set-padding
                                                    li.nav-item
                                                      a.nav-link(href='#section41', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |  Basic
                                                        |                                 UI Elements
                                                    li.nav-item
                                                      a.nav-link(href='#section42', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        | Advance
                                                        |                                 UI Elements
                                                    li.nav-item
                                                      a.nav-link(href='#section43', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Animations
                                                    li.nav-item
                                                      a.nav-link(href='#section44', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Icons
                                                    li.nav-item
                                                      a.nav-link(href='#section45', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |  Forms
                                                    li.nav-item
                                                      a.nav-link(href='#section46', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |  Tables
                                                    li.nav-item
                                                      a.nav-link(href='#section47', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Cards
                                                    li.nav-item
                                                      a.nav-link(href='#section48', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Timeline
                                                    li.nav-item
                                                      a.nav-link(href='#section49', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Charts
                                                    li.nav-item
                                                      a.nav-link(href='#section410', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 maps
                                                    li.nav-item
                                                      a.nav-link(href='#section411', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Editors
                                                li.nav-item
                                                  a.nav-link(href='#section5', data-original-title='', title='')
                                                    p Apps
                                                  ul.nav.flex-column.p-l-10.m-t-5.set-padding
                                                    li.nav-item
                                                      a.nav-link(href='#section51', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |  Users
                                                    li.nav-item
                                                      a.nav-link(href='#section52', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        | Calenders
                                                    li.nav-item
                                                      a.nav-link(href='#section53', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Galllery
                                                    li.nav-item
                                                      a.nav-link(href='#section54', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Email
                                                    li.nav-item
                                                      a.nav-link(href='#section55', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Blog
                                                    li.nav-item
                                                      a.nav-link(href='#section56', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Chat
                                                    li.nav-item
                                                      a.nav-link(href='#section57', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Support Ticket
                                                    li.nav-item
                                                      a.nav-link(href='#section58', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 To-Do
                                                    li.nav-item
                                                      a.nav-link(href='#section59', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Landing Page
                                                    li.nav-item
                                                      a.nav-link(href='#section510', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Ecommerce
                                                    li.nav-item
                                                      a.nav-link(href='#section511', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Pricing
                                                li.nav-item
                                                  a.nav-link(href='#section6', data-original-title='', title='')
                                                    p Builder
                                                  ul.nav.flex-column.p-l-10.m-t-5.set-padding
                                                    li.nav-item
                                                      a.nav-link(href='#section61', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |  Page
                                                        |                                 builder
                                                    li.nav-item
                                                      a.nav-link(href='#section62', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        | Form
                                                        |                                 Builder
                                                    li.nav-item
                                                      a.nav-link(href='#section63', data-original-title='', title='')
                                                        i.fa.fa-angle-right.pull-left
                                                        |                                 Button builder
                                                li.nav-item
                                                  a.nav-link(href='#section7', data-original-title='', title='')
                                                    p Credits

// Page Sidebar Ends
