// Page Sidebar Start
- var status = (sidebar_open ? 'open' : '');

#myScrollspy.page-sidebar.custom-scrollbar(class=status)    
                                              .logo-wrapper
                                                a(href='index.html')
                                                    img(src='../assets/images/Cuba-logo.png', alt='')
                                              ul.nav.nav-pills.flex-column.custom-scrollbar
                                                h4.mb-4 Table of contents
                                                li.nav-item
                                                  a.nav-link.active(href='#section1', data-original-title='', title='')
                                                    i.fa.fa-angle-right.pull-left
                                                    | Review
            
// Page Sidebar Ends
