// footer start
if footer_dark
  footer.footer.footer-dark
       .container-fluid
            .row
                .col-md-12.footer-copyright.text-center
                    p.mb-0 Copyright 2020 © Cuba theme by pixelstrap                  
                    

else if footer_fix
  footer.footer.footer-fix
       .container-fluid
            .row
                .col-md-12.footer-copyright.text-center
                    p.mb-0 Copyright 2020 © Cuba theme by pixelstrap  

else
  footer.footer
       .container-fluid
            .row
                .col-md-12.footer-copyright.text-center
                    p.mb-0 Copyright 2020 © Cuba theme by pixelstrap  

