

    
// latest jquery
script(src='../assets/js/jquery-3.5.1.min.js')
// Bootstrap js
script(src='../assets/js/bootstrap/popper.min.js')
script(src='../assets/js/bootstrap/bootstrap.js')
// feather icon js
script(src='../assets/js/icons/feather-icon/feather.min.js')
script(src='../assets/js/icons/feather-icon/feather-icon.js')

// Sidebar jquery
script(src='../assets/js/config.js')

// Plugins JS start
if sidebar
    script(src='../assets/js/sidebar-menu.js')
        
if ckeditor
    script(src='../assets/js/editor/ckeditor/ckeditor.js')
    script(src='../assets/js/editor/ckeditor/adapters/jquery.js')
if page_ckeditor
    script(src='../assets/js/editor/ckeditor/styles.js')
    script(src='../assets/js/editor/ckeditor/ckeditor.custom.js')
if isotope
    script(src='../assets/js/isotope.pkgd.js')
if jquery_ui
    script(src='../assets/js/jquery.ui.min.js')
if bookmark_page
    script(src='../assets/js/bookmark/jquery.validate.min.js')
    script(src='../assets/js/bookmark/custom.js')
if aos
    script(src='../assets/js/animation/aos/aos.js')
if page_aos
    script(src='../assets/js/animation/aos/aos-init.js')
if tilt
    script(src='../assets/js/animation/tilt/tilt.jquery.js')
if page_tilt
    script(src='../assets/js/animation/tilt/tilt-custom.js')

if page_animate
    script(src='../assets/js/animation/animate-custom.js')

if button_builder
    script(src='../assets/js/button-builder/colorpicker.js')
    script(src='../assets/js/button-builder/clipboard.min.js')
    script(src='../assets/js/button-builder/generator.js')
    script(src='../assets/js/button-builder/extend-1.0.js')
        
if jkanban
    script(src='../assets/js/jkanban/jkanban.js')
    script(src='../assets/js/jkanban/custom.js')

if dragable_ui
    //- script(src='../assets/js/jquery.ui.min.js')

if calendar
    script(src="../assets/js/calendar/tui-code-snippet.min.js")
    script(src="../assets/js/calendar/tui-time-picker.min.js")
    script(src="../assets/js/calendar/tui-date-picker.min.js")
    script(src="../assets/js/calendar/moment.min.js")
    script(src="../assets/js/calendar/chance.min.js")
    script(src="../assets/js/calendar/tui-calendar.js")
    script(src="../assets/js/calendar/calendars.js")
    script(src="../assets/js/calendar/schedules.js")

if calendar_basic
    script(src="../assets/js/calendar/app.js")

if calendar_init    
    script(src="../assets/js/calendar/inital.js")

if chartjs
    script(src='../assets/js/chart/chartjs/chart.min.js')

if chartist
    script(src='../assets/js/chart/chartist/chartist.js')
    script(src='../assets/js/chart/chartist/chartist-plugin-tooltip.js')
        
if page_chartist
    script(src='../assets/js/chart/chartist/chartist-custom.js')
if morrischart
    script(src='../assets/js/chart/morris-chart/raphael.js')
    script(src='../assets/js/chart/morris-chart/morris.js') 
    script(src='../assets/js/chart/morris-chart/prettify.min.js')
if page_chartjs
    script(src='../assets/js/chart/chartjs/chart.custom.js')
if flotchart
    script(src='../assets/js/chart/flot-chart/excanvas.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.time.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.categories.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.stack.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.pie.js')
    script(src='../assets/js/chart/flot-chart/jquery.flot.symbol.js')
if page_flotchart
    script(src='../assets/js/chart/flot-chart/flot-script.js')
if googlechart
    script(src='../assets/js/chart/google/google-chart-loader.js')
if page_googlechart
    script(src='../assets/js/chart/google/google-chart.js')
if knobchart
    script(src='../assets/js/chart/knob/knob.min.js')
if page_knobchart
    script(src='../assets/js/chart/knob/knob-chart.js')
if page_morrischart
    script(src='../assets/js/chart/morris-chart/morris-script.js')

if peitychart
    script(src='../assets/js/chart/peity-chart/peity.jquery.js')
if page_peitychart
    script(src='../assets/js/chart/peity-chart/peity-custom.js')
if sparkline
    script(src='../assets/js/chart/sparkline/sparkline.js')
if page_sparkline
    script(src='../assets/js/chart/sparkline/sparkline-script.js')
if apex_widget
    script(src='../assets/js/chart/apex-chart/moment.min.js')
if apex
    script(src='../assets/js/chart/apex-chart/apex-chart.js')
    script(src='../assets/js/chart/apex-chart/stock-prices.js')
if page_apex
    script(src='../assets/js/chart/apex-chart/chart-custom.js')
if todo
    script(src='../assets/js/todo/todo.js')
if prism
    script(src='../assets/js/prism/prism.min.js')
if clipboard
    script(src='../assets/js/clipboard/clipboard.min.js')
if page_clipboard
    script(src='../assets/js/clipboard/clipboard-script.js')
if counter
    script(src='../assets/js/counter/jquery.waypoints.min.js')
    script(src='../assets/js/counter/jquery.counterup.min.js')
    script(src='../assets/js/counter/counter-custom.js')
if customcard
    script(src='../assets/js/custom-card/custom-card.js')
if notify
    script(src='../assets/js/notify/bootstrap-notify.min.js')
if icon_notify
    script(src='../assets/js/icons/icons-notify.js')
if vector_map
    script(src='../assets/js/vector-map/jquery-jvectormap-2.0.2.min.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-world-mill-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-us-aea-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-uk-mill-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-au-mill.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-in-mill.js')
    script(src='../assets/js/vector-map/map/jquery-jvectormap-asia-mill.js')
if dashboard_default
    script(src='../assets/js/dashboard/default.js')
    script(src='../assets/js/notify/index.js')
if datatable
    script(src='../assets/js/datatable/datatables/jquery.dataTables.min.js')
if page_datatable
    script(src='../assets/js/datatable/datatables/datatable.custom.js')
if datatable_extension
    script(src='../assets/js/datatable/datatable-extension/dataTables.buttons.min.js')
    script(src='../assets/js/datatable/datatable-extension/jszip.min.js')
    script(src="../assets/js/datatable/datatable-extension/buttons.colVis.min.js")
    script(src='../assets/js/datatable/datatable-extension/pdfmake.min.js')
    script(src='../assets/js/datatable/datatable-extension/vfs_fonts.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.autoFill.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.select.min.js')
    script(src='../assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js')
    script(src='../assets/js/datatable/datatable-extension/buttons.html5.min.js')
    script(src='../assets/js/datatable/datatable-extension/buttons.print.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.responsive.min.js')
    script(src='../assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.keyTable.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.colReorder.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js')
    script(src='../assets/js/datatable/datatable-extension/dataTables.scroller.min.js')
    script(src='../assets/js/datatable/datatable-extension/custom.js')
if date_picker
    script(src='../assets/js/datepicker/date-picker/datepicker.js')
    script(src='../assets/js/datepicker/date-picker/datepicker.en.js')
    script(src='../assets/js/datepicker/date-picker/datepicker.custom.js')
if date_rangepicker
    script(src='../assets/js/datepicker/daterange-picker/moment.min.js')
    script(src='../assets/js/datepicker/daterange-picker/daterangepicker.js')
    script(src='../assets/js/datepicker/daterange-picker/daterange-picker.custom.js')
if date_time_picker
    script(src='../assets/js/datepicker/date-time-picker/moment.min.js')
    script(src='../assets/js/datepicker/date-time-picker/tempusdominus-bootstrap-4.min.js')
    script(src='../assets/js/datepicker/date-time-picker/datetimepicker.custom.js')
if dragable
    script(src='../assets/js/dragable/sortable.js')
    script(src='../assets/js/dragable/sortable-custom.js')
if ace_editor
    script(src='../assets/js/editor/ace-editor/ace.js')
    script(src='../assets/js/editor/ace-editor/ace-custom.js')
    script(src='../assets/js/editor/ace-editor/mode-css.js')
    script(src='../assets/js/editor/ace-editor/mode-html.js')
    script(src='../assets/js/editor/ace-editor/mode-javascript.js')
    script(src='../assets/js/editor/ace-editor/mode-php.js')
    script(src='../assets/js/editor/ace-editor/theme-monokai.js')
    script(src='../assets/js/editor/ace-editor/worker-css.js')
    script(src='../assets/js/editor/ace-editor/worker-html.js')
    script(src='../assets/js/editor/ace-editor/worker-javascript.js')
    script(src='../assets/js/editor/ace-editor/worker-php.js')
if dropzone
    script(src='../assets/js/dropzone/dropzone.js')
    script(src='../assets/js/dropzone/dropzone-script.js')
if simple_mde
    script(src='../assets/js/editor/simple-mde/simplemde.min.js')
    script(src='../assets/js/editor/simple-mde/simplemde.custom.js')
if summernote
    script(src='../assets/js/editor/summernote/summernote.js')
    script(src='../assets/js/editor/summernote/summernote.custom.js')

if form_builder_2
    script(src='../assets/js/form-builder/form-builder-2/beautifyhtml.js')
    script(src='../assets/js/form-builder/form-builder-2/form-builder-2.js')
if form_wizard
    script(src='../assets/js/form-wizard/form-wizard.js')
if form_wizard_two
    script(src='../assets/js/form-wizard/form-wizard-two.js')
if form_wizard_three
    script(src='../assets/js/form-wizard/form-wizard-three.js')
    script(src='../assets/js/form-wizard/jquery.backstretch.min.js')
if form_wizard_four
    script(src='../assets/js/form-wizard/form-wizard-five.js')
if page_feather_icon
    script(src='../assets/js/icons/feather-icon/feather-icon-clipart.js')
if page_flag_icon
    script(src='../assets/js/icons/flag-icon-clipart.js')
if page_icon
    script(src='../assets/js/icons/icon-clipart.js')
if page_whether_icon
    script(src='../assets/js/icons/whether-icon-clipart.js')
if image_cropper
    script(src='../assets/js/image-cropper/cropper.js')
    script(src='../assets/js/image-cropper/cropper-main.js')
if jsgrid
    script(src='../assets/js/jsgrid/jsgrid.min.js')
    script(src='../assets/js/jsgrid/griddata.js')
    script(src='../assets/js/jsgrid/jsgrid.js')
if page_notify
    script(src='../assets/js/notify/notify-script.js')
if page_builder
    script(src='../assets/js/page-builder/jquery.grideditor.min.js')
    script(src='../assets/js/page-builder/page-builder-custom.js')
if photo_swipe
    script(src='../assets/js/photoswipe/photoswipe.min.js')
    script(src='../assets/js/photoswipe/photoswipe-ui-default.min.js')
    script(src='../assets/js/photoswipe/photoswipe.js')
if scrollreveal
    script(src='../assets/js/animation/scroll-reveal/scrollreveal.min.js')
    script(src='../assets/js/modernizr.js')
if pages_crollreveal
    script(src='../assets/js/animation/scroll-reveal/reveal-custom.js')

if range_slider
    script(src='../assets/js/range-slider/ion.rangeSlider.min.js')
if page_range_slider
    script(src='../assets/js/range-slider/rangeslider-script.js')
if rating
    script(src='../assets/js/rating/jquery.barrating.js')
    script(src='../assets/js/rating/rating-script.js')
if scrollable
    script(src='../assets/js/scrollable/perfect-scrollbar.min.js')
    script(src='../assets/js/scrollable/scrollable-custom.js')
if sticky
    script(src='../assets/js/sticky/sticky.js')
if sweetalert2
    script(src='../assets/js/sweet-alert/sweetalert.min.js')
if page_sweetalert2
    script(src='../assets/js/sweet-alert/app.js')
if timeline_1
    script(src='../assets/js/timeline/timeline-v-1/main.js')
if timeline_2
    script(src='../assets/js/timeline/timeline-v-2/jquery.timeliny.min.js')
    script(src='../assets/js/timeline/timeline-v-2/timeline-v-2-custom.js')
if time_picker
    script(src='../assets/js/time-picker/jquery-clockpicker.min.js')
    script(src='../assets/js/time-picker/highlight.min.js')
    script(src='../assets/js/time-picker/clockpicker.js')
if touchspin
    script(src='../assets/js/touchspin/vendors.min.js')
    script(src='../assets/js/touchspin/touchspin.js')
    script(src='../assets/js/touchspin/input-groups.min.js')
if owlcarousel
    script(src='../assets/js/owlcarousel/owl.carousel.js')
if page_owlcarousel
    script(src='../assets/js/owlcarousel/owl-custom.js')
if select2
    script(src='../assets/js/select2/select2.full.min.js')
if page_select2
    script(src='../assets/js/select2/select2-custom.js')
if tour
    script(src='../assets/js/tour/intro.js')
    script(src='../assets/js/tour/intro-init.js')
if tree 
    script(src='../assets/js/tree/jstree.min.js')
    script(src='../assets/js/tree/tree.js')
if typeahead
    script(src='../assets/js/typeahead/handlebars.js')
    script(src='../assets/js/typeahead/typeahead.bundle.js')
    script(src='../assets/js/typeahead/typeahead.custom.js')
if typeahead_search
    script(src='../assets/js/typeahead-search/handlebars.js')
    script(src='../assets/js/typeahead-search/typeahead-custom.js')

        
if page_vector_map
    script(src='../assets/js/vector-map/map-vector.js')
if button_tooltip_custom
    script(src='../assets/js/button-tooltip-custom.js')
if chart_widget
    script(src='../assets/js/chart-widget.js')
if comapct_menu
    script(src='../assets/js/comapct-menu.js')
if compact_small_button
    script(src='../assets/js/compact-small-button.js')
if countdown
    script(src='../assets/js/countdown.js')
if dashboard_2
    script(src='../assets/js/dashboard/dashboard_2.js')
if dashboard_3
    script(src='../assets/js/dashboard/dashboard_3.js')
if dashboard_4
    script(src='../assets/js/dashboard/dashboard_4.js')
if ecommerce
    script(src='../assets/js/ecommerce.js')
if email_app
    script(src='../assets/js/email-app.js')
if form_validation_custom
    script(src='../assets/js/form-validation-custom.js')
if contact_page
    script(src='../assets/js/bookmark/jquery.validate.min.js')
    script(src='../assets/js/contacts/custom.js')
if task_page
    script(src='../assets/js/task/custom.js')
if fullscreen
    script(src='../assets/js/fullscreen.js')
if general_widget
    script(src='../assets/js/general-widget.js')
if height_equal
    script(src='../assets/js/height-equal.js')
if hide_on_scroll
    script(src='../assets/js/hide-on-scroll.js')
if page_masonry
    script(src='../assets/js/masonry-gallery.js')
if modal_animated
    script(src='../assets/js/modal-animated.js')
if modernizr
    script(src='../assets/js/modernizr.js')
if popover_custom
    script(src='../assets/js/popover-custom.js')
if print
    script(src='../assets/js/print.js')
if product_list
    script(src='../assets/js/product-list-custom.js')
if radial_chart_tooltip
    script(src='../assets/js/radial-chart-tooltip.js')
if support_ticket_custom
    script(src='../assets/js/support-ticket-custom.js')
if tooltip
    script(src='../assets/js/tooltip-init.js')
if wow
    script(src='../assets/js/animation/wow/wow.min.js')
if page_wow
    script(src='../assets/js/animation/wow/wow-init.js')
if internationalization
    script(src='../assets/js/internationalization/language-picker.js')
if map_js
    script(src='../assets/js/map-js/mapsjs-core.js')
    script(src='../assets/js/map-js/mapsjs-service.js')
    script(src='../assets/js/map-js/mapsjs-ui.js')
    script(src='../assets/js/map-js/mapsjs-mapevents.js')
    script(src='../assets/js/map-js/custom.js')
if product_tab
    script(src='../assets/js/product-tab.js')
if login
    script(src='../assets/js/login.js')
if landing_sticky
    script(src='../assets/js/landing_sticky.js')
    script(src='../assets/js/landing.js')
if jarallax_libs
    script(src='../assets/js/jarallax_libs/libs.min.js')
if scrollpy_landing
    script(src='../assets/js/scrollpy_landing.js')
if psanimated
    script(src='../assets/js/psanimated/psanimated.min.js')
    script(src='../assets/js/psanimated/bodymovin.min.js')


// Plugins JS Ends


// Theme js
script(src='../assets/js/script.js')
if  theme_customizer
    script(src='../assets/js/theme-customizer/customizer.js')
if vertical_menu
    script(src='../assets/js/vertical-menu.js')    

if form_builder_1
    script(src='../assets/js/form-builder/form-builder-1/require.js')
    script(src='../assets/js/form-builder/form-builder-1/main-built.js')

// login js



// Plugin used
- var sidebar               = true
- var animate               = false
- var aos                   = false
- var button_builder        = false
- var calendar              = false
- var chartist              = false
- var datatable_extension   = false
- var datatable             = false
- var date_picker           = false
- var date_rangepicker      = false
- var dropzone              = false
- var google_calendar       = false
- var image_cropper         = false
- var jsgrid                = false
- var locales_calendar      = false
- var owlcarousel           = false
- var page_builder          = false
- var photo_swipe           = false
- var print                 = false
- var prism                 = false
- var range_slider          = false
- var rating                = false
- var scrollable            = false
- var select2               = false
- var simple_mde            = false
- var sticky                = false
- var summernote            = false
- var svg_icon              = false
- var sweetalert2           = false
- var time_picker           = false
- var todo                  = false
- var tour                  = false
- var tree                  = false
- var vector_map            = false
- var vertical_menu         = false
- var whether_icon          = false
- var page_aos              = false
- var scrollreveal          = false
- var page_scrollreveal     = false
- var tilt                  = false
- var page_tilt             = false
- var wow                   = false
- var page_wow              = false
- var page_animate          = false
- var page_chartist         = false
- var chartjs               = false
- var page_chartjs          = false
- var flotchart             = false
- var page_flotchart        = false
- var googlechart           = false
- var page_googlechart      = false
- var knobchart             = false
- var page_knobchart        = false
- var morrischart           = false
- var page_morrischart      = false
- var peitychart            = false
- var page_peitychart       = false
- var sparkline             = false
- var page_sparkline        = false
- var apex                  = false
- var page_apex             = false
- var clipboard             = false
- var counter               = false
- var customcard            = false
- var dashboard_default     = false
- var date_time_picker      = false
- var dragable              = false
- var ace_editor            = false
- var form_builder_1        = false
- var form_builder_2        = false
- var form_wizard           = false
- var form_wizard_two       = false
- var form_wizard_three     = false
- var form_wizard_four      = false
- var page_feather_icon     = false
- var page_flag_icon        = false
- var page_icon             = false
- var page_whether_icon     = false
- var notify                = false
- var page_range_slider     = false
- var page_select2          = false
- var page_sweetalert2      = false
- var timeline_1            = false
- var timeline_2            = false
- var touchspin             = false
- var touchspin             = false
- var button_tooltip_custom = false
- var chart_widget          = false
- var chat_menu             = false
- var comapct_menu          = false
- var compact_small_button  = false
- var countdown             = false
- var ecommerce             = false
- var email_app             = false
- var form_validation_custom= false
- var fullscreen            = false
- var general_widget        = false
- var height_equal          = false
- var hide_on_scroll        = false
- var isotope               = false
- var jquery_ui             = false
- var page_masonry          = false
- var modal_animated        = false
- var modernizr             = false
- var popover_custom        = false
- var product_list          = false
- var radial_chart_tooltip  = false
- var support_ticket_custom = false
- var tooltip               = false
- var rrule_calendar        = false

