
head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Cuba admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
        meta(name='keywords', content='admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app')
        meta(name='author', content='pixelstrap')
        link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
        link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
        title Cuba - Premium Admin Template
        // Google font
        link(href='https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap', rel='stylesheet' )
        //- // Font Awesome
        link(rel='stylesheet', type='text/css', href='../assets/css/fontawesome.css')
        // ico-font
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/icofont.css')
        // Themify icon
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/themify.css')
        // Flag icon
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/flag-icon.css')
        // Feather icon
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/feather-icon.css')        
        
        // Plugins css start
        if jsgrid
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/jsgrid.css')
        if animate
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/animate.css')
        if aos
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/aos.css')
        if button_builder
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/button-builder.css')        
        if calendar
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/calendar.css')
        if jkanban
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/jkanban.css')    
        if chartist
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/chartist.css')
        if datatable
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/datatables.css')
        if datatable_extension
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/datatable-extension.css')
        if select2
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/select2.css')
        if date_picker
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/date-picker.css')
        if date_rangepicker
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/daterange-picker.css')
        if dropzone
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/dropzone.css')
        if image_cropper
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/image-cropper.css')
        if owlcarousel
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/owlcarousel.css')
        if page_builder
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/page-builder.css')
        if photo_swipe
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/photoswipe.css')
        if prism
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/prism.css')
        if range_slider
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/range-slider.css')
        if rating
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/rating.css')
        if scrollable
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollable.css')
        if simple_mde
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/simple-mde.css')
        if sticky
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/sticky.css')
        if summernote
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/summernote.css')
        if svg_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/svg-icon.css')
        if sweetalert2
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/sweetalert2.css')
        if time_picker
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/timepicker.css')
        if todo
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/todo.css')
        if tour
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tour.css')
        if tree
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tree.css')
        if vector_map
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/vector-map.css')
        if vertical_menu
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/vertical-menu.css')
        if whether_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/whether-icon.css')
        if simple_line_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/simple-line-icon.css')
        if material_design_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/material-design-icon.css')
        if pe7_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/pe7-icon.css')
        if typicon_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/typicon-icon.css')
        if ionic_icon
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/ionic-icon.css')
        if map_js
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/mapsjs-ui.css')
        if documents 
            link(rel='stylesheet', type='text/css', href='../assets/css/document.css')
        // Plugins css Ends

        // Bootstrap css
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/bootstrap.css')

        // App css
        link(rel='stylesheet', type='text/css', href='../assets/css/style.css')
        link#color(rel='stylesheet', href='../assets/css/color-1.css', media='screen')
        // Responsive css
        link(rel='stylesheet', type='text/css', href='../assets/css/responsive.css')
