- var chat_menu             = true;
- var pe7_icon              = true;
- var tree                  = true;
- var popover_custom        = true;
- var tooltip               = true;
- var documents             = true;
doctype html
html(lang='en')
    include ../../components/header-files
    body.document(data-spy='scroll', data-target='#myScrollspy', data-offset='1')
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper.document
            include ../../components/document-header
            // Page Body Start
            .page-body-wrapper.document-content
                include ../../components/document-review-sidebar
                .page-body
                  .container-fluid
                    .row
                      .col-sm-12
                        .reviews.mb-3
                          h1 our customers reviews
                          h6
                            | best overall 
                            span
                              i.fa.fa-star(aria-hidden='true')
                              i.fa.fa-star(aria-hidden='true')
                              i.fa.fa-star(aria-hidden='true')
                              i.fa.fa-star(aria-hidden='true')
                              i.fa.fa-star(aria-hidden='true')
                            |  rating
                        #myTabContent.tab-content
                          #general.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 Wegotbatteries
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 customer support
                                h6.font-weight-bold Extra comments from the buyer:
                                h6 Great support!My problem was solved within one business day
                        #myTabContent1.tab-content
                          #general1.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 Wegotbatteries
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 customer support
                                h6.font-weight-bold Extra comments from the buyer:
                                h6 Great support!My problem was solved within one business day
                        #myTabContent2.tab-content
                          #general2.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 Sukrusukruoglu
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 customer support
                                h6.font-weight-bold Extra comments from the buyer:
                                h6 SUPER wit one word Fast and helpful support. I advice.
                        #myTabContent3.tab-content
                          #general3.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 Quochuy0880
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 customer support
                                h6.font-weight-bold Extra comments from the buyer:
                                h6 Team support customer very professional. I like this way.
                                h6 Thanks so much
                                h6 Jason
                        #myTabContent4.tab-content
                          #general4.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 flashmovar
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 customer support
                        #myTabContent5.tab-content
                          #general5.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 Azword
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 Design Quality
                                h6.font-weight-bold Extra comments from the buyer:
                                h6
                                  | This HTML theme is really perfect for our startup,the CSS/SCSS/HTML rules
                                  | are perfectly applied. The use and the handling are very simple! I advice
                                  | anyone who hesitates to buy it!
                        #myTabContent6.tab-content
                          #general6.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 VeraMorozova
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 others
                        #myTabContent7.tab-content
                          #general7.tab-pane.fade.show.active(role='tabpanel')
                            .card
                              .card-header.b-l-primary.set-flex
                                h5 sdavereda
                                .ml-auto
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                                  i.fa.fa-star(aria-hidden='true')
                              .card-body
                                h6.font-weight-bold Main reason:
                                h6.mb-4 Design Quality
                                h6.font-weight-bold Extra comments from the buyer:
                                h6 Love the design!Recommended

                include ../../components/footer
        include ../../components/footer-files
