/*======= Comment Template =======*/
.comments-template {
    margin-top: 70px;

    .template-title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .comments-list {
        .comment {
            &:not(:last-child) {
                margin-bottom: 40px;
            }

            .children {
                margin-top: 40px;
                padding-left: 60px;
            }

            .comment-body {
                display: flex;
            }

            .avatar {
                width: 100px;
                height: 100px;
                flex: 0 0 100px;
                margin-right: 30px;
            }

            .author-name {
                color: $color-heading;
                font: {
                    size: 20px;
                    family: $font-cs-bold;
                    weight: 700;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 14px;

                .date {
                    font: {
                        size: 17px;
                        family: $font-cs-medium;
                        weight: 500;
                    }
                }
            }

            .reply {
                font: {
                    size: 17px;
                    family: $font-cs-medium;
                    weight: 500;
                }
                color: #415674;
                transition: 0.3s;
                margin-top: 5px;
                text-transform: uppercase;

                &::after {
                    content: "\f178";
                    display: inline-block;
                    font-family: "Font Awesome 5 Pro";
                    padding-left: 10px;
                }
            }
        }
    }

    .comments-respond {
        margin-top: 70px;
        padding-top: 70px;
        border-top: 1px solid $color-offwhite;

        .input-field {
            position: relative;

            .icon {
                color: $color-primary;
                font-size: 17px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.textarea-field {
                .icon {
                    top: 20px;
                    transform: translateY(0);
                }
            }
        }

        input,
        textarea {
            height: 65px;
            background-color: transparent;
            border: 2px solid $color-offwhite;
            border-radius: 5px;
            padding-left: 20px;
            padding-right: 50px;
        }

        textarea {
            height: 140px;
        }
    }
}
