/*======= Post Pagination =======*/
.post-pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;

    li {
        margin-right: 10px;
        margin-top: 10px;
    }

    a {
        border: 2px solid $color-offwhite;
        border-radius: 5px;
        color: $color-heading;
        height: 50px;
        width: 50px;
        font: {
            weight: 700;
            size: 18px;
            family: $font-cs-bold;
        }
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            background: $color-primary;
            color: $color-white;
            border: 2px solid $color-primary;
            box-shadow: 0px 10px 30px 0px rgba(71, 59, 240, 0.5);
        }
    }
}
